[2019-06-10 11:57] motyc opened #19 "Optimalizace filesystému"
Optimalizovat úložiště souborů tak, aby nebylo tolik zatěžující pro filesystem (vytvořením nové struktury složek). Data rozdělit z hlediska nutnosti zálohování a archivace do dílčích složek (vnitřní struktura bude odpovídat implementaci podle potřeb Djanga):
- [x] AG (původně navrženo AGPO) - automaticky generované soubory projektové dokumentace (oznameni z klienta stisknutí zapsat a pri vygenerov

[2019-10-15 09:42] motyc opened #16 "Tabulka "akce" pole "final_cj" - špatná hodnota"
U projektových akcí ("typ" = R) má být asi všude final_cj automaticky "PRAVDA". Nyní je to nějak zvláštně. Nepravda logicky musí být jen u samostatných akcí, které mají stále v "ident_cely" X na začátku.

[2020-04-27 11:37] motyc opened #18 "Přestat rozesílat notifikační emaily u deaktivovaných účtů"
Je to problém hlavně tehdy, kdy uživatelé zruší email a nám se neustále vrací chybové hlášky do schránky.

U neaktivních účtů zachovat pouze emaily spojené s aktivací/deaktivací účtů.

[2020-08-05 11:18] motyc opened #17 "Katastry nevést vždy jako jednotky PIAN"
Katastry bychom měli mezi PIAN zařadit až při prvním použití, neměly by tak existovat zbytečné PIAN 4 (přesnost na katastr) bez vazeb. V praxi to znamená:
- [x] při migraci smazat PIAN s přesností 4 v případech, kdy na ně není napojena žádná dokumentační jednotka; dotaz na výběr je: `SELECT pian.* FROM heslar_nazev INNER JOIN (heslar INNER JOIN (pian LEFT JOIN dokumentacni_jednotka ON pian.id = do

[2021-01-07 20:22] motyc opened #1 "Podklady pro úpravu databáze (průběžně aktualizováno)"
### Access:
[Databaze_200805.zip](https://github.com/ARUP-CAS/aiscr-webamcr/files/5783803/Databaze_200805.zip)
[Databaze_200805_faze_1.zip](https://github.com/ARUP-CAS/aiscr-webamcr/files/5783804/Databaze_200805_faze_1.zip)
[Databaze_200805_faze_2_alt.zip](https://github.com/ARUP-CAS/aiscr-webamcr/files/5783805/Databaze_200805_faze_2_alt.zip)
[Databaze_200805_faze_4.zip](https://github.com/ARUP-CA

[2021-01-13 14:13] Najiva opened #2 "Migrace historie transakci akci do novych transakci"
Akce po novu budou mit min stavu (viz stavovy diagram PA https://app.diagrams.net/#G1DU_x1cCJy4JuHP5A_8CPELRzlKhST9CP). Proto je krome namapovani starych stavu na nove (co jsem uz udelal v souboru 4_migrace_akce_stavy.sql) potreba premapovat transakce ktere jsou v tabulce historie v relaci k akci.

-- NOVE TRANZAKCE AKCI:
-- 1 - zapsani
-- 2 - odeslani
-- 3 - archivovani
-- 4 - vraceni COMMENT: bu

[2021-01-19 13:35] Najiva opened #3 "Omezit kam uzivatel muze kliknout v mape v oznamovacim formulari jen na CR"
Tenhle requirement nebyl nikde explicitne napsan ale predpokladam ze je nutne ho implementovat.

PS: Uz jsem ho pridal do URS-AMCR.docx

[2021-01-23 15:43] Najiva opened #4 "REQ-P-7 Integrace dropzone.js do oznamovaciho formulare"
Pridat dropzone.js do projektu.

[2021-01-28 09:40] Najiva opened #5 "Vyhledávání v mapě REQ-P-17"
Do mapy dodělat vyhledávání dle názvu obce, atd...

[2021-01-28 09:47] Najiva opened #6 "REQ-G-1 Login page"
The login shall look similar to https://amcr.aiscr.cz/login/

[2021-01-28 09:50] Najiva opened #7 "REQ-G-6 Homepage -> menu, navigation bar"
Homepage and menu shall look similar to menu in https://amcr.aiscr.cz/

[2021-01-28 09:56] Najiva opened #8 "REQ-G-5 Potvrzovaci dialog box pred odeslanim formularu"
Tady je pozadavek na confirmacni dialog box (napr. modal) pri posilani jakehokoli post requestu z formy vyplnene uzivatelem. Momentalne oznamovaci formular tuto funkcionalitu nema. Chceme ji uvazovat skutecne pro vsechny formy nebo tady to neni potreba?

[2021-01-28 10:13] Najiva opened #9 "REQ-P-4 Navrh a implementace views pro tranzakce projektu"
Tranzakce projektu a jejich views

- [x] PX1 - ?
- [x] P12 - /projekt/prihlasit/ident_cely
- [x] P23 - /projekt/zahajit-v-terenu/ident_cely
- [x] P34 - /projekt/ukoncit-v-terenu/ident_cely
- [x] P45 - /projekt/uzavrit/ident_cely
- [x] P56 - /projekt/archivovat/ident_cely
- [x] P*7 - /projekt/navrhnout-ke-zruseni/ident_cely
- [x] P78 - /projekt/zrusit/ident_cely
- [x] P-1 - /projekt/vratit/ident_ce

[2021-01-28 10:22] Najiva opened #10 "REQ-P-20 - implementace detailu projektu"
View pro detail projektu /projekt/detail/ident_cely dle navrhu ve figme.

https://www.figma.com/file/j05tdIDpPvDixlMM1Oj75E/Webclient?node-id=59%3A0

[2021-01-28 13:56] Najiva opened #11 "Pridat check ze pri dokonceni oznameni jsou vsechny soubory nehrane spravne."
Tohle by mel byt javascript check, tak aby bylo jasne ze uzivatel nahral vsechno co chtel.

[2021-01-29 08:54] Najiva opened #12 "Zabraneni duplicitnim oznamenim a umozneni editace existujiciho oznameni pri kroku zpet"
Tohle je funkcionalita ktera neni v requirementech ale prida to na robustnosti reseni proto je potreba uvazovat o pridani. Momentalne server nechrani pred duplicitami ani neumoznuje update jednou postnuteho oznameni.

[2021-02-01 12:18] Najiva opened #13 "Navrhnout ve figme detail dokumentu"
Jednoduchy navrh ve figme ktery bude zalozen na detailu dokumentu tak jak je v desktopu.

[2021-02-05 08:58] Najiva opened #14 "Integrace SCSS do projektu"

[2021-02-05 13:41] Najiva opened #15 "Pridat check constraints na vsechny sloupce ktere referuji na heslar"
Check constraint by mel  byt zalozen na nazvu heslare ne na id-ckach.

EDIT @motyc: podrobněji viz: https://github.com/ARUP-CAS/aiscr-webamcr/issues/15#issuecomment-1293309590

[2021-02-06 13:17] motyc opened #20 "Při migraci odstranit sirotky v dokumentech a souborech"
Nepřenášet:
- [x] Soubory bez vazeb
- [x] Nepotvrzené dokumenty bez vazeb

[2021-02-06 14:13] motyc opened #21 "REQ k zapracování"
Do následujícího dokumentu jsem přehledněji zpracoval dosud nezahrnuté REQ vzešlé z analýzy issues ve starších repozitářích (tam jsem issue již naopal pročistil a po přepisu uzavřel). Jde o různé typy REQ, u kterých nevím, zda je mám rovnou zanášet do oficiálních požadavků, nebo zda to bude chtít @Najiva a @pkudela a @pbartosova probrat předem (týká se to asi všech).

https://docs.google.com/docum

[2021-02-08 10:24] Najiva opened #22 "Upravit migrace tak aby heslar mel vzdy konstantni IDcka"
Je potraba upravit migrace hesel tak aby bylo zajisteno ze IDcka budou porad stejna.

ORDER BY ID by to melo zajistit. Je potreba ale myslet na to ze z heslaru uz neni mozne nic mazat ani pridavat. Jinak je nezbytne to opet predelat aby byl vycet hesel primo v migracich jako konstatny.

[2021-02-09 09:33] Najiva opened #23 "Vyjmuti hlavnich katastru a vedoucich do sve parent tabulky"
Jde zejmena o:

- [x] hlavni_katastr archeologickeho_zaznamu
- [x] hlavni_katastr projektu

- [x] hlavni_vedouci akce

[2021-02-10 09:08] pkudela opened #24 "Login page"
Na zaklade pozadavku od @motyc pridat na login page 2 boxy - popis aplikace + aktuality, podobne, jako je to na titulni strance v digiarchivu -> https://digiarchiv.aiscr.cz/home

[2021-02-10 12:47] Najiva opened #25 "BR-P-1 - predelat pridelovani poradoveho cisla projektum"
Poradove cislo ktere jiz jednou pro dany rok bylo prideleno musi byt nekde ulozene tak aby po pripadnem smazanit tohoto zaznamu nemohla nastat situace, ze se "vygeneruje" stejny identifikator podruhe.

[2021-02-15 11:08] Najiva opened #26 "Setup CI workflow pro testovani kodu po kazdem pushnuti"

[2021-02-19 10:56] #26 closed, assigned to Najiva

[2021-02-19 10:57] #23 closed, assigned to Najiva

[2021-02-19 10:58] #22 closed, assigned to nobody

[2021-02-23 10:38] #14 closed, assigned to Najiva

[2021-02-23 10:45] #6 closed, assigned to Najiva

[2021-02-23 10:46] Najiva opened #27 "REQ-G-13: It must be possible to register a new user."
Implementace registrace uzivatele.

[2021-02-23 10:47] Najiva opened #28 "REQ-G-14: For registered users there must be a way to reset forgotten passwords."
Idealne implementaovat s vyuzitim funkcionality djanga.

[2021-02-23 11:28] Najiva opened #29 "Deploy dockerfile"
Je potreba pripravit dockerfile a docker compose na deployment.

[2021-02-23 16:30] Najiva opened #30 "Doresit chybu kdyz uzivatel uploaduje stejny soubor 2x"
Hlaska musi byt srozumitelna.

[2021-02-23 16:31] #16 closed, assigned to Najiva

[2021-02-24 18:41] #29 closed, assigned to Najiva

[2021-03-01 08:30] pkudela opened #31 "Footer layout, fixed bottom position, content similar to the original application"

[2021-03-01 14:19] Najiva opened #32 "REQ-A-4 Each record transaction must update/fill required columns according to Table 2 and Table 3"
Tranzakce akci jejich views

- [x] AX1 arch_z/zapsat
- [x] A12 arch_z/odeslat/ident_cely
- [x] A23 arch_z/archivovat/ident_cely
- [x] A-1 arch_z/vratit/ident_cely

[2021-03-01 17:52] Najiva opened #33 "Pridat do oznamovaciho formulare state navigation component"
V oznamovacim formulari bude tato komponenta udelana stejne jako v detailu projektu. Stavy budou Krok 1- Krok 2 Viz. issue #10

[2021-03-01 17:54] #31 closed, assigned to Najiva

[2021-03-02 10:54] Najiva opened #34 "BR-A-2 Pri zapisu projektove akce priradit ident_cely"
Identifikator se bude v create view projektove akce.

[2021-03-02 14:39] #34 closed, assigned to Najiva

[2021-03-03 14:45] Najiva opened #35 "Upozornit uzivatele kdyz se nepovede priradit katastr na servru a neumoznit mu to odeslani na krok 2."

[2021-03-03 14:46] #3 closed, assigned to jiri-bartos-huld

[2021-03-03 15:48] motyc opened #36 "Řešení pro datum_zahajeni a datum_ukonceni akce"
**Původní řešení**
![image](https://user-images.githubusercontent.com/20186892/109828336-d3e7d500-7c3c-11eb-9246-ab59ea56663d.png)

**Nové řešení**
Specifikace se zúží na následující varianty:
- přesně -> přesně
- po roce -> někdy v letech
- před rokem -> někdy v letech
- kolem -> někdy v letech
- v letech -> přesně v letech
- v roce -> přesně v letech
- neznámo -> někdy v letech

Původní data v p

[2021-03-03 17:26] Najiva opened #37 "Navrhnout novou specifikaci data a s tim spojenou migraci"
- [x] Odebrat datum_zahajeni a datum_ukonceni - @Najiva
- [x] Navrh novych zaznamu z heslar_specifikace_data - @motyc viz issue #36
- [x] Zmigrovat data - @Najiva

[2021-03-04 12:12] Najiva opened #38 "Migrace souborů do Fedory"
Je třeba napsat novou funkci pro migraci do Fedory (obdoba `DocumentGenerator.generate_metadata(*)` (vč. možnosti spustit pro konkrétní id a pro konkrétní počet záznamů), která bude vycházet z tabulky `soubor`. Ta by měla:
- [x] Vyhledat nadřazený záznam (sam. nález, projekt, dokument)
- [x] V rámci kontejneru nadřazeného záznamu vytvořit kontejner pro soubory, pokud ještě neexistuje
- [x] Vybrat

[2021-03-04 12:14] Najiva opened #39 "Proklik na detail záznamu z mapy a zobrazení popisků"
V popisu bodu v mape je zobrazen ident_cely (projektu, PIAN...). Vyřešit jako hyperlinky, které povedou buď na konkrétní záznam (tam kde je vazba jednoznačná - projekty, 3D, sam. nálezy), nebo na filtraci podle PIAN (nutno dospecifikovat).

EDIT @motyc: podrobněji viz: https://github.com/ARUP-CAS/aiscr-webamcr/issues/39#issuecomment-1293334885

[2021-03-04 12:25] Najiva opened #40 "REQ-P-23 - upload, download a mazani projektovych souboru"
- [x] Pridat funkcionalitu
- [ ] Pridat omezeni na upload, download a mazani dle requirementu

[2021-03-08 12:18] #37 closed, assigned to Najiva

[2021-03-10 11:58] motyc opened #41 "Připravit definice testovacích scénářů"

[2021-03-10 12:58] Najiva opened #42 "Pridat django-autocomplete-lite do projektu"
Autocomplete zatim jen katastry.

[2021-03-10 13:15] Najiva opened #43 "Proklik z detailu projektove akce na projekt"
Myslim ze by se proklik hodil ale nevim kam ho umistit, protoze projektove akce v detailu nemaji zadne info o rodicovskem projektu. Chtelo by tam nejake minimum nekde pridat.

[2021-03-10 17:20] Najiva opened #44 "REQ-D-6 - detail dokumentu"
url: dokument/detail/ident_cely

- [x] Implementace detailu
- [x] Pridani casti_dokumentu
- [x] Uprava stylu

[2021-03-12 16:53] motyc opened #45 "Mazání záznamů - nastavení cascade"
Nahrazeno specifikací v: https://docs.google.com/spreadsheets/d/198WB6Bgo7ZiSq041RffxSTaq1paATOfpn3RwudTrtM0/edit

[2021-03-16 17:08] #4 closed, assigned to pkudela

[2021-03-17 11:39] Najiva opened #46 "Nalez - osetrit strukturu databaze"

[2021-03-17 11:49] Najiva opened #47 "Pridat do detailu projektu list samostatnych nalezu (v pripade ze projekt je typu pruzkum)"

[2021-03-17 12:25] Najiva opened #48 "Revize cizich klicu database AMCR"
Tabulka se vsemi klici nove verze databaze k dnesnimu datu:

https://docs.google.com/spreadsheets/d/198WB6Bgo7ZiSq041RffxSTaq1paATOfpn3RwudTrtM0/edit#gid=1298467805

[2021-03-17 16:47] motyc opened #49 "Revize mapového prostředí"
### Aktuálně k dodělání:
**PAS**
- [x] #235
- [ ] - zásadní odchylka v transformacích souřadnic S-JTSK -> WGS-84 (až 10 m); při zadání WGS-84 poloha sedí, a to včetně převodu WGS-84 -> S-JTSK; zde srovnání správné polohy v GIS a chybné v aplikaci:
![image](https://user-images.githubusercontent.com/20186892/136557608-51a6fa8c-a4a3-405b-a20d-0d67e9116d64.png)

Dokument se zápisem poznámek dostupný z

[2021-03-17 17:49] motyc opened #50 "Revize názvů heslářů"
Bylo by vhodné hesláře po migraci přejmenovat a ujednotit jejich pojmenování (aby se v nich dalo lépe vyznat), a to následujícím způsobem:

heslar_aktivity -> aktivita
heslar_areal_druha -> areal
heslar_areal_prvni -> areal_kat
heslar_autorska_role -> autorska_role
heslar_dohlednost -> dohlednost
heslar_druh_lokality_druha -> lokalita_druh
heslar_druh_lokality_prvni -> lokalita_druh_kat
heslar_for

[2021-03-17 18:12] Najiva opened #51 "Render daterange v projekt edit form ve stejnem formatu jako daterangepicker"

[2021-03-17 20:56] #45 closed, assigned to Najiva

[2021-03-23 08:39] #51 closed, assigned to Najiva

[2021-03-30 15:59] #46 closed, assigned to Najiva

[2021-03-30 16:31] #50 closed, assigned to Najiva

[2021-03-30 16:45] #36 closed, assigned to Najiva

[2021-04-06 13:30] Najiva opened #52 "REQ-P-25 - mazani projektu"
Implementace dle zadani v URS.

[2021-04-07 07:58] #24 closed, assigned to motyc

[2021-04-07 11:48] Najiva opened #53 "Ident-cely komponenty a dokumentacni jednotky"
Implementovat generovani techto dvou identifilatoru

[2021-04-08 08:27] motyc opened #54 "Podoba a chování tabulek"
- [x] Tabulka má výchozí sestavu sloupců, uživatel může zobrazení některých vypnout, případně přidat další dostupné.
- [x] Příliš dlouhý text je takový, který se do buňky nevejde při její aktuální velikosti. V takovém případě řetězec zkrátit podle velikosti pole, na konec doplnit „(…)“ a celý obsah zobrazit jako tooltip.
- [x] Umožnit export dat z tabulek (CSV, JSON, XML, XLSX).
- [x] Musí být zře

[2021-04-14 09:54] Najiva opened #55 "Add disable to form submission buttons after submitted to prevent double clicking"

[2021-04-14 12:01] #55 closed, assigned to Najiva

[2021-04-20 14:00] Najiva opened #56 "Spojit create a edit.html do jednoho souboru"
- [x] Arch_z
- [x] Dokument

[2021-04-20 14:07] #53 closed, assigned to Najiva

[2021-04-20 14:10] Najiva opened #57 "Migrace ident_cely pro ADB"
Odebrat X a pridat 2 nuly v sekvenci.

[2021-04-21 05:42] #56 closed, assigned to Najiva

[2021-04-21 09:10] #52 closed, assigned to Najiva

[2021-04-21 10:00] #43 closed, assigned to pkudela

[2021-04-21 11:47] Najiva opened #58 "Bug pri migraci nalezu z tabulky nalez_dokument"
Pravdepodobne pri migraci dat 5 se omylem do tabulky nalez_dokument migravali nespravne druhy_nalezu (pri precislvoani heslare.)

[2021-04-22 10:51] motyc opened #59 "Doplnění číslice do identifikátorů"
- [x] jednotky (části) dokumentu: D01 -> D001
- [x] komponenty: K01 -> K001
- [x] komponenty dok.: K01 -> K001

[2021-04-23 09:22] Najiva opened #60 "Zmigrovat dokument_extra_data.datum_vzniku na date"

[2021-04-23 09:39] #57 closed, assigned to Najiva

[2021-04-23 10:05] #60 closed, assigned to Najiva

[2021-04-23 17:35] Najiva commented on #59
Ano slo by to udelat i jinak pomoci left, right. Stejne jak v pripade casti dokumentu. Tohle ale bude taky fungovat, protoze nikde jinde nez na konci se v komponentach '-K' nevyskytuje.

[2021-04-27 13:10] Najiva opened #61 "formset.is_valid() hazi true i kdyz se specifikace a druh needitoval"
Potreba zajistit ze django spravne srovnava instance heslare a choices.

[2021-04-28 08:18] Najiva opened #62 "Pridat karty v homepage a homepage projektu"

[2021-04-28 12:40] Najiva opened #63 "Detail implementace generovani docasnych a permanentnich identifikatoru"
Implementovane identifikatory a jejich funkce:

1.  get_permanent_project_ident https://github.com/ARUP-CAS/aiscr-webamcr/blob/63e464fa4e7aa3c0c5812c0f3ce91c0dad015c43/webclient/core/ident_cely.py#L44
2. get_temporary_project_ident https://github.com/ARUP-CAS/aiscr-webamcr/blob/63e464fa4e7aa3c0c5812c0f3ce91c0dad015c43/webclient/core/ident_cely.py#L51
3. get_project_event_ident https://github.com/A

[2021-04-28 12:42] Najiva opened #64 "Jak editovat pridavani a odebirani autoru spolecne s definovanim jejich poradi"
Momentalne se autori k dokumentu nepridavaji. Je potraba najit javascript komponentu kompatibilni s djangem ktera eviduje taktez poradi.

[2021-04-28 12:45] #33 closed

[2021-04-28 12:45] #32 closed

[2021-04-28 12:46] Najiva commented on #30
Idelni bude kdyz uzivatel uvidi info o souboru ktery tam je (ke kteremu zaznamu je pripojen).

[2021-04-28 12:47] Najiva commented on #25
Tohle bude diskutovano v ramci issue #63.

[2021-04-28 12:47] #25 closed

[2021-04-28 12:48] Najiva commented on #13
Detail se ve figme jiz navrhovat nebude.

[2021-04-28 12:48] #13 closed

[2021-04-28 12:53] Najiva commented on #47
Seznam samostatnych nalezu byl pridan.

[2021-04-28 12:53] #47 closed

[2021-04-28 16:08] #30 closed

[2021-05-04 06:32] Najiva commented on #62
Pridal jsem url na homepage projektu. Je potreba tam pridat karty ktere budou odpovidat tomu co je v java clientovi.

[2021-05-04 06:40] Najiva commented on #62
![application homepate](https://user-images.githubusercontent.com/26173315/116968208-51b77380-acb4-11eb-9e87-f8fea1a0d32e.PNG)

![aplikace projekt](https://user-images.githubusercontent.com/26173315/116968176-43695780-acb4-11eb-8653-587116fb821a.PNG)

[2021-05-04 11:21] Najiva opened #65 "Import hesel v migraci porad nedeterministicky"

[2021-05-04 14:22] motyc commented on #63
Obecné problémy, které souvisí se způsobem implementace, pokud se vychází pouze z pořadí:
1) Není zachována persistence v případě posledního přiděleného ID (po smazání se obratem nahradí novým záznamem s jiným obsahem).
2) Systém nepočítá s importy, které nejsou obvykle řazeny přímo v návaznosti na současnou řadu, ale zachovávají odstup od ID přidělovaných systémem (jinak by nebylo možné import ro

[2021-05-05 06:12] #65 closed

[2021-05-05 06:48] Najiva opened #66 "Pridat zpusob jak se dostat z dokumentu do akce?"

[2021-05-05 08:30] pkudela commented on #62
Po dohode s Davidem, karta digitalni archiv na home page nebude, odkaz na digiarchiv se umisti jinam, cili pro ted pripravim karty pro entity: projekty, knihovna 3D a samostatne nalezy. Cili shrnuto, karty na home page by mely odpovidat seznamu "entit" v digiarchivu, @motyc prosim potvrd / upresni

[2021-05-05 08:51] motyc commented on #62
Ano, souhlasí.

[2021-05-05 11:58] #10 closed

[2021-05-05 12:07] Najiva opened #67 "Upravy 5.5.2021"

[2021-05-05 12:45] Najiva commented on #67
1. Sloucit kony
2. Text pripojeni projektu: Pripojit existujici dokument z tohoto projektu
3. Pridat mezikrok pri pripojovani dokumentu k akci
   a. Autor, rok, organizace, popis, typ dokumentu, oznaceni originalu
4. Overit jak by slo uploadovat projektove soubory mimo soubory/
5. Do tooltipu jmeno + prijmeni + ident + organizace
6. Pridat historii
7. Pridat zapis noveho projektu formular pro crea

[2021-05-05 16:28] pkudela commented on #62
hotovo, design based on @motyc comments, u home je jediny link na projekt, protoze ten existuje, ostatni zatim nevedou nikam. Na strance projekt jsem vzal linky ze sidebaru, jediny link, ktery zatim neni je "Zapsat projekt", prosim pak doplnit do kodu. Je trebe jeste doladit hover event na kartu na home page a az to bude vyladene, tak se udelaji stejnym zpusobem popisky na strance projekt.

[2021-05-05 19:02] pkudela commented on #62
Tak tu anomalii s tim collapsovanim @Najiva vyresim, uz vim jak, bootstrap collapse neni mozne pouzit na hover event, pouze na click.

[2021-05-06 12:58] pkudela commented on #62
anomalie vyresena, popisky nasazeny i na karty projektu, je to pripravene a pushnute

[2021-05-07 10:53] Najiva commented on #66
Skrz link u casti dokumentu.

[2021-05-07 10:53] #66 closed

[2021-05-07 10:54] #59 closed

[2021-05-07 10:57] Najiva commented on #44
Stavajici stav. Pro vyvoj muzes pouzit /dokument/detail/C-DT-100004853

![Screenshot from 2021-05-07 12-55-17](https://user-images.githubusercontent.com/26173315/117439754-89801e80-af33-11eb-8d7e-833f77133680.png)
@pkudela  Chce to u dokumentu upravit hlavne Detail a pak formu v editaci.

[2021-05-10 09:03] Najiva commented on #62
Vyborne zaviram.

[2021-05-10 09:03] #62 closed

[2021-05-10 09:06] Najiva opened #68 "Uprava stylu filtru projektu"
Je potreba upravit rozlozeni filtru v projekt/list. Domluvit s Davidem.

Aktualni podoba:
![Screenshot from 2021-05-10 11-05-59](https://user-images.githubusercontent.com/26173315/117635012-c3456500-b17f-11eb-8d70-876e838cc688.png)

[2021-05-11 13:41] Najiva commented on #63
Pokousim se naimplementovat nove prirazovani ident_cely na zaklade sekvence pro ruzne rady projektu. Vytvoril jsem tabulu projekt_sekvence. Nove chovani bude nasledujici:

1. Poradove cislo pro danou radu se bude brat ze sloupce sekvence. Pro kazdou radu a rok zvlast. Tady je potreba aby tam nikdo nesahal a aby tam bylo dost let dopredu. Sekvence nema kto resetovat takze tam budou natvrdo roky dop

[2021-05-11 15:01] Najiva commented on #63
![Screenshot from 2021-05-11 17-00-46](https://user-images.githubusercontent.com/26173315/117838284-7d20fc00-b27a-11eb-924e-48d94dac9ddd.png)

[2021-05-12 09:10] Najiva opened #69 "Meeting 12.05.2021"
- [x] 1. Oznamovatel se nevygeneruje ale musim ho dynamicky vytvorit ve formulari vytvareni oznamovatel.
- [ ]  2. V editaci a create projektu pridat automaticke vyplneni katastru
- [x] 3. Pridat organizaci pri filtru projektu spravovat akce
- [x] 4. Pri prechodu na home projektu rozbalit projekty v sidebaru (pri vsech projektovych views) a pridat do listy nazev filtru
- [x] 5. Zrusit filtry tlaci

[2021-05-12 09:14] #67 closed

[2021-05-13 08:31] Najiva commented on #63
Jeste se zapomelo na jednu vec a to je ze kdyz se projekt vrati do predchoziho stavu tj. ze zapsan do oznamen (co udelat lze), projektu se priradi opet novy permanentni ident. Tohle asi nechceme ze?

[2021-05-13 09:08] motyc commented on #63
Ze zapsán do oznámen by neměl jít projekt vůbec vrátit.

[2021-05-13 10:39] Najiva commented on #63
Aha tak tenhle pozadavek jsem nezaznamenal. V poradku.

[2021-05-17 12:14] Najiva opened #70 "Uprava stylu resetu hesla"
HTML templaty ktere je potreba nastylovat:

![Screenshot from 2021-05-17 14-11-36](https://user-images.githubusercontent.com/26173315/118486411-df19af80-b719-11eb-9f99-48dbaeca7c01.png)

Link na URLs je z login screenu. Email s vygenerovanym URL pro reset se ulozi do souboru na 192.168.254.17:/home/amc/sink

[2021-05-18 08:11] Najiva commented on #28
Funkcionalita pridana.

[2021-05-18 08:11] #28 closed

[2021-05-20 07:51] pkudela commented on #70
hotovo, @Najiva prosim o otestovani a pak zavrit, dik

[2021-05-20 08:13] Najiva opened #71 "Meeting 20.05.2021"
- [x] Dodelat popis list urls

[2021-05-20 10:21] vojtakus commented on #38
ve skriptu 6_migrace_dalsi.sql zjištěn dlouho běžící příkaz:
update historie h set typ_zmeny = 4
where id in (select his.id as hid from historie his join historie_vazby as hv on hv.id=his.vazba where hv.typ_vazby='archeologicky_zaznam' and his.typ_zmeny=7);

[2021-05-20 11:20] vojtakus commented on #38
Cesta k logům (pod uživatelem postgres):
/var/lib/pgsql/aiscr-webamcr/migrace/migrace_all.log
/var/lib/pgsql/aiscr-webamcr/migrace/migrace_all2.log

[2021-05-20 15:15] pkudela commented on #44
Hotovo, @Najiva prosim mrkni na to pole "Osoby", tam to hazi chybu, pokud tam zadam - {{ dokument.osoby.all|hesla_to_list }} - je to v kodu vedle zkomentovana, az to opravis, tak to rovnou zmen i v popoveru hned pod tim v atributu "data-content"

[2021-05-21 08:30] pkudela commented on #68
@Najiva abych mohl upravit layout fomulare, potrebuji pripravit do filters.py alespon zaklad html, stejne jako je to u ostatnich formularu, cili obal div class "row" a pod tim pro kazdy field div s class "col-sm-12", jakmile toto bude pripravene a David doda navrh layoutu pro jednotlive fieldy, pak to podle toho upravim. NIze posilam priklad co potrebuji z jineho formulare:
![image](https://user-i

[2021-05-21 08:35] pkudela commented on #68
@Najiva dale je potreba vytahnout button pro smazani filtru z formulare a umistit vedle buttonu pro rozbaleni filtru - to jsem jiz udelal, ale je potreba aby byl viditelny jen pokud je nektery z filtru vybran, pokud zadny filtr neni vybran/aktivovan, tak se button pro odstraneni filtru nezobrazi
![image](https://user-images.githubusercontent.com/16591052/119108159-31134b80-ba20-11eb-94f9-97e0b27d8

[2021-05-21 08:36] pkudela commented on #68
jakmile to budes @Najiva mit hotove, prehod issue zase na me, prosim

[2021-05-21 08:38] pkudela opened #72 "Vytahnout html tabulky pro list projektu do templatu"
Pro upravy dle issue #54 je nutne vytahnout html tabulky do templatu, aby se mohlo libovolne editovat.

[2021-05-21 13:48] Najiva commented on #72
Tabulka je vytazena v projekt/templates/bootstrap4_table.html Pridavat class k jednotlivym radkum/sloupcum atd. lze i v projekt/tables.py Viz. radek 9

[2021-05-21 13:50] Najiva commented on #54
Pridal jsem popis kolik je v tabulce zaznamu. @pkudela Zbyva umistit a nastylovat.

[2021-05-22 06:42] Najiva commented on #68
Mas to tam.

[2021-05-22 06:45] #71 closed

[2021-05-22 06:45] #70 closed

[2021-05-22 07:30] Najiva opened #73 "Export tabulky projektu"
Pridal jsem export do formatu json, xlsx a csv.
1. XML zatim export toolem neni podporovane.
2. Dalsi vec je ze export podle toho jak velka datova sada se exportuje muze trvat hodne dlouho (je to skousnutelne cca do 10 - 20 000 zaznamu) Projektu je > 160 000. Takze bude potreba to nejak omezit pro bezneho uzivatele.

[2021-05-22 07:30] Najiva commented on #54
Export bude resen v issue #73.

[2021-05-24 09:59] motyc commented on #73
1. XML lze zatím vynechat, není klíčové, pokud ostatní formáty máme. Může se to řešit i případnou vazbou na API.
2. OK. Zde musíme vymyslet, jak to z pohledu uživatele udělat a jaká je to zátěž na server. Proberme to prosím na schůzce.

[2021-05-24 14:00] Najiva commented on #54
@motyc Ten prechod na stranku je udelany stejnym zpusobem jak filtry. T.j. kdyz chci jit na stranku 123 tak staci jit na url /projekt/list?page=123 Takze to jiz funguje.

[2021-05-24 14:38] #44 closed

[2021-05-24 14:40] motyc commented on #54
@Najiva Skvěle. Asi bychom tam jen měli nastavit horní limit na straně serveru, aby se někdo nesnažil udělat stránku s desetisíci záznamů a nějak nám to neshodil.

[2021-05-25 11:40] Najiva commented on #27
- [ ] Registrace uzivatele
- [ ] Overovani emialu
- [ ] Notifikace spravce
- [ ] Notifikace o aktivaci

[2021-05-25 15:44] motyc opened #74 "Úprava patičky"
Po dohodě s Petrem upravíme patičku tak, aby nekomplikovala rozložení dílčích views. V patičce zůstane jen toto (ideově, graficky to samozřejmě upravit dle potřeby):

![image](https://user-images.githubusercontent.com/20186892/119526000-46210f00-bd7f-11eb-9535-24db94a66806.png)

Přičemž nadpisy otevřou modal okna s patřičným obsahem.

[2021-05-25 18:43] Najiva commented on #27
Je potreba styling vsech templatu v templates/django_registration

[2021-05-26 07:56] #9 closed

[2021-05-26 07:56] #7 closed

[2021-05-26 09:10] Najiva opened #75 "Meeting 26.05.2021"
- [ ] FIltrovani zobrazeni sloupcu zachovat mezi requestami podle toho co uzivatel vybral.
- [x] Odebrat smazat filtr. Vybrane projekty prejmenovat na projekty podle filtru.
- [ ] Vyjmout listovani z tabulky ven.
- [x] Poresit kdyz uzivatel klika na export tabulky vickrat. XLSX problem?
- [x] Kde je telefon?

[2021-05-26 09:55] motyc opened #76 "Vyřešit přístupnost pro jednotlivá view"
https://docs.google.com/spreadsheets/d/19lpy9VQ6qfIW5S2c7pi__UtmSsPy7pRbRDeY5b5Bkzc/edit#gid=0

[2021-05-26 10:08] pkudela commented on #74
hotovo viz. screenshots

![image](https://user-images.githubusercontent.com/16591052/119642409-f8f27b00-be1a-11eb-96fa-b19fa20bb7e1.png)

![image](https://user-images.githubusercontent.com/16591052/119642469-0c054b00-be1b-11eb-9e57-a323654f6972.png)

[2021-05-26 10:09] pkudela commented on #74
@motyc je to v poradku?

[2021-05-26 10:22] #74 closed

[2021-05-26 13:13] pkudela commented on #27
Ahoj @Najiva , potrebuju nejak videt v browseru jednotlive templaty/kroky registrace. Nyni, kdyz kliknu z login stranky na odkaz "Zaregistrovat se", tak se nic nestane viz. screenshot nize. Muze tam prosim dodat spravne url?

![image](https://user-images.githubusercontent.com/16591052/119665728-f69d1a80-be34-11eb-9e65-5e767d2f0045.png)

[2021-05-26 20:28] motyc commented on #76
@Najiva Doplněno; mrkni prosím na to, zda to takto bude vyhovovat. Je tam pár věcí k vyjasnění.

[2021-05-27 15:11] pkudela commented on #27
hotovo, ten posledni - activation filed jsem nedokazal nasimulovat text, takze to vypada takto, musel jsem tam doplnit zacatek a konec kodu

![image](https://user-images.githubusercontent.com/16591052/119851179-7d71f600-bf0e-11eb-9e6a-764b99c8f325.png)

[2021-05-27 15:12] pkudela commented on #27
@Najiva jinak tedy hotovo, prosim o kontrolu

[2021-05-28 09:16] pkudela commented on #68
Layout je implementovan, nyni je grid na 2 sloupce, ceka se na predlohu formularu od Davida.

[2021-05-28 10:06] motyc commented on #68
@pkudela Předpokládám, že počet sloupců gridu ještě můžeme upravit na základě podrobného zadání, viď?

[2021-05-28 10:08] pkudela commented on #68
@motyc samozrejme, dyk jsem to psal o jedno vlakno vys :) "ceka se na predlohu formularu od Davida."

[2021-05-28 11:05] pkudela commented on #54
@motyc jak jsem se zminil naposled, musel jsem dopocitavat velikost table wrapperu, aby byl vzdy na 100% zbyvajiciho contentoveho prostoru s tim, ze paticka bude vzdy videt. Toto reseni nebylo idealni, cili kod jsem prepsal a nyni se uz nic dopocitavat nemusi, jeste jsem zmensil vysku headeru a radku, s tim se jeste bude moct hybat.

[2021-05-31 08:03] pkudela commented on #54
@Najiva za me teda zatim hotovo, ted jdu delat neco jineho, kdyby zase neco bylo pro me, tak napis

[2021-05-31 11:12] Najiva commented on #75
export XLSX nefungoval pro chybejici zavislosti: https://github.com/jieter/django-tables2/issues/729

[2021-05-31 12:09] Najiva commented on #76
Chtelo by to dodefinovat:
1. co znamena ze jsem vlastnik pro jednotlive URL
2. co znamena ze mam stejnou organizaci

[2021-05-31 12:11] #69 closed

[2021-05-31 12:15] Najiva commented on #54
Razeni podle vice sloupcu - napriklad chci radit podle stavu a pak podle hlavniho_katastru tak:

**&sort=stav&sort=hlavni_katastr**

Kdyz chci aby byl stav sestupne tak:

**&sort=-stav&sort=hlavni_katastr**

[2021-05-31 12:28] Najiva commented on #73
@motyc Xls export jsem opravil a pridal jsem do tooltipu:

Export výběru (při výběru většího množství záznamů může trvat delší dobu)

[2021-05-31 13:31] motyc commented on #76
Vlastník akce či dokumentu (a jejích potomků) = uživatel, který zapsal záznam
Vlastník projektu = nepoužívá se

Stejná organizace u projektu a podřízených DT (vč. akcí a dokumentů; jinde se nepoužívá) = uživatel (archeolog) s totožnou organizací, jako je v poli `projekt.organizace`

Je třeba podotknou, že do workflow projektů by se badatel (B) vůbec vlastně neměl dostat. Ten bude moct s akcemi atd

[2021-05-31 14:14] #75 closed

[2021-05-31 14:16] Najiva opened #77 "FIltrovani zobrazeni sloupcu zachovat mezi requestami podle toho co uzivatel vybral."

[2021-06-01 14:35] pesikj commented on #77
![image](https://user-images.githubusercontent.com/15179154/120341717-67da4300-c2f7-11eb-8c30-567f3584799f.png)

[2021-06-02 13:16] Najiva opened #78 "Kladyzm zaznam listu s SRID=4326"
gid = 1094

select ST_AsText('0106000020E6100000010000000103000000010000000500000082E35FBF6EFC2B40942180C249AE48406DBAEE795DA72C401E4F14245DAE48402ADCF7B7F4A72C4066D964D17E9848402C254B4317FD2B40B063EC986B98484082E35FBF6EFC2B40942180C249AE4840');

vrati:

MULTIPOLYGON(((13.9930324368049 49.361625969471,14.326885042564 49.3622174357572,14.3280389299453 49.1913701765468,13.9943181065779 49.1907836107

[2021-06-02 13:19] Najiva commented on #78
jiny list s srid 102067

MULTIPOLYGON(((-868869.058895666 -1060270.89900142,-868291.779062647 -1056515.0099199,-863537.200012058 -1057249.62890229,-864111.518937778 -1061005.97898849,-868869.058895666 -1060270.89900142)))

[2021-06-02 13:41] Najiva commented on #38
Migracni skript pro presun souboru je potreba udelat nasledovne.

1. V tabulce soubor, sloupci "vytvoreno" je datum kdy byl soubor vytvoren. Podle toho kdy byl vytvoren, se presune do podslozky /RRRR/MM/DD v rootu media souboru tj. ve /var/lib/docker/volumes/aiscr-amcr-webclient_static_data/_data/media/soubory/.
2. Pote se do tabulky soubor do sloupce path, kde by melo byt "not specified yet" zapi

[2021-06-02 13:49] motyc commented on #78
Ok, díky. Chyba je jasná. Vzhledem k času bych to ale nyní neřešil (pokud to tedy nehoří na Tvé straně), nechal zaevidované a vrátíme se k tomu, až nebudou důležitější věci na stole.

[2021-06-02 13:52] #73 closed

[2021-06-02 13:56] motyc commented on #38
@Najiva Základní princip potvrzuji, jen by tam ještě mělo být zohledněno to rozdělení typů podle #19, resp. varianty AGPO, OSPD, OSD, FDN. To se bude dělat ex-post, nebo již při této migraci?

[2021-06-02 14:13] Najiva commented on #38
Delal bych to rovnou tady. Akorat bude pak potreba jeste udelat upravy do kodu webamcr.

V teto souvislosit bych to videl ze je vhodne to rozdelit nasledovne:
1. AGPO + OSPD spojit do jedne slozky. root bude soubory/OSPD a to pro vsechny soubory, ktere maji relaci na tabulku soubor_vazby kde je ve sloupci typ_vazby "projekt"
2. OSD tj. root bude soubory/OSD pro soubory ktere maji ve vazba.typ_vazb

[2021-06-02 14:49] motyc commented on #38
Ok, s navrženým souhlasím.

[2021-06-02 15:26] #42 closed

[2021-06-03 13:38] pesikj commented on #77
Add test.

[2021-06-03 14:09] Najiva opened #80 "Vyjmout navigaci listovani ven z tabulky"
@pkudela Pokousel jsem si vyjmout to listovani do souboru wrapnutim tabulky krome navigacni listy `(<div class="app-table-list-wrapper"> a <div class="app-table-list-inner">)` v bootstrap4_base.html ale nejak mi to nefunguje. Prosim podivej se zda by to slo udelat.

[2021-06-03 14:11] Najiva commented on #80
![Screenshot from 2021-06-03 16-10-14](https://user-images.githubusercontent.com/26173315/120659083-4d829f80-c486-11eb-8eab-4c86ce2ce5ed.png)

[2021-06-04 17:51] motyc opened #81 "Revize URS-AMCR"
Prošel jsem podklad: https://docs.google.com/document/d/162oB-heR86wTXpZGng-K9OR5rnIA4b_ysxu6YHWHCBU/edit#heading=h.xy8optelf0gh
V souboru jsem nechal:
- černě REQ, které zatím nejsou relevantní nebo nejdou (či neumím) testovat;
- zeleně implementované a funkční REQ;
- červeně nefunkční REQ;
- žlutě REQ vyžadující další design, odložitelné do následujících fází (podzim/zima)
(následující seznam po

[2021-06-04 18:31] motyc opened #82 "Chybí správa vlastního uživatelského účtu"

[2021-06-04 18:31] motyc opened #83 "Integrace Knihovny 3D"

[2021-06-04 18:32] motyc opened #84 "Integrace PAS"

[2021-06-04 18:34] motyc opened #85 "Dostylovat potvrzovací a další pomocné obrazovky"
(doplníme výčet URL)

[2021-06-04 18:34] motyc opened #86 "Na obrazovkách s transakcemi doplnit tlačítka "zpět""
(doplnit seznam URL)

Někde tlačítka jsou, ale jmenují se "Zrušit" (opravit):
- [x] /projekt/navrhnout-ke-zruseni/
- [x] - http://192.168.254.24:8080/projekt/vratit/
- [x] - http://192.168.254.24:8080/historie/
- [x] - http://192.168.254.24:8080/projekt/edit/
- [x] - http://192.168.254.24:8080/oznameni/edit/
- [x] - http://192.168.254.24:8080/arch_z/zapsat/
- [x] - http://192.168.254.24:8080/uploa

[2021-06-04 18:36] motyc opened #87 "Umístění systémových oznámení"
Doladit umístění systémových oznámení; jak se zobrazují uprostřed formuláře, tak to není úplně přehledné a pěkné (lepší by bylo třeba vlevo dole, kde většinou bude místo a budou dobře viditelná). Problém také je, že někdy se zobrazí více oznámení na sobě (překrývají se).

[2021-06-04 18:37] motyc opened #88 "Povolená volba přístupnosti záznamu je vždy pouze A-D"
Tj. nelze zadat administrátor (rozsah anonym-archivář).

[2021-06-04 18:38] motyc opened #89 "Stahování souborů otevírat v novém okně"
Zvláště u PDF je nepříjemné, když se prohlížečka otevře místo AMČR.

[2021-06-04 18:39] motyc opened #90 "Přechod z menu administrace do backendu"
V menu administrace (viditelné pro admina) by měl být snadný přechod na správu uživatelů, i když bude v backendu. Správu uživatelů je třeba také rámcově zprovoznit.

Nevím, zda je možné přechod řešit i bez další nutnosti přihlášení, ale bylo by to fajn.

[2021-06-04 18:40] motyc opened #91 "V záhlaví stránky zobrazovat také organizaci uživatele"

[2021-06-04 18:41] motyc opened #92 "Kontrola řazení heslářů"
kontrola správného řazení hesel (nutno otestovat všude, až budou upraveny formuláře)

[2021-06-04 18:41] motyc opened #93 "Označování verzí"
Jak bude fungovat označení verzí? Měli bychom do budoucna (od release 1.0.0 dále) mít skutečné changelogy ke každé verzi... Verze ve vývoji by měla být asi 0.x.x

Nebo jak se s tím nyní pracuje?

[2021-06-04 18:46] motyc opened #94 "Ladění ../oznameni"
- [x] pokud zadám další katastry, při přechodu na krok 2 hodí error 500
- [x] v mapě chybí některé funkcionality (volba podkladových vrstev, fullscreen, vyhledání místního jména)
- [x] v kroku 2 se zobrazuje toto pokud není další katastr:
![image](https://user-images.githubusercontent.com/20186892/120848881-a846f480-c575-11eb-83a6-b41600154c71.png)

- [x] opravit formát plánovaného zahájení podle

[2021-06-04 18:47] motyc opened #95 "U katastrů ve formulářích vždy zobrazovat v závorce i okres"
Např.: MALÁ STRANA (HLAVNÍ MĚSTO PRAHA)

[2021-06-04 18:49] motyc opened #96 "Ladění projekt/create"
- [ ] katastr se nevyplňuje automaticky podle mapy
- [ ] formulář nekontroluje, zda existuje bod v mapě

[2021-06-04 18:54] motyc opened #97 "Ladění ../projekt/detail"
- [ ] v mapě jsou rozbitá tlačítka a chybí funkce (viz #94)
- [ ] tlačítko “nastavení” je zbytečné
- [ ] pokud převedu projekt z P7 do P1, chybí ve stavové liště údaje u položky “Zapsaný”
- [ ] chybí možnost posunu projektu z P8 do P1
- [ ] nutno správně dořešit skrývání a mazání osobních údajů a projektové dokumentace
- [ ] bod v mapě musí být vždy nahoře, ne se schovávat za zbylé projekty (asi v

[2021-06-04 18:55] motyc opened #98 "Ladění ../upload_file/projekt"
- [ ] unikátnost souboru by měla být pouze informativní (podat informaci o tom, že existuje a je připojen ke konrétnímu ID projektu), systém by neměl nahrání blokovat; nelze také kontrolovat čistě název (duplicit bude hodně), ale alespoň i souhlasnou velikost

[2021-06-04 18:57] motyc opened #99 "Ladění ../projekt/list"
- [x] ve filtraci, pole Stavy - "Nevržen ke zrušení" -> "Navržen ke zrušení" (asi bude obecně v aplikaci špatně konstanta)
- [x] ve filtraci Stavy záznamů akcí - Zapsán, Odeslán, Archivován -> Zapsána, Odeslána, Archivována (asi bude obecně v aplikaci špatně konstanta)
- [x] ve filtraci - výběr podle historie - zcela chybně řešeno (alespoň vložit správná pole podle https://docs.google.com/spreadsh

[2021-06-04 19:00] motyc opened #100 "Ladění ../uzivatel/osoba/create"
- [x] při pokusu vložit data vrátí error 500
- [x] prozatím skrýt pole rok narození, rok umrtí a rodné příjmení (v DB nechávat prázdné)
- [x] testovat duplicitu v databázi (nesmí být shoda jména + příjmení)
- [ ] @DanaKriv otestovat správné generování zkrácených verzí jmen

[2021-06-04 19:01] motyc opened #101 "Ladění ../arch_z/zapsat/"
- [ ] část údajů propisovat z projektu (nutno upřesnit)

[2021-06-04 19:05] motyc opened #102 "Ladění ../arch_z/detail"
- [x] chybí pole: organizace, specifikace data, uložení dokumentace, poznámka u komponenty, nejistá datace u komponenty, popis v tabulce s připojenými dokumenty (viz červeně v https://docs.google.com/spreadsheets/d/1Ms3WEEfARICKbUr25_vGD7ymmwPJEaMw8WbcSB4UdwM/edit#gid=1077257469)
- [x] není implementována logika přidávání DJ (buď 1x Celek + Části, nebo pouze Sondy; zobrazují se i pro projektové ak

[2021-06-04 19:07] motyc opened #103 "Ladění ../dokument/detail"
- [x] http://192.168.254.24:8080/dokument/detail/C-DD-201800006 vrací error 500
- [x]  chybí pole Autoři, Řada, Let (viz červeně https://docs.google.com/spreadsheets/d/1LzGctLXR5-9MJl1rG75l6rKrJ7BvzXDGdSQ_uloyuSg/edit#gid=425649047)

[2021-06-04 19:09] motyc opened #104 "Ladění ../dokument/zapsat"
- [x] přidávám-li dokument přes projekt, C/M se stanovuje samo podle projektu
- [x] materiál - výběr by měl být omezen podle typu dokumentu (ne všechny jsou relevantní pro textové dok. a data; viz vztahy v hesláři)
- [x] datum zveřejnění se dovozuje automaticky podle hesláře organizací
- [x] chybí pole Autoři
- [x] v tomto kroku řada nadbytečných polí (zúžit viz https://docs.google.com/spreadsheet

[2021-06-07 10:16] Najiva commented on #86
Doplnil jsem tlacitko zpet u projektovych transakci kde jsou formy tj.

1. zahajeni v terenu
2. ukonceni v terenu
3. navrhnout ke zruseni
4. prihlasit projekt

Dalsi transakce tlacitko zpet maji.

[2021-06-07 10:25] Najiva commented on #88
@motyc V tom pripade dava smysl ho odebrat z hesare pristupnosti.

[2021-06-07 12:09] motyc commented on #88
@Najiva Ano, to máš pravdu. Klidně to pro webAMČR udělej.

[2021-06-07 14:59] Najiva commented on #90
Prihlaseni na url /admin je stejne jako na dalsi URL.

Do skriptu na import testovacich uzivatelu jsem pridal josef_admin@example.com co je SUPERUSER tj. ma pristup do /admin sekce. Heslo ma stejne jako dalsi testovaci uzivatele. Kdyz chces pridam link na administraci uzivatelu (/admin/uzivatel/user/)  primo do menu v aplikaci.

[2021-06-07 15:01] Najiva commented on #90
![admin](https://user-images.githubusercontent.com/26173315/121040111-efb9c480-c7b1-11eb-9c2a-7461d542580d.PNG)

[2021-06-07 15:05] Najiva commented on #91
![organizace](https://user-images.githubusercontent.com/26173315/121040907-930ad980-c7b2-11eb-9158-60611b6ac406.PNG)

[2021-06-07 15:09] Najiva commented on #91
@pkudela Je to tam. Staci to nastylovat.

[2021-06-07 15:12] Najiva commented on #93
Tohle bych nechal az bude SW na produkci. Do te doby je verze dana commitem.

[2021-06-07 15:28] Najiva commented on #94
@motyc pro funkcionalitu vyhledavani a fullscreen prosim nove issue

[2021-06-07 16:14] Najiva commented on #97
@motyc
1. Prechod ze stavu P7 do P1 neni transakce "Zapis".  Zatim ma tato transakce popis P71 (je to videt v historii)
2. Prechod z P8 do P1 nebyl vubec uvazovan

[2021-06-07 16:38] Najiva commented on #83
@motyc Tady je potreba rozhodnout zda budou modely soucasti aplikace dokument nebo budou mit svoji vlastni aplikaci. Vzhledem k tomu, ze je to ale ta sama tabulka tak bych doporucoval pridat modely3d pod dokumenty tak aby vsechny URL zacinali na /dokument

[2021-06-07 19:05] motyc commented on #90
@Najiva A šlo by prosím správu uživatelů aktivovat pro novak@arup.cas.cz? Do administrace se dostanu, ale mám to úplně prázdné.

Ad menu - ano, takto jsem to myslel; jen k existující volbě napojit tu adresu.
Jinak potvrzuji, že sdílené přihlášení funguje. Díky.

[2021-06-07 19:07] motyc commented on #93
Ok, zatím tedy neřešme.

[2021-06-07 19:07] #93 closed

[2021-06-07 19:08] motyc commented on #94
@motyc Navrhuji počkat na nasazení nové verze od @jiri-bartos-huld. Pak otestuji mapu všude a udělám k tomu dílčí issue.

[2021-06-07 19:12] motyc commented on #97
@Najiva
Ad 1 - pro potřeby té stavové lišty bych to považoval za totéž
Ad 2 - už jsme o tom mluvili dřív. Myslím, že sis to tehdy jen zapomněl zanést do schématu, ale je to důležitý posun, který je i v dnešní aplikaci. Stane se, že je někdy projekt zrušen chybně/omylem a je třeba jej pak dostat zpět mezi zapsané. Takto by to byla slepá ulička.

[2021-06-07 19:14] motyc commented on #83
@Najiva Nejsem proti, jen musíme udržet oddělenou workflow a odpovídající view. Pokud je to z hlediska implementace výhodnější, určitě to tak udělej.

[2021-06-08 14:19] motyc opened #105 "Filtrace projektů - zadání formuláře"
Zadání zde (list filtrace): https://docs.google.com/spreadsheets/d/12vYM2HgqefWvgQe8AQoDTun4nWfkATqgLMKfyVJxCIM/edit#gid=722556094

Před implementací je třeba dořešit:
- [x] - doplnit chybějící části
- [ ] - nastylovat (pokud by šly udělat ty navržené samostatně rozbalovací části, bylo by to skvělé; má #68)

(do budoucna nutno dořešit asynchronní hesláře a případně též výběr datumů pomocí daterang

[2021-06-08 14:20] motyc opened #106 "Stylování formulářů v projektech"
Souhrnně zadáno zde: https://docs.google.com/spreadsheets/d/12vYM2HgqefWvgQe8AQoDTun4nWfkATqgLMKfyVJxCIM/edit#gid=1808817771

[2021-06-08 14:23] motyc commented on #76
Pro detail projektu řešeno podrobněji zde (listy P1, P2, P3, P4): https://docs.google.com/spreadsheets/d/12vYM2HgqefWvgQe8AQoDTun4nWfkATqgLMKfyVJxCIM/edit#gid=1953808337

[2021-06-09 14:23] motyc commented on #86
Seznam doplněn

[2021-06-09 14:25] #89 closed

[2021-06-09 14:34] motyc commented on #91
Stylovat není co, za mne ok.

[2021-06-09 14:34] #91 closed

[2021-06-09 15:14] Najiva commented on #105
1. django-filter nepodporuje DateRangeFiled

[2021-06-09 17:20] Najiva commented on #105
1. nakonec se mi tam povedlo vlozit daterange. S tim ze ted filtr bude filtrovat projekty kde najde prunik z intervalem planovaneho zahajeni. Nepridal jsem tam validaci. Tj. uzivatel musi vybrat datum_do po datumu_od.
2. ok
3. ok

[2021-06-09 19:26] motyc commented on #105
Ad 1 - ok
Ad 3 - pak je to chyba v důsledku toho, jak jsme to zpětně převáděli zpět do hlavní tabulky. Pole je třeba doplnit a správně migrovat (nyní v AMČR pole je).

[2021-06-10 13:11] Najiva commented on #105
@motyc Existuje podobny soubor na filtr pro modely 3D nebo mam jit podle pas/3D?

[2021-06-10 15:43] Najiva commented on #83
- [ ] Dodelat filtr

[2021-06-10 18:32] Najiva commented on #38
@vojtakus Vojto upravil jsem migracni skript tak aby bylo mozne ho spustit najednou tj. pouze migrace_all.sh Taky jem tam opravil 3 chyby a potreboval bych udelat tu migraci fresh.

[2021-06-11 14:48] #2 closed

[2021-06-11 14:49] Najiva opened #107 "Optimalizace dotazu migrace ktere jsou pomale"
- [ ]  update historie h set typ_zmeny = 4 where id in (select his.id as hid from historie his join historie_vazby as hv on hv.id=his.vazba where hv.typ_vazby='archeologicky_zaznam' and his.typ_zmeny=111);
- [ ] update historie h set typ_zmeny = 4 where id in (select his.id as hid from historie his join historie_vazby as hv on hv.id=his.vazba where hv.typ_vazby='archeologicky_zaznam' and his.typ_z

[2021-06-13 11:44] #58 closed

[2021-06-13 11:44] Najiva commented on #88
Done

[2021-06-13 11:44] #88 closed

[2021-06-14 13:00] #90 closed

[2021-06-14 15:02] motyc commented on #83
@Najiva Zde doplněno zadání k filtraci: https://docs.google.com/spreadsheets/d/1LzGctLXR5-9MJl1rG75l6rKrJ7BvzXDGdSQ_uloyuSg/edit#gid=1624149656

[2021-06-14 15:44] motyc commented on #84
@Najiva Zde rovnou též zadání pro filtraci v PAS: https://docs.google.com/spreadsheets/d/1EaMlKchCjaVRDwGLYDytvEHgSEPfCqFmkxOAw9PaEQ8/edit#gid=1011776228

[2021-06-15 12:47] pkudela opened #108 "Layout formularu - chybejici pole, komponenty atd."
- [ ] https://docs.google.com/spreadsheets/d/12vYM2HgqefWvgQe8AQoDTun4nWfkATqgLMKfyVJxCIM/edit#gid=1372775774  dle navrzeneho formulare by mela byt moznost v dolni casti formulare vlozit projektovou dokumentaci, vlozil jsem tam stejne html, jako mame v oznameni v 2.kroku + souvisejici linky na js a css, ale html tohoto elementu se nevygeneruje tak jak ma
- [x] https://docs.google.com/spreadsheets/

[2021-06-15 13:40] motyc commented on #108
Ad 1 - pokud by byl problém dělat to v jednom kroku, lze to nechat k nahrání až po zápisu projektu
Ad 3 - formulář oznamovatel může zůstat k editaci samostatně (má asi samostatné view); jen jsme v zadání vycházeli z podoby /projekt/create

[2021-06-16 08:14] pkudela opened #109 "Dostylovat stranky"
Dostylovat nasledujici stranky:

- [x] http://localhost:8000/uzivatel/osoba/create
- [x] http://localhost:8000/projekt/archivovat/C-201016298
- [x] http://localhost:8000/projekt/prihlasit/C-201700002
- [x] dostylovat ve filtrech fields pro datum - date range picker
- [x] paginace - pozice (#80)
- [x] alert - pozice do praveho dolniho rohu (#87)

[2021-06-16 11:04] motyc commented on #76
@Najiva @pesikj Prosím o průběžné doplňování nových URL do souboru https://docs.google.com/spreadsheets/d/19lpy9VQ6qfIW5S2c7pi__UtmSsPy7pRbRDeY5b5Bkzc/edit#gid=0

Nyní chybí přinejmenším knihovna 3D

[2021-06-16 12:52] motyc opened #110 "Error 500 při přechodu na dokument"
Např.: http://192.168.254.30:8080/dokument/detail/C-TX-192000018

(stane se ale i hned po zápisu nového)

Tento naopak funguje: http://192.168.254.30:8080/dokument/detail/C-TX-201303119

[2021-06-16 13:33] motyc opened #111 "Přidávání nálezů - zobrazit jen jeden prázdný řádek, nikoli tři"
Jak jsou nyní řádky tři, tak je to pro uživatele spíš matoucí a nepřehledné. Nálezy tak sice bude třeba přidávat po jednom, ale to by nemělo ničemu vadit.

Původní:
![image](https://user-images.githubusercontent.com/20186892/122228338-05b53c80-ceb8-11eb-8c56-112d2987e110.png)

Nové:
![image](https://user-images.githubusercontent.com/20186892/122228483-2c737300-ceb8-11eb-8a2c-c2bfe26cefdb.png)

[2021-06-16 17:17] #111 closed

[2021-06-16 17:24] Najiva commented on #110
DONE

[2021-06-16 18:31] #110 closed

[2021-06-17 12:58] motyc opened #113 "Nezobrazuje se oznamovatel"
Zdá se, že se úplně přestal v detailu projektu zobrazovat oznamovatel. Nedaří se mi najít žádný příklad, kde by byl vidět a myslím, že to je spíš chyba podmínky jeho zobrazení, než že by tam skutečně nebyl.

[2021-06-17 13:07] motyc commented on #113
Chtěl jsem to zkusit na novém projektu, ale nefunguje ani http://192.168.254.30:8080/oznameni/ (kliknutí na "Přejít na další krok" nic nedělá).

[2021-06-17 13:08] motyc commented on #113
Nefunguje ani http://192.168.254.30:8080/projekt/create

[2021-06-17 13:23] #77 closed

[2021-06-17 13:25] motyc commented on #68
Řeší se již jinde, zavírám.

[2021-06-17 13:25] #68 closed

[2021-06-17 13:39] #8 closed

[2021-06-17 14:33] pkudela commented on #80
@Najiva - dival jsem se na to a aby to fungovalo a paginace se nezobrazovala v ramci sroll elementu, musi byt umistena pod elementem class "app-table-list-wrapper", nikoliv uvnitr, pak to nemuze fungovat. V konzoli jsem to zkusil nasimulovat a funguje to viz. screenshot nize.

![image](https://user-images.githubusercontent.com/16591052/122417017-7d06d100-cf89-11eb-9fca-f4ae0525676a.png)

Cili otaz

[2021-06-17 14:40] pkudela commented on #80
Pro jistotu posilam screenshot kodu, v jakem miste by se mela navigace volat.

![image](https://user-images.githubusercontent.com/16591052/122418476-85abd700-cf8a-11eb-9864-24b83d3d6369.png)

Prosim, @Najiva dej vedet, jestli je to mozne, zkratka stejne jako se vola tabulka ze souboru "projekt_list.html", tak stejnym zpusobem by se mela volat navigace ze souboru "projekt_list.html", jak je na scre

[2021-06-17 14:48] pkudela commented on #80
pripadne pokud musi byt tabulka a navigace v jednom souboru, ktery se pak vola z "projekt_list.html", tak bychom museli wrappery presunout ze souboru "projekt_list.html" do souboru ze ktereho se vola tabulka a paginace a tam je spraven umistit, kdyz tak @Najiva vysvetlim, az spolu budeme mluvit.

[2021-06-17 15:21] #109 closed

[2021-06-17 15:22] pkudela commented on #106
Hotovo, zaktualizovano ve vyse uvedenem dokumentu, jeste se ale ceka na par veci ze strany Juraje.

[2021-06-19 16:24] Najiva commented on #113
U oznamovatele byla chyba spojena s migraci kde jeste vybublal problem s IDckami Heslaru (migrace jsou na nich taky zavisle).

U oznameni mam podezreni ze to souvisi z tim jak je nastavena CAPTCHA .... zkus prosim pridat server 30 do povolenych na profilu.

[2021-06-22 07:32] motyc commented on #113
Oznámení samotné již funguje, problém tedy asi byl opravdu c CAPTCHA (přidal jsem do seznamu test server).

[2021-06-23 12:52] Najiva opened #114 "Spoluprace - dodelat"
- [x] predani nalezu
- [x] transakce
- [x] stavy

[2021-06-23 12:53] Najiva commented on #83
Pro dodelavku spoluprace jsem udelal nove issue. #114

[2021-06-23 13:16] Najiva opened #115 "Dokumentace kritickych bodu (REQ-NF-7)"
- [x] - nasazeni
- [x] - konfigurace
- [x] - migrace
- [x] - design kodu
- [x] - administrace
- [x] - užité technologie a závislosti
- [x] - napojení na DB
- [x] - fungování úložiště souborů
- [x] - přidělování ident_cely (viz též #63)
- [x] - řešení oprávnění (předběžný stav)

[2021-06-24 08:50] motyc commented on #115
Doplněny dva body.

[2021-06-26 16:21] Najiva commented on #114
![spolupace](https://user-images.githubusercontent.com/26173315/123519378-30b74180-d6ab-11eb-8203-92f2c2a46ad7.png)

Navrh stavu spoluprace.

[2021-06-26 16:26] Najiva commented on #114
Omezeni:

1. Spoluprace s jednim archeologem muze byt pouze jedna
2. Archeolog nemuze mit spolupraci sam se sebou

Otazka je, jestli chcete aby archeolog mohl vytvorit spolupraci za badatele a rovnou ji aktivoval? Pokud ano tak bych ten diagram jeste asi upravil.

[2021-06-27 14:05] motyc commented on #114
Potvrzuji řešení. Každá spolupráce by měla být potvrzena oboustranně, takže i pokud vytvoří spolupráci archeolog, měl by ji potvrdit badatel. Univerzálně potvrzovat může pouze archivář a admin.

[2021-06-27 16:00] Najiva commented on #114
Dlasi otazka je zda v prehledu spolupraci ma byt filtr nebo ne. Zatim ho tam davam.

[2021-06-27 16:30] motyc commented on #114
Ano prosím, určitě v tom potřebujeme mít možnost hledat.

[2021-06-28 13:09] pesikj commented on #76
Přidána Wiki stránka s popisem:

https://github.com/ARUP-CAS/aiscr-webamcr/wiki/Opr%C3%A1vn%C4%9Bn%C3%AD

[2021-06-30 13:06] pesikj commented on #96
Problém s tlačítkem na přidání souboru (už je vytvořeno jiné issue)

[2021-06-30 13:12] pesikj commented on #96
Výběr katastru by měl být jen pro čtení

[2021-07-01 10:08] motyc commented on #108
@pesikj zde bod 1 patrně popisuje důvod, proč to přestalo fungovat; jak jsem zmiňoval, to vkládání souborů tam být nemusí

[2021-07-01 10:09] motyc commented on #108
@svejci Ondro, ta chybějící pole můžeš rozepsat tady; stejně se to již v tomto issue částečně řeší.

[2021-07-01 10:11] motyc commented on #106
Jako celek zavírám, konkrétní nedodělky řešme zvlášť.

[2021-07-01 10:11] #106 closed

[2021-07-01 10:46] svejci commented on #108
Chybějící pole ve formulářích (všechny formuláře k nahlédnutí ve složce Sdileno_komentare_Huld/Navrh_formulare - chybějící pole označena červeně na listu detail):
**Samostatné nálezy**: https://docs.google.com/spreadsheets/d/1EaMlKchCjaVRDwGLYDytvEHgSEPfCqFmkxOAw9PaEQ8/edit#gid=2095380239
Souř. systém; Šířka, Délka, Poloha; Předáno organizaci; Evidenční číslo; Nález předán; Přístupnost.
**Dokument

[2021-07-01 10:52] motyc commented on #105
Dále řešit v rámci #106, zde v podstatě duplicitní

[2021-07-01 10:52] #105 closed

[2021-07-01 11:03] #87 closed

[2021-07-01 11:04] #84 closed

[2021-07-01 11:04] #83 closed

[2021-07-01 11:50] motyc commented on #40
Duplicitní k #97

[2021-07-01 11:50] #40 closed

[2021-07-01 11:58] motyc commented on #35
Nejde kontrolovat podle obsahu pole "Hlavní katastr"? Nyní vrátí error 500

[2021-07-01 12:31] motyc commented on #27
Zavírám, emaily budeme řešit jako samostaný problém.

[2021-07-01 12:31] #27 closed

[2021-07-01 14:08] motyc commented on #95
Opomenuto v poli "Další katastry" při zobrazení (při zápisu je to ok):
- [ ] http://192.168.254.30:8080/projekt/detail/
- [ ] http://192.168.254.30:8080/oznameni/ - krok 2
- [ ] http://192.168.254.30:8080/arch_z/detail/

[2021-07-01 17:01] motyc opened #117 "https://docs.google.com/spreadsheets/d/12vYM2HgqefWvgQe8AQoDTun4nWfkATqgLMKfyVJxCIM/edit#gid=2144585002dle navrzeneho formulare chybi 2 pole -> "Vedouci projektu" a "Termin odevzdani". Vedouci projektu jsem doplnil, ale chybi funkcionalita tlacitka "+" (je to odkaz, takze se to pokusim udelat ja) a "Termin odevzdani" uplne chybi."

[2021-07-02 15:29] motyc opened #118 "Kde je sink pro emaily"
Emaily nyní chodí někam do sink adresáře na FTP. Kde je lze najít?

[2021-07-02 16:27] motyc opened #119 "Ladění login page"
- [x] prosím o dokumentaci, jak funguje úprava textů na titulní straně (popis, novinky); je třeba otestovat (mělo by jít o soubory čtené z FTP, které půjde volně editovat; viz REQ-G-12)
- [x] email by neměl být case-sensitive (upravit též související chybové hlášky)

[2021-07-02 16:27] motyc opened #120 "Ladění homepage (po přihlášení)"
- [x] na hlavním rozcestníku nefunguje proklik do Samostatných nálezů (je třeba se tam dostat přes panel po levé straně)

[2021-07-02 16:28] motyc opened #121 "Ladění ../accounts/register/"
- [x] telefon ponechat bez složitých regulárních výrazů (povolit číslice a znak +)

[2021-07-02 16:28] motyc opened #122 "Obecné ladění"
- [ ] prázdná pole by měla být prázdná (nevypisovat “none”, "-" nebo "–"); komplikuje to testování, mohou tak vznikat chyby a není jasné, co je skutečně v DB
- [ ] nástroj pro upload souborů musí umožňovat odstranění právě nahraného souboru (např. když nahraji chybný soubor, není nyní cesty zpět)
- [ ] v případě view, které nejsou editační, není dořešeno přetékání buněk, do kterých se nevejde řetě

[2021-07-02 16:28] motyc opened #123 "Ladění databáze a migrací"
- [ ] nedošlo k převodu Akce - Další katastry do nové verze (např. C-200912861); prověřit též pro projekty a lokality
- [ ] pro účet cz_archeologickamapa_api_view mi chybí read přístup do následujících tabulek (potřebujeme vidět komplet vše v databázi pro účely testování a ladění):
akce_vedouci
archeologicky_zaznam
archeologicky_zaznam_katastr
auth_group
auth_permission
auth_user
auth_user_groups

[2021-07-02 16:28] motyc opened #124 "Ladění ../accounts/register/"
- [x] @motyc prověřit poslední fázi registrace (aktivace linkem v mailu) - nutno zjistit #118

[2021-07-02 16:29] motyc commented on #63
Pro dokončení issue je třeba:
- [ ] @pesikj @DanaKriv prověřit přidělování provizorních ID, zda nemůže dojít k přetečení, případně popsat, jak je ošetřeno
- [ ] @pesikj @DanaKriv provést revizi stavu implementace pro všechny typy ID
- [ ] @pesikj opravit přidělování ID PIAN - nyní se v databázi odvozuje z PK ZM50, místo aby se odvozovalo z označení mapy (kladyzm.cislo); pořadové číslo je o řád kra

[2021-07-02 16:48] motyc opened #125 "Ladění ../projekt/navrhnout-ke-zruseni/"
- [x] sice se otestuje zda projekt nemá akci (viz BR-P-7) a vyskočí hláška, ale projekt lze přesto navrhnout ke zrušení
- [x] nemá být vůbec dostupné pro projekty v stavu P0 (oznámený)

[2021-07-02 16:53] motyc opened #126 "Ladění ../projekt/edit/"
- [x] pokud je u již existujícího projektu změněna Památková ochrana z bez ochrany na nějaký typ památkové ochrany, systém umožní uložit změny aniž by vyžadoval doplnění čísla a názvu památky. Při změně na bez ochrany by naopak mělo dojít k odstranění údajů v dotčených polích
- [x] chybí pole Termín odevzdání (viz detail, kde je správně)

[2021-07-02 17:08] motyc opened #127 "Ladění ../projekt/prihlasit/"
- [x] pole Rejstříkové číslo a Název památky označeny jako povinné, i když vyplněno bez ochrany
- [x] pole organizace se má nativně vyplnit podle organizace uživatele (děje se pouze na pozadí a ve formuláři není vidět); pole má být editovatelné pouze adminem (to souvisí s oprávněním a nyní neřešíme); když to nyní udělá (může), tak se jeho editace přepíše podle organizace uživatele; logiku řešení j

[2021-07-02 17:17] motyc opened #128 "Ladění ../arch_z/edit/"
- [x] chybí tlačítko pro + přidání jména osoby
- [x] chybí ověření souslednosti data zahájení/ukončení (ukončení nesmí předcházet zahájení; ukončení ani zahájení nesmí být v budoucnu o více než měsíc)
- [x] katastry uzamknout pro editaci (bude se řešit později načítáním z PIAN)
- [x] chybí pole: organizace, specifikace data, uložení dokumentace

[2021-07-02 17:57] motyc opened #129 "Ladění ../historie/"
- [ ] záznamy řadit sestupně podle data a času změny

[2021-07-02 18:02] motyc opened #130 "Ladění ../pas/detail/"
- [x] nefunkční přidávání fotografií
- [x] nedokončená implementace (editace záznamu, posuny stavů)
- [ ] chybí mapové prostředí s podporou potřebných funkcí jako v původní aplikaci; mělo by být jednotně postaveno na Leaflet
- [ ] chybí pole katastrální území, souř. systém, Souřadnice Y / N, Souřadnice X / E (všechny spojeny funkčně s mapou; viz stávající řešení)
- [x] v poli s projekty by se v zá

[2021-07-02 18:04] motyc opened #131 "Ladění ../dokument/model"
- [x] má být nadepsáno Knihovna 3D (nikoli Dokument)
- [x] workflow "model" má být v šedé barvě jako karta na úvodní obrazovce

[2021-07-02 18:05] motyc opened #132 "Ladění ../admin/uzivatel/user/"
- [ ] když chci odstranit uživatele, vylistují se jeho vazby a přesto jde smazat; v takovém případě by vymazání vůbec nemělo být možné (pokud je vázán na historii záznamů)
- [ ] u amcr@arup.cas.cz se při kliknutí na odstranit aplikace zasekne (time-out), protože vazeb je příliš
- [ ] nesmí jít změnit ident_cely uživatele
- [ ] nikde nevidím informaci, zda byl již potvrzen email
- [ ] chybí histori

[2021-07-02 18:06] motyc opened #133 "Administrace - nadbytečné položky"
- [x] obsažena řada ne zcela jasných položek navíc (historie, projekty, oznamovatelé), které přes administraci nemají jít měnit - k tomu slouží aplikace a její procesní pravidla

[2021-07-02 18:15] motyc opened #134 "Ladění ../projekt/uzavrit/"
- [x] dokumenty v D1 připojené k projektovým akcím se musí posunout do D2

[2021-07-02 18:16] motyc opened #135 "Ladění ../arch_z/pripojit/dokument/"
- [x] umožnit připojování pouze dokumentů v D2 a D3 (jinak by vznikaly těžko odhadnutelné kolize při uzavírání projektů)

[2021-07-02 18:17] motyc commented on #48
Všechny popsané speciální případy nejsou implementované:

[2021-07-02 18:18] motyc opened #136 "Ladění ../dokument/create/model"
- [x] místo roku vzniku je ve formuláři datum
- [ ] - mapa by měla odpovídat řešením #49 (Leaflet; nemělo by se v rámci aplikace používat víc variant)
- [x] - chybí pole země, region, šířka (uzamčeno - podle mapy), délka (uzamčeno - podle mapy)

[2021-07-02 18:19] motyc opened #137 "Ladění ../dokument/odeslat/"
- [x] chybí validace - jde odeslat bez souboru

[2021-07-02 18:48] #81 closed

[2021-07-02 19:39] motyc opened #138 "Ladění ../dokument/edit/"
- [x]  chybí pole Autoři, Řada (uzamčeno), Let

[2021-07-02 19:49] motyc opened #139 "Ladění ../dokument/detail/model/"
- [x] místo roku vzniku je ve formuláři datum
- [ ] - mapa by měla odpovídat řešením #49 (Leaflet; nemělo by se v rámci aplikace používat víc variant)
- [x] - chybí pole země, region, šířka (uzamčeno - podle mapy), délka (uzamčeno - podle mapy)

[2021-07-02 19:50] motyc opened #140 "Ladění ../dokument/edit/model/"
- [x] místo roku vzniku je ve formuláři datum
- [ ] - mapa by měla odpovídat řešením #49 (Leaflet; nemělo by se v rámci aplikace používat víc variant)
- [x] - chybí pole země, region, šířka (uzamčeno - podle mapy), délka (uzamčeno - podle mapy)

[2021-07-02 19:54] motyc opened #141 "Ladění ../dokument/list/model/"
- [x] filtrace - chybí většina polí, případně chybné chování - viz https://docs.google.com/spreadsheets/d/1WVSCrVVFGZduhZ9tbDCeea9c7wyvgCYMWORe8k1AzYg/edit#gid=630624996

[2021-07-02 20:06] motyc opened #142 "Ladění ../pas/create/"
- [ ] chybí mapové prostředí s podporou potřebných funkcí jako v původní aplikaci; mělo by být jednotně postaveno na Leaflet
- [ ] chybí pole katastrální území, souř. systém, Souřadnice Y / N, Souřadnice X / E (všechny spojeny funkčně s mapou; viz stávající řešení)
- [ ] chybí tlačítko načíst polohu
- [x] v poli s projekty by se v závorce měl vypisovat též vedoucí
- [x] pole projekt by mělo být je

[2021-07-02 20:08] motyc opened #143 "Ladění ../pas/list/"
- [x] chybí pole pro výběr podle historie (viz červeně https://docs.google.com/spreadsheets/d/1EaMlKchCjaVRDwGLYDytvEHgSEPfCqFmkxOAw9PaEQ8/edit#gid=1011776228)

[2021-07-02 20:09] motyc commented on #5
Řešíme v rámci #49

[2021-07-02 20:09] #5 closed

[2021-07-02 20:13] motyc commented on #108
Vše z tohoto vlákna rozepsáno do konkrétní issue (podle URL) pro lepší přehlednost. Toto zavírám.

[2021-07-02 20:13] #108 closed

[2021-07-02 20:14] motyc commented on #113
Vyřešeno, zavírám

[2021-07-02 20:14] #113 closed

[2021-07-04 14:09] Najiva commented on #114
Castecne jsem dodelal spolupraci.

1. Zatim muze o spolupraci zadat kazdy ale jenom v roli zadatele.
2. Taky muze spolupraci kazdy aktivovat (potvrdit). To je potreba dodelat spoledne s opravnenimi.
3.  Neni tam zadne omezeni na format fotek pri uploadu souboru (resp. je stejne jako u dokumentu)
4. Chyby odesilani emailu ale to taky nechavam az se budou resit emaily. Dal jsem kde se dalo TOO do ko

[2021-07-09 07:21] pesikj commented on #143
Poslal jsem Vám požadavek na přístup k tabulce

[2021-07-09 07:31] pesikj commented on #142
Měla by zde tedy být stejná mapa jako při vytváření projektu?

[2021-07-09 09:17] motyc commented on #143
@pesikj Pošlete mi prosím svůj Google účet, přidám Vás obecně do sdílených složek.

[2021-07-09 09:19] motyc commented on #143
@pesikj Jste tam přidán, dal jsem Vám přístup do celé složky se sdílenými dokumenty, takže snad uvidíte vše potřebné.

[2021-07-09 09:21] motyc commented on #142
Stejná v tom smyslu, že půjde též o Leaflet, nicméně některé funkce musí mít navíc, zejména jde o zadání bodu pomocí souřadnic a načtení aktuální polohy.

[2021-07-09 10:49] motyc opened #145 "Ladění ../pas/spoluprace/zadost"
- [x] spolupráci lze navázat pouze s uživatelem v roli archeolog, nikoli ale s archivářem či adminem (mělo by jít také, roli vždy chápeme jako minimální potřebnou)

[2021-07-09 10:50] motyc opened #146 "Ladění ../pas/spoluprace/list"
- [x] chybí historie spolupráce
- [x] spolupráci není možné zcela smazat (funkce pro archiváře/admina)
- [x] sloupce v tabulce by měly být: Stav, Vedoucí (formát: "příjmení, jméno (id)"), Organizace (vedoucí), Spolupracovník (formát: "příjmení, jméno (id)"), Organizace (spolupracovník), Aktivace

[2021-07-09 10:57] motyc opened #147 "Ladění ../pas/edit/"
- [ ] chybí mapové prostředí s podporou potřebných funkcí jako v původní aplikaci; mělo by být jednotně postaveno na Leaflet
- [ ] chybí pole katastrální území, souř. systém, Souřadnice Y / N, Souřadnice X / E (všechny spojeny funkčně s mapou; viz stávající řešení)
- [ ] chybí tlačítko načíst polohu
- [x] v poli s projekty by se v závorce měl vypisovat též vedoucí
- [x] nesmí jít editovat pole Pro

[2021-07-09 11:03] motyc opened #148 "Ladění ../upload_file/pas/"
- [x] chybí omezení typů souborů (JPG, JPEG, PNG, TIFF, TIF - nikoli case-sensitive)
- [x] chybí tlačítko Zpět

[2021-07-09 11:04] pesikj commented on #136
Takže namísto data vzniku bychom měli evidovat pouze rok vzniku?

[2021-07-09 11:12] motyc commented on #136
Je to vázáno na pole dokument.rok_vzniku, takže ano. Možná chyba vnikla použitím špatného pole.

[2021-07-09 11:15] pesikj commented on #134
To znamená posunout stav u všech navázaných dokumentů poté, co uživatel klikne na "Uzavřít projekt"?

[2021-07-09 11:23] motyc commented on #134
Ano.

[2021-07-09 11:25] motyc opened #149 "Ladění ../pas/potvrdit/ + ../pas/edit/ulozeni/"
- [x] pole Předáno organizaci by se mělo automaticky předvyplnit již při založení projektu podle organizace projektu a nadále nemá jít editovat¨
- [x] v Nález předán implicitně (při založení) vyplnit "Ne"

[2021-07-09 11:41] motyc commented on #114
Spolupráce:
1. V pořádku, to pro tuto fázi stačí. Žádost od archeologa badateli si píšu k dodělání na podzim.
2. Souhlas, vyřeší se s oprávněním.
3. Souhlas, vyřeší se s emaily.

Transkace:
1. ok
2. zaznamenáno do #130
3. zaznamenáno do #148

Toto issue zavírám.

[2021-07-09 11:41] #114 closed

[2021-07-09 11:46] pesikj commented on #128
V budoucnu o více než měsíc - to je myšleno k aktuálnímu datu?

[2021-07-09 11:49] pesikj commented on #128
Další osoba může být jen jedna, nebo by mělo být možné jich přidat více?

[2021-07-09 11:57] motyc commented on #128
Ad - "v budoucnu" - ano, od aktuálního data
Ad - další osoba - zde se možná špatně chápeme, jde o přechod na formulář http://192.168.254.30:8080/uzivatel/osoba/create pro zápis nové osoby do hesláře; přidávání více vedoucích je jiné téma (také k řešení, ale stačí na podzim - týká se hlavně samostatných akcí).

[2021-07-09 16:54] pesikj commented on #123
Dal jsem GRANT oprávnění uživateli cz_archeologickamapa_api_view na všechny tabulky v databázi prod_zaloha.

[2021-07-12 17:09] motyc commented on #123
Bezva, ale když se na to dívám, asi to bylo jen na http://192.168.254.24:8080/ (tam mi to funguje). Potřebuji to ale hlavně na http://192.168.254.30:8080/, kde probíhá testování.

[2021-07-14 15:32] pesikj commented on #123
Nastavil jsem to i na serveru 192.168.254.24:8080

[2021-07-14 16:42] motyc commented on #123
Předpokládám, že jste myslel 192.168.254.30. Každopádně potvrzuji.
@DanaKriv Toto je informace i pro Tebe.

[2021-07-14 16:49] pesikj commented on #123
Ano, špatně jsem opsal IP adresu.

[2021-07-15 20:19] pesikj commented on #128
Organizace má být podle vedoucího?

[2021-07-15 20:26] pesikj commented on #101
Formulář je stejný, z toho plyne:
Tlačítko + je řešeno v rámci #128
Ověření dat je řešeno v rámci #128
Uzamčení katastrů je řešeno v rámci #128
Chybějící pole je řešeno v rámci #128

Je potřeba uzamknout pole specifikace

[2021-07-16 07:13] svejci commented on #128
Ano, organizace by se měla vyplnit podle vedoucího.

[2021-07-16 09:53] pesikj commented on #128
A to pole by tedy mělo být pouze pro čtení?

[2021-07-16 10:02] svejci commented on #128
Pole by mělo být dále přístupné k editaci.

[2021-07-16 10:03] pesikj commented on #128
OK

[2021-07-19 10:30] DanaKriv commented on #63
Prošla jsem přidělování všech ID a narazila na následující problémy

PROJEKT ident_cely trvaly (set_permanent_ident_cely) - není ošetřeno přetečení nad 99 9999 (je velmi málo pravděpodobné, můžeme řešit později)

PIAN ident_cely 1) není formálně správně 2) přiděluje se na základě maximální hodnoty, nikoliv sekvenční tabulky 3) nepotvrzený i potvrzený PIAN sdílejí tu samou řadu čísel
- nepotvrzený

[2021-07-19 13:36] pesikj commented on #118
Sink je v adresáři `/home/amc/sink` na serveru `192.168.254.17`.

[2021-07-19 13:46] #118 closed

[2021-07-28 08:52] pesikj commented on #128
Tlačítko přidáno sem:
![image](https://user-images.githubusercontent.com/15179154/127293801-2f3ab395-741f-45a9-93b3-9876dba5ab61.png)

[2021-07-28 10:27] pesikj commented on #128
Přidána validace data
![image](https://user-images.githubusercontent.com/15179154/127307502-62e2ca97-ba3c-400f-b67c-cce81d45064d.png)

[2021-07-28 10:32] pesikj commented on #128
Validace posloupnosti dat
![image](https://user-images.githubusercontent.com/15179154/127308234-20e6f1a6-c597-4ef7-ac17-a63a1b5469ad.png)

[2021-07-28 10:49] pesikj commented on #101
Tlačítko přidáno
![image](https://user-images.githubusercontent.com/15179154/127310252-3a10be28-4068-44ec-b1ed-aebe347dbb20.png)

[2021-07-28 15:43] pesikj commented on #102
Pole "Nejistá datace" je třeba vytvořit? U modelu ho nevidím.

[2021-07-28 15:43] pesikj commented on #102
Přidaná pole u detailu
![image](https://user-images.githubusercontent.com/15179154/127353320-15545264-2c6b-4a75-a2b6-a79b5a202694.png)

[2021-07-28 15:45] pesikj commented on #102
Zobrazení komponenty dvakrát je již zřejmě vyřešeno
![image](https://user-images.githubusercontent.com/15179154/127353590-d176ce02-20f5-4db4-ae88-6d32601cedc4.png)

[2021-07-28 16:16] jnihnat commented on #127
@motyc Prosim aky je pozadovany stav:
ak je "bez ochrany" - tak maju byt fieldy disabled alebo len nepovinne a je ich mozne menit? (prvy a treti bod v issue su totiz v rozpore)
ak by mneli byt disabled, mazat i ty pole pokud v nich neco je?

[2021-07-28 21:01] pesikj commented on #102
Omezen typ dokumentační jednotky
![image](https://user-images.githubusercontent.com/15179154/127395334-4b25b756-5c1a-49ab-ad12-6a18214ceab5.png)

[2021-07-28 21:25] motyc commented on #127
@jnihnat
Pokud je "bez ochrany", tak by měly být pole neaktivní. Pokud v nich něco je, tak při změně na "bez ochrany" obsah odstranit (zde předpokládám, že odeslání změn na server je vázáno až na transakci uložení změn, tj. není to nevratné, pokud se to stane omylem). Pardon za ten rozpor, spíš je to nešťastně formulované.

Pole organizace by tam mělo zůstat, ale mělo by být předvyplněné podle org

[2021-07-29 11:35] jnihnat commented on #127
Upraveno nasledovne:
- pokud je "bez ochrany" tak jsou fieldy disabled
- pokud neni "bez ochrany" tak jsou fieldy enabled + doplname pokud v nem neco pred tim bylo vyplneno
- oba pole jsou bez "*" - doplnat to dynamicky by bylo narocne

Organizace je predvyplnena podle usera (pred tim byla brana z projektu) a po novu se updatuje podle toho co user vybere ne podle toho jakou ma user.

[2021-07-29 11:39] pesikj commented on #102
@motyc
*nový PIAN - po kliknutí na “Vytovřit pian” zůstane na stránce tabulka “Nový pian” s aktivním polem výběru přesnosti - mělo by se zobrazit spíš view nadřazené DJ, ke které jsem PIAN vytvořil*
View na DJ neexistuje, má se tedy vytvořit?

*nová dokumentační jednotka - po kliknutí na “Vytvořit jednotku” zůstane na obrazovce tabulka “Nová dokumentační jednotka”, a abych dále editoval DJ, kterou

[2021-07-29 11:50] pesikj opened #156 "Indexy"
Přidání databázových indexů pro zvýšení efektivity databázových dotazů

[2021-07-29 11:50] pesikj commented on #156
CREATE INDEX auth_user_id
    ON public.auth_user USING btree
    (id ASC NULLS LAST)
;

CREATE INDEX historie_vazba_typ_zmeny
    ON public.historie USING btree
    (vazba ASC NULLS LAST, typ_zmeny COLLATE pg_catalog."default" ASC NULLS LAST)
    TABLESPACE pg_default;

CREATE INDEX organizace_id
    ON public.organizace USING btree
    (id ASC NULLS LAST)
;

CREATE INDEX heslar_id
    ON public.

[2021-07-29 13:01] motyc commented on #102
@pesikj
ad view DJ - existuje jako součást http://192.168.254.24:8080/arch_z/detail/, jde o toto zobrazení DJ, na které by bylo dobré přesměrovat:
![image](https://user-images.githubusercontent.com/20186892/127496552-cf2762fc-ab9f-4a1a-bf66-0d954589314c.png)

Nové view určitě není třeba vytvářet.

[2021-07-29 13:06] motyc commented on #102
@pesikj

Nene, jde o pole `komponenta.jistota`

[2021-07-29 13:09] motyc commented on #102
Právě, že není vyřešeno, vždyť i zde na screenshotu je tam vždy celý nadpis komponenty zdvojený:
![image](https://user-images.githubusercontent.com/20186892/127497674-5f8c2aff-a566-4bdc-a414-bd862d31995a.png)

[2021-07-29 13:23] motyc opened #157 "Prověřit migrace stavu dokumentů"
Patrně něco bude v chybně ve 2, i když by mělo být nově 1.

[2021-07-29 15:57] jnihnat commented on #125
@motyc
- u prvniho upraveno presmerovani, v pripade warningu je user presmerovan na stranku z ktere sel na navrh-na-zruseni a tam se zobrazi warning.  - Prosim o potvrzeni ze je to takto OK.
- u druhyho - pri stavu Oznameny neni mozne jit na stranku navrh-na-zruseni ale jenom na stranku zrusit. - Ma se neco teda menit nebo to tak je ok?

[2021-07-30 07:47] jnihnat commented on #99
@motyc - Pro reseni issue som si zazadal pristup do google docs, prosim o schvaleni.

[2021-07-30 09:31] motyc commented on #99
@jnihnat Pošlete mi prosím svůj Google účet, přidám Vás tam. Vlastníkem dokumentu je kolega, takže mail došel jemu, ale je bohužel na dovolené.

[2021-07-30 09:35] motyc commented on #125
@jnihnat
ad 1 - ano, to by mělo být OK; definitivně potvrdím po nasazení, až budu moci otestovat
ad 2 - tlačítko zrušit by v tomto případě nemělo být vůbec dostupné

[2021-07-30 09:43] jnihnat commented on #99
@motyc email: jnihnat@gmail.com

[2021-07-30 09:47] motyc commented on #99
@jnihnat K dokumentům byste již měl mít přístup.

[2021-07-30 09:50] pesikj commented on #102
Přidán formset na výškové body

@motyc Vycházel jsem ze struktury databáze. Některá pole jsou na úrovni databáze povinná, ale v modelu chyběly (Northing, Easting, Poradi). Přidal jsem je tedy do modelu. Pokud to má být jinak, dejte mi prosím vědět. (Ptal jsem se i Juraje, ale zatím mi neodpověděl.)

![image](https://user-images.githubusercontent.com/15179154/127635434-df9a305c-6ad5-4030-ab60-ca511

[2021-07-30 10:01] motyc commented on #102
@pesikj
1) ident_cely je automaticky přidělovaný údaj (PID), skládající se z ID ADB a suffixu "-V####" (např. "-V0001"). Má se přidělovat automaticky příůstkově (stačí podle maxima) a nesmí jít editovat.
2) Northing a Easting by měly být podle zadání zrušeny, převedeny na geometrie a ukládány v poli geom. Zobrazovat by se souřadnice měly v S-JTSK (nadpisy sloupců by tedy měly být spíše X a Y) a im

[2021-07-30 10:45] pesikj commented on #102
1. Díky za vysvětlení. Našel jsem skript pro generování identů, ale pro výškový bod naprogramováno není, zřejmě je tedy potřeba jej dodělat (@Najiva napiš prosím, pokud někde je, ale prošel jsem kód pomocí PyCharmu a ta třída pro ident použitá není)
2. Ok, využiji sloupec geom.
3. Podívám se do migrací.

[2021-08-02 09:47] jnihnat commented on #99
@motyc - Dokoncujem upravu vo filtroch a vsimol som si, ze u 2 datumovych: planovane_zahajeni a termin_odevzdani se nastavuje pokud neni vyplneno tak horni hranice na dnes. Je to takto spravne obmedzene, alebo pokial to user nevyplnil spravat sa k tomu ze tam vrchni hranice neni?

[2021-08-02 10:56] jnihnat commented on #99
@motyc  - jeste k bodu 4. akce nema Dalsiho Vedoucího akce. Teda proto se filtruje jen na hlavniho. Je to takto spravne, alebo i akce ma mit vedlejsiho vedouciho?

[2021-08-02 15:10] motyc commented on #99
ad horní hranice pro datumy - neměla by tam být; naopak v obou případech může jít o datum v budoucnosti

ad bod 4 - zde mám obojakou odpověď - v datech ve skutečnosti další vedoucí/organizace být mohou (tabulka akce_vedouci); zatím to jen nemáme vyřešené ve formuláři a nechtěli jsme tím teď na poslední chvíli komplikovat vývoj; v principu by tam tak filtr hledat měl, jen data zatím neumíme zobrazi

[2021-08-02 18:54] jnihnat commented on #99
ad 2 - horni hranice upravena
ad 4 - pridane filtrovani i v tabulce akce_vedouci

[2021-08-03 07:27] jnihnat commented on #121
@motyc - pro jistotu pisu jake jsou povolena cisla tedka:
- zacinajici +420 nebo +421 a nasledne 9 cislic
- bez predcisli krajiny, pak se validuje 10 nebo 9 znaku.
- jsou povoleny mezery, tie sa odstranuju.
Pozadovany stav:?
- povolit vsetky cisla zacinajici s/bez + a libovolny pocet cislic? (nebo zadat aspon minimalny pocet?
Navrhuji uz rovno upravit i to pole z TextArea na Text (text area je vac

[2021-08-03 08:24] motyc commented on #121
S úpravou pole na text souhlasím.
Co se týče validace - přemýšlím o tom, a problém je hlavně v té předvolbě, která by neměla být omezena, případně v délce. V podstatě by tedy mělo stačit odstranit kontrolu předvolby (420/421) a povolit různé délky čísel (např. 5-15), aby prošly různé mezinárodní varianty.

[2021-08-05 15:56] pesikj commented on #133
@motyc Toto je pro účely vývoje, abychom mohli přistupovat k záznamům přímo, později bude odebráno. Nyní navrhuji toto issue odložit.

[2021-08-05 19:17] motyc commented on #133
@pesikj souhlasím a značím jako podzim

[2021-08-06 15:41] pesikj commented on #122
@jnihnat Honzo, až budeš pracovat s těmi uploady souborů, zkus prosím vyřešit druhý bod:

* nástroj pro upload souborů musí umožňovat odstranění právě nahraného souboru (např. když nahraji chybný soubor, není nyní cesty zpět)*

[2021-08-06 15:43] pesikj commented on #122
@motyc V případě kopírování - preferujete tlačítko na zkopírování do schránky na okraji buňky, nebo chcete klasicky označit text kliknutím a použít Ctrl+C?

[2021-08-06 16:09] motyc commented on #122
@pesikj Stačí aby fungovalo označení a Ctrl+C nebo kliknutí pravým tlačítkem myši a výběr z klasicky z kontextového menu.

[2021-08-06 19:51] jnihnat commented on #119
Popis kde jsou soubory k uprave login page:
https://github.com/ARUP-CAS/aiscr-webamcr/wiki/Login-page

[2021-08-07 12:46] jnihnat commented on #136
Pole sirka a delka doplnene. nejsou akurat automaticky doplneny z mapy, To nechavam az po uprave mapy, pripadne pri ni.

[2021-08-07 13:53] jnihnat commented on #140
tasky 1 a 3 opraveny v ramci #136. Pri mape potreba doladit dotahovani sirky a delky

[2021-08-07 13:54] jnihnat commented on #139
tasky 1 a 3 opraveny v ramci #136

[2021-08-08 14:44] pesikj commented on #102
@motyc Upravený formulář vypadá takto:

![image](https://user-images.githubusercontent.com/15179154/128636058-15ec9a5f-784c-4ee1-855c-0617db2ec3e0.png)

[2021-08-08 17:36] pesikj commented on #102
Opravené komponenty

![image](https://user-images.githubusercontent.com/15179154/128640584-e78cd3e3-b4b2-4d68-b879-2db56cad9ef0.png)

[2021-08-08 17:59] pesikj commented on #102
Opravená povinnost specifikace u objektů

![image](https://user-images.githubusercontent.com/15179154/128641220-08080b6e-eff3-4507-ad8d-1e2505e1c99a.png)

[2021-08-08 18:04] pesikj commented on #102
Plus přidána diakritika u tlačítka Upravit předměty

[2021-08-08 19:26] pesikj commented on #102
@motyc Formulář na přidání PIAN vypadá nyní takto, jak tam má být řešeno přidání pole geom?

![image](https://user-images.githubusercontent.com/15179154/128643469-a3154619-81c4-486e-adde-4f1998a68e6b.png)

[2021-08-08 21:53] jnihnat commented on #98
@motyc
ad 1 - k unikatnosti - Kontrola momentalne prebieha na unikatnost cele suboru, teda nazov+obsah. Staci pozmenit drobnost a uz to system bude brat ako novy subor. Jedine co som upravil je alert hlasku na:
"Soubor se stejným jménem a obsahem na servru již existuje a je připojen k záznamu "
Je to takto dostacujuce alebo to este nejak upravovat?
ad 2 - typy suborov upravene, snad som ziaden nep

[2021-08-09 08:33] jnihnat commented on #148
@motyc prosim ake ma byt omezeni pro stranku "upload_file/dokument/" - nech to omezeni udelam u vsech uz najednou. (Projektove omezeni mam z issue #98 )

[2021-08-09 12:14] jnihnat commented on #148
@motyc - U mna sa tlacitko Zpet nachadza a funguje spravne. Mozte prosim este raz otestovat?

[2021-08-10 12:43] jnihnat commented on #124
@motyc
- upraveny synchro emailov, teraz sa ukladaju na server do adresara /vol/web/media/emails.
- otestoval som druhu fazi registrace, ta je funkcni, mozne otestovat na dev prostredi taky, staci pak email vyhledat v adresari na serveru hore.
- nasel som jednu vec k uprave: Ak user neni jeste aktivni (neaktivovany linkem z mailu/neaktivovany nastavenim role v adminu) tak se zobrazuje hlaska o nes

[2021-08-10 14:24] jnihnat commented on #122
@motyc - pri odstraneni se maji mazat i soubory fyzycky z disku nebo ich nechavat?

[2021-08-10 16:26] pesikj commented on #146
@jnihnat Podívej se prosím na úkoly 1 a 3

[2021-08-10 21:54] motyc commented on #102
@pesikj Pole geom obsahuje geometrii PIAN, která se zadává skrze mapu. Žádné takové pole by se tedy zobrazovat nemělo. Nebo jste to našel někde v zadání?

[2021-08-10 21:57] motyc commented on #98
@jnihnat
ad 1 - jde hlavně o to, že systém by i v případě duplicity neměl nahrání blokovat, pouze uživatele informovat
ad 2 - otestujeme

[2021-08-10 22:03] motyc commented on #102
Podobně jako u nálezů, stačí zobrazovat jeden řádek pro přidání nového VB. Jinak to vypadá v pořádku.

[2021-08-10 22:09] motyc commented on #148
@jnihnat pro upload_file/dokument/ prosím omezit na PDF.

[2021-08-10 22:11] motyc commented on #148
@jnihnat ad tlačítko zpět - ano, už tam je, máte pravdu

[2021-08-10 22:17] motyc commented on #122
@jnihnat Myslíte-li ze serveru, pak ano. Jde o sobory před odesláním záznamu, takže je lze chápat víceméně jako temp.

[2021-08-10 22:19] motyc commented on #124
Ad nastavení hlášek - ano, rozhodně souhlasím, že lepší budou dvě odlišné hlášky, děkuji za návrh.

[2021-08-11 16:02] pesikj commented on #102
![image](https://user-images.githubusercontent.com/15179154/129063572-dbc12e10-cc64-4d03-8912-a85b9f3bded9.png)

Upraveno, večer nahraji na server.

[2021-08-12 06:31] jnihnat commented on #122
@motyc k mazani jeste jeden dotaz. Tento sa netyka pri uploadu, ale mazani z dokumentace. V takom pripade ty soubory mam nechat na serveru alebo je taky odmazat? Pripadne presunut do nejaky slozky archiv? (V kodu je to pri sobe, tak proto bych to rad udelal najednou tu upravu)

[2021-08-12 06:35] jnihnat commented on #98
@svejci - viete mi poslat dany svg soubor? Predpokladam ze to bude jeho velkostou uz podle danej hlasky (klidne skuste jiny typ souboru podobne velky prosim), Ta sa ale nastavuje na viacerych miestach, tak to skusim najprv na localy u seba a pak bych patral dal.

[2021-08-12 07:33] svejci commented on #98
Testovaný soubor lze stáhnout z následujícího odkazu:
https://www.uschovna.cz/zasilka/OPA8TNPV3BIKU4AS-7XF/

Velikost souboru je 1,3 MB, ale když jsem nyní zkusil nahrát výrazně menší soubor (1kB), tak nahrání proběhlo úspěšně.

[2021-08-12 08:54] motyc commented on #98
@jnihnat Jestli je to jen velikostí, tak omezení velikosti pro testování nevadí, nicméně chybové stavy by měly být ošetřené nějakou srozumitelnou formou pro uživatele, protože nějaké limity tam budou i při provozním nasazení.

[2021-08-12 08:56] motyc commented on #122
@jnihnat V takové situaci soubory skutečně mažeme ze serveru.

[2021-08-12 09:22] jnihnat commented on #122
@motyc - prave ze se nemazali, tak som to opravil a uz je mazeme.

[2021-08-12 09:44] jnihnat commented on #146
@motyc
ad1 co myslite tim "chybí historie spolupráce" - filtr?

[2021-08-12 22:07] pesikj commented on #98
Zvýšil jsem limit na 20 MB.

[2021-08-13 09:17] pesikj commented on #142
@jnihnat Podívej se prosím na úkoly 3-6

[2021-08-13 09:22] pesikj commented on #98
@motyc Kolik by měl být limit v produkčním prostředí?

[2021-08-15 18:46] motyc commented on #146
@jnihnat Nikoli, změny ve spolupráci by měly mít historii podobně jako projekty, akce či dokumenty viz vazby v DB) a na tu je třeba mít možnost se proklikem dostat (změny pro konkrétní spolupráci se zobrazí v tabulce, jakou výše jmenovaných případů).

[2021-08-16 07:45] jnihnat commented on #147
Body 4-7 dodelany. Pokud ma byt projekt jediny povinny, je potrebne do Edit dodelat jeste mapu pro polohu. Zatim to neni a proto som nechal i polohu ako povinnu pri create.

[2021-08-16 08:12] jnihnat commented on #142
@motyc -ad6, pro jistotu se zeptam ci to dobre chapu:
- badatel - projekty v stave 3 a 4 (Zahajeny a Ukonceny v terenu) a filter na organizace vedouciho, kde je user spolupracovnik.?
- archeolog - to same co badatel + projekty kde vedouci = user ?
- archivar a vyse - vsetky projekty pruzkum vo vsetkych stavoch?

[2021-08-16 14:15] pesikj opened #179 "> @pesikj - je este potreben spravit migraci na odstraneni constraint "soubor_filepath_key" z tabulky soubory."
Dobře, já ji upravím.

_Originally posted by @pesikj in https://github.com/ARUP-CAS/aiscr-webamcr/issues/171#issuecomment-897487671_

[2021-08-16 14:19] pesikj commented on #130
@jnihnat Prosím zkontroluj, zda je 5 hotové a podívej se prosím na 6.

[2021-08-16 14:25] pesikj commented on #103
@jnihnat Podívej se prosím na úkol č. 2.

[2021-08-16 14:28] pesikj commented on #94
@jnihnat Podívej se prosím na úkoly 6-8.

[2021-08-17 06:27] svejci commented on #147
Na kterém serveru je prosím již možné uvedené úpravy vidět? Nevím jestli nekoukám na špatné místo, ale zatím přidané úpravy nevidím. Děkuji

[2021-08-17 09:33] motyc commented on #142
ad badatel - ok
ad archeolog - to same co badatel + projekty kde organizace = user.organizace
ad archivar - ok

[2021-08-17 09:34] motyc commented on #98
@pesikj 100 MB

[2021-08-17 10:33] jnihnat commented on #104
@motyc - co prosim znamena bod 3?
datum zveřejnění se dovozuje automaticky podle hesláře organizací
Snazil som se dohedat nejakou relaci ale este v tom nemam taky prehled.
Dekuji

[2021-08-17 11:11] jnihnat commented on #98
dropzone je nastavena na 100, staci teda nastavit server @pesikj

[2021-08-17 11:21] pesikj commented on #98
Změnil jsem limit nginx na 100 MB.

[2021-08-17 11:35] svejci commented on #104
Dle mě je tímto myšleno, že dokumenty jsou podle smlouvy mezi Archeologickým ústavem a oprávněnými organizacemi zveřejňovány po lhůtě tří let od archivace dokumentu. Tuto smlouvu však nemají s ústavem uzavřeny všechny oprávněné organizace a proto by se datum zveřejnění mělo dovozovat automaticky podle toho, která organizace dokument do systému vložila a zda má uzavřenou výše zmíněnou smlouvu. D. N

[2021-08-17 12:10] jnihnat commented on #142
upraven filter.

[2021-08-17 12:11] jnihnat commented on #147
upravy este nie su mergnoute do hlavni vetve, tak zatim nikde.

[2021-08-17 12:26] pesikj commented on #147
Až bude schválený merge request, změny budou na serveru 192.168.254.30.

[2021-08-17 12:46] jnihnat commented on #104
este v tabulce "organizace" sem nasel sloupec mesicu_do_zverejneni a zverejneni_pristupnost. Predpokladam ze sa jedna o prvni uvedeny sloupec. pokud jo, jaka ma byt logika prosim.

[2021-08-17 13:00] svejci commented on #147
@pesikj Děkuji, jen jsem si nebyl jistý jestli se dívám na správné místo. Počkám až bude vše na serveru 192.168.254.30.

[2021-08-17 14:15] pesikj opened #183 "v DB zmenene constrainy"
v DB zmenene constrainy
autor - zmenene na null     - mame M2M autori
jazyk dokumentu - zmenene na null         - mame M2M jazyky
odpovedny_pracovnik_vlozeni - zmenene na null              ???
datum_vlozeni - zmenene na null                             ???
datum_archivace - zmenene na null                           ???

_Originally posted by @jnihnat in https://github.com/ARUP-CAS/aiscr-webamcr/is

[2021-08-17 14:48] pesikj commented on #147
@svejci Na server 192.168.254.30 je nahraná nová verze včetně řešení tohoto issue.

[2021-08-18 06:48] svejci commented on #147
@pesikj Děkuji, prošel jsem si nasazené body 4-7 a zobrazení vedoucího u projektů, nemožnost editovat pole Projektu a tlačítko zpět u mne fungují v pořádku. Při založení projektu zůstává stále povinné určění polohy, což ale souvisí s komentářem ze 16.8. ohledně přidání mapy pro edit záznamu.

[2021-08-19 09:48] jnihnat commented on #103
Upravene formulare na Zapsat, detal aj edit.

[2021-08-19 12:43] pesikj commented on #97
@jnihnat Podívej se prosím na body, které nesouvisí s mapou.

[2021-08-19 14:09] pesikj commented on #97
Možnost použít validátor
`webclient/arch_z/validators.py` - `datum_max_1_mesic_v_budoucnosti`
`datum_zahajeni = forms.DateField(validators=[validators.datum_max_1_mesic_v_budoucnosti])`

[code]

[2021-08-19 20:51] motyc commented on #183
Viz https://github.com/ARUP-CAS/aiscr-webamcr/pull/180#issuecomment-902234555

Díval jsem se na to a jde o soubor: https://github.com/ARUP-CAS/aiscr-webamcr/blob/dev/migrace/migrace_mazani.sql

[2021-08-19 20:59] motyc commented on #104
@jnihnat Ano, to je ono. Dovozuje se to z hesláře organizací (každý dokument má organizaci uvedenu v poli `organizace`), a to z pole `mesicu_do_zverejneni`. Toto číslo (počet měsíců) se automaticky přičte k aktuálnímu datu při archivaci (posun do stavu 3) dokumentu.

[2021-08-20 09:29] jnihnat commented on #104
field datum_zverejneni nastaveny na disabled. Pridane jeho dopocitavani pri archivaci.
Napada mne pak ci pri Vraceni se nema mazat. Tedka to bude ffungovat tak ze se nezmaze ale pri dalsi archivaci se prepise.

[2021-08-20 09:32] jnihnat commented on #94
ad6 - upravene v #121
ad7 - upravene v #98
ad8 - upravene v #98

[2021-08-20 12:09] jnihnat commented on #95
upravene na miestach z komentara.

[2021-08-20 19:28] jnihnat commented on #97
@motyc
ad 6 - co prosim znamena v zavorce - nutno nejdřív vrátit -> vyřešit posun do archivovaného stavu? - moznost edit som odebral pro stav Archivovany, bez potreby dalsej upravy.
ad 7 - sa uz asi nevyskytuje, pozeram ze aj mapa na obr je ina ako teraz.
ad 9 - skusil som pridat. Pridavam 2 obr. ci jedna z toho moze byt, alebo si to predstavujete este inak. Dajte prosim vediet co by ste si predst

[2021-08-21 08:28] motyc commented on #104
Díky za poznámku - jakmile je jednou vyplněné, už by se nemělo samo přepisovat (tj. při další archivaci ponechte původní hodnotu).

[2021-08-21 08:39] motyc commented on #97
@jnihnat
ad 6 - ok, to je v pořádku řešení; to v závorce je také vyřešené, můžete ignorovat
ad 9 - druhá varianta mi přijde úplně v pořádku

[2021-08-21 12:17] jnihnat commented on #97
ad 9 - upravene podla varianty 2.
Vsetky body az na mapu opravene.

[2021-08-21 12:48] jnihnat commented on #104
upraveno

[2021-08-23 13:15] jnihnat commented on #63
@motyc , @DanaKriv Dobry den, mam prosim dotazy:
ad 1 - ako by ste si predstavovali osetrit pretecenie? Dvihnutie zo 6 cisel na 7? Pripadne navrhujem na tento bof zalozit nove issue
ad 2 - PIAN ident upraveny na max pro nepotvrzeny a sekvenci pro potvrzeny.  co sa tyka PIAN=4 je tym mysleno typ? pokud ano, pian ma zatim zavedeno len 3 typy v DB v heslari.
ad 3 - predelano na sekvenci
ad 4 - tp sam

[2021-08-23 13:44] motyc commented on #63
@jnihnat
ad 1 - Chybovou hláškou a nutností reakce admina (záznam se již nevytvoří). Ošetřením je myšleno "aby to nezbořilo aplikaci/databázi". V praxi by k tomu docházet nemělo a pokud by se taková situace blížila, budeme to řešit v předstihu.
ad 2 - je tím myšlena přesnost PIAN (PIAN.presnost); "4" znamená "na katastr"
ad 4 - odpoví @DanaKriv

[2021-08-23 15:47] DanaKriv commented on #63
@jnihnat @motyc
ad 4 mělo by se to řešit stejně, jako v jiných procedurách stanovením max a reakcí na překročení
např. def get_cast_dokumentu_ident(dokument: Dokument) -> str:
         MAXIMUM: int = 999 ....
else:
        logger.error("Maximal number of dokument parts is" + str(MAXIMUM))

Ještě jsme přemýšleli, jak je to s přetečením u permanentního ID dokumentu (def set_permanent_ident_cely(self

[2021-08-23 18:42] jnihnat commented on #63
@motyc  a @DanaKriv
zalogovani chyby je jasne. ja osobne bych k tomu jeste dodelal i zobrazeni chyby na FE pomoci cervenych alertova ako je jinde v aplikaci. Pokud souhlasite, tak kdyz mi napisete hlasku to tam pridam. (momentalne tam je: "Maximalni cislo identifikatoru bylo prekroceno")
Pokud ne, tak aplikace by mnelo zobrazit nejakou generickou web error.

co a tyka str.zfill() tak ten len dopln

[2021-08-24 10:30] motyc commented on #63
@jnihnat
Ano, ten alert jsem měl na mysli, takže souhlas. Text může být: "Byl překročen limit při přidělování identifikátoru. Pro vyřešení problému kontaktujte administrátora AMČR."

Z popisu fungování tedy vyplývá, že tam, kde to není ošetřeno, by se ještě měla doplnit ochrana proti přetečení nad nastavený počet číslic (víme, že chybí u dokumentů - dočasná i trvala ID).

[2021-08-25 13:15] DanaKriv commented on #63
@jnihnat
Ještě prosím o kontrolu procedury pro přidělení dočasného ID projektu (get_temporary_project_ident). Nemůže nastat situace, že nově přidělené ID už bude v databázi existovat?

[2021-08-30 09:42] jnihnat commented on #63
@motyc a @DanaKriv
- doplneni preteceni dodelam pro dokumenty
- preteceni taky chybi pro docasny ident pre projekt. Plus ten se bere jen jako "X-" + region + "-" + str(year) + id_number
kde id_number je doplnene id z databaze na 5 cisel.
je to takto spravne? Tu sa trocha obavam, ze se muzeme dostat rychlo na 99999 (i kdyz nevim kolik projektu v ramci AMCR vznika rocne, tak mozna se mylim)

[2021-08-30 09:52] motyc commented on #63
@jnihnat Jestli ale dobře chápu způsob přidělování, tak pro dočasný ident projektu se na tvrdo doplňuje 5 znaků podle DB, takže přetečení na 6 číslic nehrozí. Může ale (teoreticky) nastat ta situace zmíněná @DanaKriv, že se DB pokusí přidělit podruhé tentýž ident_cely, a to ve chvíli, kdy by projektů v jednom roce bylo více než 99999 a zároveň stále existoval dočasný ident_cely u projektu s ID o 1

[2021-08-30 10:06] jnihnat commented on #63
@motyc
Prepacte, ja to trocha spatne napsal, upresnim.
docasny ident pracuse s projekt.id. ID je automaticke pole vzdy vyssi o 1. Takze nehrozi, zeby se udelil 2x stejne ID. Spis co hrozi tedka je preteceni (to doplneni je pokud je min jak 5 cisel, vic to povoli). Taky je potrebne osetrit to pridelovani. 20 tis rocne by znamenalo preteceni po 5 letech (a to nepocitam kolik projektu je v DB ted).
O

[2021-08-30 10:27] motyc commented on #63
@pesikj Aha, rozumím. Když nad tím přemýšlím, možná by bylo nejsnazší vypustit z dočasného ID údaj o roku, a brát z ID 9 čísel, což zajistí, že to v podstatě nemůže přetéct nikdy... Bylo by to tedy: "X-" + region + 9 číslic

Co myslíte?

[2021-08-31 16:49] jnihnat commented on #63
dokumentace vytvorena na Wiki:
https://github.com/ARUP-CAS/aiscr-webamcr/wiki/Pridelovani-ident_cely

[2021-08-31 17:53] jnihnat commented on #63
Vsetky body hore by mali byt splnene. Kvoli zasahom do vacsiny pridelovania identov, prosim pretestovat vsetky.

[2021-08-31 18:05] motyc commented on #63
@jnihnat v dokumentaci vidím tyto nepřesnosti; je třeba je opravit, zvláště pokud platí i v kódu:
1) Permanentní ID projektu se přiděluje při přechodu do P1, nikoli při archivaci.
2) Mezi rokem a číslem v ID projektu nemá být pomlčka (správně je "M-202100034" (je třeba promítnout i do podřízených tříd (akce, DJ atd.)
3) Dokument - zde opět nemá být pomlčka mezi rokem a číslem (správně je "X-M-TX-2

[2021-09-01 16:24] pesikj commented on #61
@Najiva Můžeš prosím podrobněji specifikovat tento bug?

[2021-09-01 16:33] Najiva commented on #61
Uz si to moc nepamatuju. Vim ze validace choices ve formsetu se v nekterem z tech pripadu neprovadi nebo hazi true kdyz by tam melo byt false. Vim ze to nebylo uplne kriticke (kdyz se forma vyplni spravne tak to neni problem) kazdopadne to asi casem vyplave.

[2021-09-01 18:38] jnihnat commented on #63
@motyc vacsina chyb byla naozaj jenom v dokumentaci, pro jistotu som kontroloval v kodu, po bodoch:

1. chyba jen v dokumentaci
2. chyba jen v dokumentaci
3. chyba jen v dokumentaci
4. chyba jen v dokumentaci + oprava v kodu
5. chyba jen v dokumentaci + oprava v kodu
6. chyba jen v dokumentaci
7. Aplikaci tu komponentu vytvari na pozadi a prideluje i ident, proto som napsal jak to tedka funguje.
8

[2021-09-02 13:05] motyc commented on #63
@jnihnat
ad 7 - jste si jistý, že se skutečně ta komponenta někde sama na pozadí vytváří? Pokud ano, bylo by to chybně a nově vytvářet se sama nemá. Díval jsem se do kódu na https://github.com/ARUP-CAS/aiscr-webamcr/blob/94318064878810211213fb274d0c040a4607348b/webclient/core/ident_cely.py#L170 a je u toho komentář `# nikde nepouzite`...

[2021-09-02 13:14] jnihnat commented on #63
Jo ta komponenta se vytvari pro 3D model:
create/model
samotny ident se pak nevytvari z methody ale je hardcoded:
`komponenta = form_komponenta.save(commit=False)`
`komponenta.komponenta_vazby = dc.komponenty`
`komponenta.ident_cely = dokument.ident_cely + "-K001"`
`komponenta.save()`

[2021-09-02 13:29] motyc commented on #63
@jnihnat Ano, máte pravdu, tam je to úplně dobře. Na tuto část aplikace jsem zapomněl (myslel jsem jen na dokumenty u projektových akcí). Díky za upřesnění.

[2021-09-04 10:31] motyc commented on #119
@vojtakus @MichalKminek Ahoj, prosím potřeboval bych na 192.168.254.30 R/W přístup k těmto souborům: https://github.com/ARUP-CAS/aiscr-webamcr/wiki/Login-page

[2021-09-04 10:32] #120 closed

[2021-09-04 10:42] #95 closed

[2021-09-04 10:53] motyc commented on #35
Problém je, že po kliknutí mimo ČR sice vyskočí hláška, ale formulář lze přesto odeslat (v hlavním katastru je "none") a pak vyskočí errror 500

[2021-09-04 11:04] #149 closed

[2021-09-04 11:05] #148 closed

[2021-09-04 11:23] #145 closed

[2021-09-04 11:24] #143 closed

[2021-09-04 11:26] #141 closed

[2021-09-04 11:29] #138 closed

[2021-09-04 11:31] #137 closed

[2021-09-04 11:33] #135 closed

[2021-09-04 11:35] #134 closed

[2021-09-04 11:36] #131 closed

[2021-09-04 11:40] #129 closed

[2021-09-04 11:43] #128 closed

[2021-09-04 11:47] #127 closed

[2021-09-04 11:49] #126 closed

[2021-09-04 11:49] #125 closed

[2021-09-04 11:50] #124 closed

[2021-09-04 11:58] motyc commented on #122
Zjištěné chyby k bodu 4 (zablokování editace u archivovaných záznamů):
- [ ] http://192.168.254.30:8080/dokument/detail/model/ - jde upravovat předměty/objekty + jde nahrávat soubory
- [ ] http://192.168.254.30:8080/projekt/detail/ - jde upravovat oznamovatele + jde nahrávat dokumentaci
- [ ] http://192.168.254.30:8080/arch_z/detail/ - jdou editovat dokumentační jednotky a související podřazené úd

[2021-09-04 11:59] #121 closed

[2021-09-04 12:13] #104 closed

[2021-09-04 12:13] #103 closed

[2021-09-04 12:17] motyc commented on #102
@pesikj @jnihnat Zatím tuším opravy nejsou nasazeny...

[2021-09-04 12:22] motyc commented on #101
@pesikj Zjištěné chyby - ad 1 - nevyplní se Další katastry, specifikace data má být implicitně nastavena na "přesně"

[2021-09-04 12:24] motyc commented on #100
@DanaKriv Dano, prosím, prověř ty zkrácené verze (hlavně pro specifické případy, jako je více jmen, více příjmení, pomlčky ve jméně (Jean-Luc) a podobně.

[2021-09-04 12:31] #99 closed

[2021-09-04 12:32] motyc commented on #98
@pesikj @jnihnat Stále platí problémy s detekcí duplicit (má být informativní) a se špatnou chybovou hláškou (dává HTML kód).

[2021-09-04 12:41] motyc commented on #97
@jnihnat
ad 7 (chyba překryvu) - stále platné, stačí si zmenšit okno a děje se to

[2021-09-04 12:46] motyc commented on #96
@pesikj @jnihnat Nalezené chyby:
- ad 1 - místo názvu katastru se po kliknutí do mapy v poli katastru zobrazuje ID z databáze
- ad 5 - v pořádku, jen otočit logiku tlačítka na zamykání editace (ikona zámečku zamyká, ikona pinu umožňuje přidávání; teď je to naopak)

[2021-09-04 12:49] #94 closed

[2021-09-04 12:54] #86 closed

[2021-09-04 12:55] motyc commented on #63
@DanaKriv Měla bys prosím čas to otestovat?

[2021-09-04 13:07] motyc opened #192 "Testování - dílčí nové chyby"
Obecné
- [x] v poli s dalšími katastry se zobrazuje za posledním čárka, i když tam žádný další není
- [x] jsou vypnuté našeptávače v textových polích (hlavně na http://192.168.254.30:8080/oznameni/ je to škoda); naopak jinde zapnuté jsou, kde dělají problémy (např. http://192.168.254.30:8080/projekt/edit/ pro datumy, kde to překrývá kalendář)

http://192.168.254.30:8080/projekt/create
- [x] ostatn

[2021-09-06 07:17] pesikj commented on #192
Rozpiště to prosím do tasků k tomuto issue, děkuji.

[2021-09-06 09:37] motyc commented on #192
@pesikj Rozepsáno.

[2021-09-06 18:43] pesikj commented on #35
Které URL se to týká?

[2021-09-06 18:47] pesikj commented on #15
Zde úplně nerozmím zadání. Contraint musí být nastavený na foreign key. Znamená to, že je potřeba foreign key předělat?
@Najiva @motyc

[2021-09-06 18:50] pesikj commented on #48
Tohle je podle mě možné řešit dvěma způsoby:
- V djangu v navázaných metodách delete.
- Na úrovni databáze s využitím triggerů.
Které řešení je preferované?

[2021-09-06 18:55] Najiva commented on #15
@pesikj Protoze jsou vsechny heslare v jedne tabulce, cizy klic nedokaze zamezit tomu aby vazba na zaznam z jineho heslare(podmnoziny zaznamu z tabulky heslar) nez na ktery ma ukazovat byla nevalidni. Je potreba pridat novy constraint (check) ktery bude omezovat reference na tabulku heslar pouze na jeji podmnoziny.

[2021-09-07 08:48] motyc commented on #35
http://192.168.254.30:8080/oznameni/

[2021-09-07 08:51] motyc commented on #48
@pesikj Pokud to jde řešit přímo v DB, preferuji řešení na úrovni DB. Cílem je uchovat konzistenci dat a čím blíže jim to bude, tím lépe.

[2021-09-07 10:14] jnihnat commented on #122
Opravena nepovolena editace na vse + uprava pro disabled polia aby bylo mozne z nich kopirovat.

[2021-09-07 10:37] MichalKminek commented on #119
Pristup predan

[2021-09-07 10:51] motyc commented on #119
Pokusil jsem se otestovat, ale změna souborů v 192.168.254.30/home/amcr/aiscr-webamcr/webclient/templates/index_page se nijak na serveru neprojevila.

[2021-09-07 10:56] MichalKminek commented on #119
Pravdepodobne bude potreba aktualizovat kontejner?

[2021-09-07 11:08] motyc commented on #119
Po pravdě nevím, co to znamená. V principu mi jde o to, aby bylo možné popis na úvodní stránce měnit podle potřeby, bez nutnosti restartovat server, tj. bez toho, aby to narušilo běh aplikace.

[2021-09-07 11:16] jnihnat commented on #98
@pesikj pridana 20_migrace.sql pro smazani constraint, prosim pak o spusteni na DB kde to je potreba.
upravene este hledani duplicit.

[2021-09-07 11:27] jnihnat commented on #11
@motyc aka je tu prosim presna poziadavka. Momentalne je check pridany po kliknuti na Dokoncit oznameni.
![image](https://user-images.githubusercontent.com/57906106/132337238-aee20c78-d023-4bd4-96fd-21d8ce202eec.png)

[2021-09-07 12:03] jnihnat commented on #97
@motyc  Prepacte ale mne sa to nedari nasimulovat. Ste si isty ze to je na stranke projekty/detail?
Po novu som pre detail spravil z poli typu Select polia Textinput, takze tam uz to rozkliknuti taky nepujde udelat. (bude to v #194 )
Teda pokud to je naozaj na detailu, pockal bych az bude to issue mergnuto a nasazeno a otestujte to prosim jeste jednou.
Dekuji a ospravedlnujem sa za komplikace.

[2021-09-07 12:55] motyc commented on #11
Není, takto to vypadá ok, jen to asi nebylo nasazené, protože na mne nic nevyskočilo.

[2021-09-07 13:00] motyc commented on #97
@jnihnat Máte pravdu, trochu se mi v hlavě spojilo více problémů dohromady. Děje se to třeba pro pole Další katastry na stránce projekt/edit (i create). On je to obecnější problém, kdy mezi prvky mapy a seznamy vznikají divné kolize a překryvy, tak se mi to spojilo a nekoukal jsem přesně na daný screenshot. Pardon za nepřesnost.

[2021-09-07 15:16] jnihnat commented on #101
@pesikj pozeral som na to None u hlavniho katastru, mozna to bude souviset s predelavkem Selectu na TextInput u disabled field. Bude potreba asi explicitne nastavit vo view katastr z projektu.

[2021-09-07 15:49] pesikj commented on #80
@jnihnat Bug, o kterém jsme se dnes bavili, by měl být odstraněn.

[2021-09-07 17:30] pesikj commented on #101
@jnihnat Myslím, že ne, ve formuláři chybělo nastavení výchozí hodnoty.

[2021-09-07 18:16] pesikj commented on #101
Plus disabled pole se neukládají. To je opraveno.

[2021-09-07 18:48] pesikj commented on #101
@motyc Pokud je pole s výběrem katastrů nastaveno jako read only (nikoli disabled), má světle šedý font a bílé pozadí. To tak má být, nebo tam chcete šedé pozadí? Případně je Vám to jedno?

![image](https://user-images.githubusercontent.com/15179154/132395580-5978f170-64d7-4cf9-804a-5e50184c2e79.png)

[2021-09-07 19:05] pesikj commented on #192
@jnihnat První bod jsem vyřešil.

[2021-09-07 19:25] pesikj commented on #11
@motyc Dnes večer jsem dělal deploy, tak to můžete otestovat znovu.

[2021-09-07 19:53] pesikj commented on #15
@Najiva To lze řešit parametrem limit_choices_to u pole ForeignKey, jde tedy o přidání těchto parametrů do polí, kde chybí?

[2021-09-07 19:58] motyc commented on #15
@pesikj Myslím, že když jsme to s @Najiva řešili, tak jsme to chtěli právě mít na úrovni databáze. Jestli jsem dobře hledal, tak "limit_choices_to" je funkce Djanga, nikoli PostgreSQL.

[2021-09-07 20:00] motyc commented on #101
@pesikj Osobně bych to raději sjednotil, aby neaktivní pole byla všude stejná (šedé pozadí). Ale beru to jako věc, co můžeme ladit s grafikou i později.

[2021-09-07 20:00] Najiva commented on #15
@pesikj Ne. Myslenka byla mit to jak na aplikacni urovni tak na urovni databaze (protoze se s daty manipuluje i mimo aplikace). Jesli to ale David nevyzaduje tak to neni kriticke. Taky proto jsem to issue nedodelal. Zakladal jsem ho podle sveho uvazeni.

[2021-09-07 21:26] motyc commented on #15
Souhlasím, že toto můžeme řešit později, není to pro stávající fázi kritické.

[2021-09-07 22:48] pesikj commented on #35
Opraveno. Pro test je potřeba smazat cache prohlížeče (Ctrl+F5), aby se načetla nová verze souboru map.js.

![image](https://user-images.githubusercontent.com/15179154/132420050-ab6f85a1-5e6f-4216-9be1-1d279216e99a.png)

[2021-09-07 22:50] pesikj commented on #15
Dobře, mně se k tomu moc informací zatím nepodařilo dohledat. Ale přinejhorším se na nějakém testovacím projektu dá vytvořit testovací pole, zmigrovat ho a podívat se create skript databáze.

[2021-09-08 08:49] jnihnat commented on #97
prekryv opraven v #203

[2021-09-08 11:54] motyc commented on #11
Funguje, zavírám.

[2021-09-08 11:54] #11 closed

[2021-09-08 15:51] jnihnat commented on #122
@motyc
Ad 1 - na detaile som nastavil aby fieldy byli prazdne pokud nemaji nic vyplnene (snad som nezapomnel na zadny detail) (jeste neni nasazeno)
Co sa tyka ale edit zobrazeni, niekde u selectov sa zobrazuje "---------" mam to ponechat alebo zmenit? pripadne prosim na co, prazdne pole?

[2021-09-08 22:05] DanaKriv commented on #100
@motyc Zkusila jsem varianty dvě jména, dvě iniciály jména, kombinace jména a iniciály a naopak, dvě příjmení s mezerou a dvě příjmení s pomlčkou a vše je OK. Pokud  se zapíší dvě iniciály bez mezery nebo jméno s pomlčkou, ve zkrácené verzi se objeví pouze první písmeno, já bych to asi tolerovala.

[2021-09-09 07:41] motyc commented on #100
@DanaKriv Díky za test. Já bych opravil pouze to jméno s pomlčkou, kde správné řešení pro `Novák, Jean-Luc` je `Novák, J.-L.`, nikoli pouze `Novák, J.`

[2021-09-09 07:45] motyc commented on #122
@jnihnat ad edit - nejlepší by bylo mít to též jako prázdná pole, čímž to bude jednotné. Díky.

[2021-09-09 10:51] pesikj commented on #102
@motyc
Prošel jsem si druhou část a obecně mi není jasné, jak by mělo fungovat vytvoření PIAN. Formulář obsahuje pouze volbu přesnosti, ale k vytvoření nového záznamu PIAN je potřeba více dat. Je potřeba tyto hodnoty přidat do formuláře, nebo je převzít odjinud?

[2021-09-09 11:20] motyc commented on #102
@pesikj Při vytváření PIAN se zaznamenává:
- geometrie do mapy (z ní se odvozuje řada údajů, jako je typ, list ZM atd.)
- přesnost do formuláře
- historie (automaticky)

Prosím buďte případně specifičtější, v čem jsou nejasnosti.

[2021-09-09 14:36] pesikj commented on #102
Jde mi o formulář, který otevřu z menu na stránce arch_z/detail - položka Přidat nový PIAN:

![image](https://user-images.githubusercontent.com/15179154/132705499-4d8d4b5e-ad39-4d34-9d32-a3b2089b82b8.png)

Formulář nyní vypadá takto:

![image](https://user-images.githubusercontent.com/15179154/132705536-d63a464b-1b69-4050-a5bd-ef055eef3086.png)

Po odeslání hlásí 500 (jak je reportováno v issues).

[2021-09-09 14:59] pesikj commented on #102
@motyc
Tak beru dotaz zpět, už je mi jasné, že je potřeba využít tlačítka u mapy.

[2021-09-09 17:47] motyc commented on #102
@pesikj Ano, je to tak. Jinak já jsem na ten error 500 přišel také v momentě, kdy kliknu na "Upravit PIAN", což by mělo jít u nepotvrzených (opět s využitím mapy). Problém to ale asi bude shodný.

[2021-09-09 20:00] jnihnat commented on #192
bod 5 opraveny v #206
bod 4 a 7 opravene v #203

[2021-09-10 11:36] jnihnat commented on #192
ad2 - tu som vypol len naseptavac u datumu. U poli ktere su "textarea" se naseptavac (ten automaticky z prohlizece) se zapnout neda.

[2021-09-10 11:54] jnihnat commented on #192
@motyc
ad 3 - mozete prosim viac specifikovat? Chcete aby sa pri create projektu v mape zobrazovali lokalizace uz existujicich projektu?
ad 8 - predpokladam ze v tomto pripade je potrebne pridat mapu pri pas/edit?

[2021-09-10 13:17] pesikj commented on #146
@jnihnat Podívej se prosím i na druhý bod.

[2021-09-10 13:19] pesikj commented on #179
Migrace je nahraná s číslem 20, je potřeba ji spustit.

[2021-09-10 13:28] pesikj commented on #115
@jnihnat Podívej se prosím na chybějící body.

[2021-09-10 14:31] motyc commented on #192
ad 3 - zjednodušeně - ostatní projekty se mají zobrazovat tehdy, pokud je zaškrtnuto "Projekty" ve vrstvách; nyní se zobrazí jen někdy, což je pro uživatele matoucí (netuší, co má udělat, aby je viděl):
![image](https://user-images.githubusercontent.com/20186892/132863267-4ed01ba4-257c-49bb-8338-c015df5887f6.png)

ad 8 - to řešíme jinde (#147); zde je problém v tom, že pas/create vyžaduje vyplnění

[2021-09-13 09:25] jnihnat commented on #146
@motyc
ad2 - chapu spravne, ze pro archiváře/admina by se mnel zobrazit sloupec navic s linkem "Smazat" - ten link by vedl na do transakcniho okna pro potvrzeni?

[2021-09-13 09:48] motyc commented on #146
@jnihnat Ano, chápete správně.

[2021-09-13 13:06] jnihnat commented on #100
jmeno s pomlckou opravene v #211

[2021-09-14 07:28] jnihnat commented on #115
napojení na DB popsane v https://github.com/ARUP-CAS/aiscr-webamcr/wiki/Konfigurace#nastaven%C3%AD-napojen%C3%AD-na-db

[2021-09-14 09:30] jnihnat commented on #115
administrace ydokumentovana v https://github.com/ARUP-CAS/aiscr-webamcr/wiki/Administrace

[2021-09-14 15:19] DanaKriv commented on #192
@jnihnat Potřebovala jsem otestovat vytváření ID pro ADB (http://192.168.254.30:8080/arch_z/detail/C-202105936A#), ale po stisknutí tlačítka Vytvořit ADB to padá.

[2021-09-14 15:23] DanaKriv commented on #63
@jnihnat @motyc  Otestovala jsem, děkuji za vytvoření dokumentace, jde to s ní mnohem lépe.

Poznámky:

1. webclient/core/exceptions.py/MaximalIdentNumberError: hlášení "Maximalni cislo identifikatoru bylo prekroceno“ nahraďte za "Byl překročen limit při přidělování identifikátoru. Pro vyřešení problému kontaktujte administrátora AMČR."

 2. trvalý ident Projektu (webclient/projekt/models.py/set_p

[2021-09-14 19:48] jnihnat commented on #192
@pesikj nasiel som chybu pre form CreateVyskovyBodForm. su tam pouzite polia northing a easting pre zobrazeni X a Y z pian.geomu, ktore boli ale zmazane v migraci `migrace_mazani.sql`
Mozem ich odobrat z modelu a vo forme nahradit vlastnymi poliami `X` a `Y`.
otazka - Neviem ale ci je mozne pri vytvarani/uprave vyskoveho bodu ten geom menit, alebo ma byt disabled a brat sa len z pianu.
@motyc - ot

[2021-09-15 06:39] pesikj commented on #192
@jnihnat Díky za zjištění, já už to s @motyc řešil a je potřeba to uložit do nové struktury - sloupec typu Geom, akorát jsem to nedodělal, protože jsem nevěděl, jak na to. Ale už asi vím :-)

[2021-09-15 06:48] jnihnat commented on #63
ad1 - v souboru `exceptions.py` jsou texty ktere se ukladaji jen do logu. to co se zobrazi uzivateli je v `core/message_constance.py` a tam to je verim ze spravne.
ad2 - mate pravdu opravil som to a kontrolu pridal po cyklu kvuli importu
ad3 - mate pravdu, pridal som kontrolu.
zmeny jsou v #215

[2021-09-21 10:30] #35 closed, assigned to pesikj, jiri-bartos-huld

[2021-09-21 10:39] motyc commented on #61
Nevím, co mám přesně testovat, ale zjevně se to řešilo. Zavírám a narazíme-li na problém, vrátíme se k tomu.

[2021-09-21 10:39] #61 closed

[2021-09-21 10:44] #80 closed

[2021-09-21 10:50] #100 closed

[2021-09-21 11:34] motyc commented on #102
@pesikj @jnihnat Výsledky dnešního testování (viz též nezaškrtnuté tasky v první commentu - upravil jsem aby odpovídalo aktuálnímu stavu):
- U komponenty stále chybí checkbox “Nejistá datace”
- Logika přidávání DJ je stále chybná (musí platit ve všech případech přidávání i editace):
-- u první DJ má být pouze volba “Celek akce” nebo “Sonda”
-- u každé další DJ na základě první pouze “Část akce” ne

[2021-09-21 11:45] motyc commented on #122
@pesikj @jnihnat
ad obsah prázdných polí - není opraveno minimálně u projektu - důsledně zkontrolovat všude:
![image](https://user-images.githubusercontent.com/20186892/134163954-2252c1c1-4ba1-4e25-b586-e74b9086baab.png)

[2021-09-21 11:53] #146 closed

[2021-09-21 11:53] #156 closed

[2021-09-21 12:00] motyc commented on #179
@pesikj K tomuto bych rád znal lépe důsledky pro úložiště. Bude systém v případě duplicitních souborů bez problémů fungovat, resp. jak? Dosud byl součástí názvu i hash, platí to stále? (ptám se proto, co vlastně znamená "duplicita")

[2021-09-21 12:02] motyc commented on #183
@pesikj @pbartosova Ještě jednou důrazně prosím o otestování nad verzí databáze, kde bude provedena kompletní migrace, tj. vč. mazání. Jedině tak ověříme, že aplikace běží na správném podvozku a nepracujeme v ní s něčím, co v databázi ve skutečnosti vůbec nebude... Stejně tak je to jediný způsob, jak zkontrolovat správnost migrací.

[2021-09-21 12:16] #192 closed

[2021-09-21 13:57] #130 closed

[2021-09-21 13:58] #136 closed

[2021-09-21 13:58] #139 closed

[2021-09-21 13:58] #140 closed

[2021-09-21 13:58] #142 closed

[2021-09-21 13:58] #147 closed

[2021-09-21 14:26] #115 closed

[2021-09-21 14:33] motyc opened #216 "Nové chyby po testování"
- [ ] - testy po buildu zjevně již nějakou dobu selhávají: https://github.com/ARUP-CAS/aiscr-webamcr/actions/workflows/ci.yml
- [ ] - http://192.168.254.30:8080/projekt/list - Projekt se objeví v seznamu ještě před tím, než je oznámení vůbec dokončeno, tj. dříve, než dojde k potvrzení druhého kroku v http://192.168.254.30:8080/oznameni/ (nahrání dokumentace a odeslání); může tak dojít k situaci, k

[2021-09-22 15:19] pesikj commented on #48
@motyc Navázaným Dokumentem myslíte dokument navázaný přes model DokumentCast?

[2021-09-22 15:34] motyc commented on #48
@pesikj Ano, přesně tak.

[2021-09-22 16:14] pesikj commented on #96
@motyc Může tam zůstat ID v závorce?

[2021-09-22 16:23] motyc commented on #96
@pesikj Ideální by bylo zachovat standardní formát, jako máme jinde "katastr (okres)". Je to ekvivalent k http://192.168.254.30:8080/oznameni/, kde v poli katastr též interní ID nezobrazujeme. Navíc obecně pokud by někde mělo být nějaké ID zobrazované, neměl by to být primární klíč z DB, které slouží jen pro interní účely.

[2021-09-22 16:25] pesikj opened #218 "Při mazání záznamů v tabulce soubor v DB je třeba smazat i navázané soubory z úložiště"
Při mazání záznamů v tabulce soubor v DB je třeba smazat i navázané soubory z úložiště

[2021-09-22 17:29] pesikj commented on #216
@jnihnat Honzo, můžeš se prosím podívat na úkoly 2, 3 a 4?

[2021-09-22 17:35] pesikj commented on #98
Spuštěno.

[2021-09-22 17:37] pesikj commented on #122
@jnihnat Honzo, podívej se na to, prosím.

[2021-09-22 17:38] pesikj commented on #179
To asi lépe vysvětlí @jnihnat

[2021-09-22 17:40] pesikj commented on #183
@motyc Používáme databázi zaloha na serveru .30. Migrace bude provedena sem?

[2021-09-22 18:04] motyc commented on #183
@pesikj To si asi řekněte Vy, zda přemazat stávající požívanou databázi, nebo zda si to raději dát jinam, kdyby došlo k nějakým problémům (očekávám, že chyby nastat mohou). Nebo nevyzkoušíme to prvně raději na serveru .24?

[2021-09-23 10:24] pesikj commented on #132
@motyc
ad 2: Je potřeba to řešit, když uživatel s vazbami stejně nepůjde smazat?

[2021-09-23 10:24] pesikj commented on #132
@motyc
Po potvrzení e-mailu je hodnota pole `Active` změněna na True, tj. pole je zaškrtnuté.

[2021-09-23 11:57] pesikj commented on #132
ad 6

https://github.com/ARUP-CAS/aiscr-webamcr/wiki/Administrace

hodnota is_staff určuje, zda má uživatel přístup do administrátorského rozhraní
hodnota is_active se změní na True poté, co proběhne potvrzení e-mailové adresy

[2021-09-23 14:52] motyc commented on #132
ad 2 - pokud to bude ošetřeno tak, že se do této situace vůbec nedostanu, není s tím problém; ono teď to myslím byly dva kroky a seklo se to již v tom prvním, kdy se ukážou konkrétní vazby uživatele, než potvrdím smazání

ad 6 - ok, díky za vysvětlení

[2021-09-23 15:34] pesikj commented on #132
@motyc Zde si asi ne úplně rozumíme. Na editačním formuláři je tlačítko pro smazání vždy a je možné na něj kliknout a přesunout se na obrazovku s přehledem relací. V případě, že smazání není možné, chybí tlačítko na smazání ve druhém kroku. Toto je standardní chování Djanga a jeho úprava by vyžadovala zásah do zdrojového kódu frameworku a tím pádem problém s kompatibilitou u nových verzí. Navíc by

[2021-09-23 15:45] motyc commented on #132
@pesikj v první části si rozumíme. Ten problém byl v tom, že právě na příkladu účtu "amcr@arup.cas.cz" aplikace vytuhne úplně - když u tohoto záznamu kliknu na "odstranit" v editačním formuláři, nedostanu se na seznam vazeb, ale systém vyhodí "504 Gateway Time-out". Do druhého kroku se tedy vůbec nedostanu, abych se na vazby podíval. Prostě skončím chybovou hláškou. Úpravu základního chování určit

[2021-09-23 15:55] pesikj commented on #132
@motyc Počítám, že ten problém s vytuhnutím půjde vyřešit databázovým indexem, který zrychlí načtení dat. Nastavím index a otestují ho na tomto uživateli.

[2021-09-23 20:16] jnihnat commented on #122
opraveno v #223 - pridana kontrola do kazdeho pola u projektov a arch z. (zvysne sa vykresluju ako form, tam to je automaticke.

[2021-09-23 20:51] jnihnat commented on #179
@motyc - tuna sa kazdy jeden duplicitny zaznam ulozi s dalsimi nahodnymi znakmi na konci. Kontrola na duplicitu se dela cez nazev, ktery je i s checksumem. teda presny obsah souboru.
![obrázok](https://user-images.githubusercontent.com/57906106/134580637-247814d1-3543-4f85-8169-b8158f123a10.png)

[2021-09-23 22:20] pesikj commented on #132
@motyc Záznamů je bohužel moc, takže index nepomůže. Navrhuji řešení podmíněného skrytí tlačítka "Delete", pokud je v historii více než 1000 záznamů, tím se zabrání timeoutu.

[2021-09-24 06:42] jnihnat commented on #216
@pesikj a @motyc
ad 2 - tu je problem to vubec neukladat po kroku 1 z duvodu uploadu suboru. Ty se totiz pri uploadu (ktery je instantni) vazou na konkretni projekt. Jedine co mne napada udelat je pridat sloupec do DB aktivovany=True/False (pripadne stav -1) a zobrazovat jen ty ktere to budou splnovat (osetril by som aj zalozene ne cez oznameni). Jedine co by pak ostavalo pridat je nejaky script/t

[2021-09-24 08:43] pesikj commented on #123
@motyc Můžete prosím trochu podrobněji popsat první bod?

[2021-09-24 09:13] motyc commented on #123
@pesikj Problém je někde v migraci, kdy např. u akce C-200912861A nebyly správně převedeny další katastry, které v původní databázi jsou, ale v nové nikoli. Je třeba se podívat, jak chyba vznikla a zkontrolovat, že k převodu dochází správně všude, kde se s dalšími katastry pracuje, tj. u projektů, akcí a lokalit. Nyní jsem to ještě kontroloval u projektu C-201900257 / akce C-201900257A - zde je do

[2021-09-24 09:15] motyc commented on #132
@pesikj Ano, tak nějak to udělat můžeme. Čistě z uživatelského hlediska - šlo by tlačítko neodstraňovat, ale jen ho nechat neaktivní a přidat tooltip s textem, např.: "Na uživatele je vázáno více než 1000 záznamů v historii."

[2021-09-24 09:34] motyc commented on #216
@jnihnat Trošku jsem tušil, že v tom bude problém a že bude nutné jít nějakou podobnou cestou. Než přidávat sloupec, přijde mi dobrý nápad mít ten stav -1. Ten task jde pak řešit přímo v Djangu, nebo to bude muset být nějaký CRON script? Ten skript by asi nemohl být tak triviální (mazání všeho se stavem -1 k určité hodině), protože uživatelé můžou formulář použít kdykoli a nechceme to nikomu smaza

[2021-09-24 09:36] motyc commented on #179
@jnihnat Super, díky za vysvětlení, nemám výhrad.

[2021-09-24 09:47] jnihnat commented on #216
@motyc - pripravim to teda s tim stavem -1. Co se tyce Tasku, tak to dohodnu jeste s @pesikj co bude lepsi i podle architektury co je dostupne. To mazani souhlasim budeme muset navazat s historii, ale to je uz len dalsi podminka pri selectu co mazat, tam si budu meset taky dat pozor aby se zmazlai i vsechny navazane zaznami (soubory, historie)

[2021-09-24 11:28] pbartosova commented on #49
Tasky s označením 🙏 Navrhuji řešit jako rozšíření, protože se jedná o nové funkcionality oproti původní AMČR.

[2021-09-24 11:30] pbartosova opened #225 "- vůbec se nevytváří historie pro PIAN v DB (údaje zapsal a potvrdil)"

[2021-09-24 11:46] pbartosova opened #226 "- při vytváření a editaci jde zadat i přesnost PIAN 4 (má být pouze 1-3)"

[2021-09-24 11:47] pbartosova commented on #226
Z dropdownlistu schovat možnost: "poloha podle katastru".

[2021-09-24 11:55] jnihnat commented on #216
ad 2 - upravene vytvoreni projektu. je este potreba dodelat mazani, to bych nechal na samostatne issue @motyc @pesikj ak souhlasite.
ad 3 - opravene v #223
ad 4 - opraveno - odebrana moznost radit pro dane sloupce.

[2021-09-24 11:59] pesikj commented on #216
@motyc @jnihnat Souhlasím s vytvořením tasku pomocí CRON. Alternativně bychom mohli použít službu pro asynchronní tasky celery, která umí řadu dalších věcí. Ale nechal bych to jako samostatné issue do nového projektu, protože ta implementace je opravdu netriviální.

[2021-09-24 12:03] motyc commented on #49
Ad problém s výběrem při překryvu - bohužel není úplně pravda, že to funguje dobře; funguje to jen při správném pořadí prvků při vykreslování; nevím, podle jakého klíče se prvky řadí, ale když je menší plocha nahoře, funguje, to; když je dole, tak už nikoli. Problém asi bude i v případě, kdy na sobě bude více než dva prvky. V podstatě myslím, že to nejde řešit úplně automaticky a že bude nutné na

[2021-09-24 12:13] motyc commented on #216
@pesikj @jnihnat Dobře. Tak jako tak bude podobných automatických tasků více (např. spojených s odstraňováním os. údajů) a chtělo by to řešit nějak uceleně. Vytvořte tedy prosím issue a dejte mu milestone "Podzim"

[2021-09-24 14:20] pbartosova commented on #49
S tím výběrem jsme asi za hranou technologie a vždycky budou situace, které budou špatně řešitelné. U stávající aplikace taky není chování jednotné. při práci jsme se dostávali do situací, kdy stačí kliknout kamkoliv do mapy a vybere se nejbližší pian, naopak když kliknu přesně na nějakou geometrii dostanu na výběr z pianů z celého výřezu, nebo klikám a mapa se jen znova načte bez jakéhokoliv výbě

[2021-09-24 14:32] motyc commented on #49
Ve stávajícím řešení se v bere v potaz ještě přesnost PIAN (vyhledává se nad bufferem kolem PIAN, nikoli nad samotnou geometrií PIAN). To jsme naopak nyní už ani nechtěli implementovat a proto může připadat, že se mapa v původní AMČR chová neočekávaně. To, že má jít každý PIAN z mapy vybrat je nutnost a nějaká cesta, jak to udělat být musí, tento požadavek byl známý od první chvíle. Je tedy třeba

[2021-09-24 14:48] motyc commented on #49
Ad problém zoomu na PIAN - ok, rozumím, že zoom na celé linie/polygony je problém; stačí tedy alespoň změnit to měřítko, ať to není tak moc přiblížené (v tomto duchu upravuji task)

Ad popisky - souvisí s problematikou výběru, takže se to tak souběžně i řešme (tj. domluvíme se).

[2021-09-24 14:53] pbartosova commented on #49
V krajní nouzi jde vybrat PIAN vždy přes dropdownlist dole.

[2021-09-24 14:55] motyc commented on #49
Taky mě to napadlo, ale když neznám jeho číslo (neumím zobrazit ani popisek), tak ho těžko můžu vybrat... Proto spolu tyhle dva problémy tolik souvisí.

[2021-09-26 20:25] jnihnat commented on #225
pro plnou funkcnost je potrebne jeste pustit migraci v 22_migrace_pian_vymezil_potvrdil.sql

[2021-09-27 08:53] pesikj commented on #225
Sloupec `username` na serveru .30 v tabulce `auth_user` neexistuje

            join uzivatel u on u.ident_cely = au.username

[2021-09-27 09:03] jnihnat commented on #225
Opravene v https://github.com/ARUP-CAS/aiscr-webamcr/pull/233 ma tam byt:join uzivatel u on u.ident_cely = au. ident_cely JI  From: Jiří PešíkSent: Monday, September 27, 2021 10:53 AMTo: ARUP-CAS/aiscr-webamcrCc: jnihnat; AssignSubject: Re: [ARUP-CAS/aiscr-webamcr] - vůbec se nevytváří historie pro PIAN v DB (údaje zapsal a potvrdil) (#225) pro plnou funkcnost je potrebne jeste pustit migraci v 22

[2021-09-27 09:43] pesikj commented on #225
Ještě neexistuje sloupec `potvrdil` u tabulky `pian`, je součástí migrace `migrace_mazani.sql`.

[2021-09-27 10:02] motyc commented on #225
@pesikj To je ale správně. DB jsme s Jurajem záměrně i u PIAN upravovali tak, aby se historie ukládala to tabulky historie, nikoli do tabulky PIAN.

[2021-09-27 10:21] jnihnat commented on #225
tak to potom upravim podle toho, ja som nejak vychazel z toho co psala @pbartosova a z toho co je v tabulce. Upravim teda aby se to ukladalo do historie jako jinde v aplikaci.

[2021-09-27 10:30] motyc commented on #225
@jnihnat Chce se to hlavně podívat, zda tahle migrace již není někde hotová od @Najiva. Přijde mi divné, že by chyběla. V tomto issue byl problém hlavně v tom, že se nyní v aplikaci údaje o historii PIAN nevytváří a nedoplňují .

[2021-09-27 10:34] motyc commented on #225
@pesikj @jnihnat Díval jsem se do DB a v tabulce `historie_vazby` jsou záznamy označené `pian`, takže ta migrace tam někde je. Problém tedy bude jen s tím doplňováním, jak jsem psal.

[2021-09-27 13:01] jnihnat commented on #225
@pesikj @motyc - migrace tam probehla a pro stare zazname se historie vytvorila. Nebyl vsak dodelan kus kodu pro nove vytvorene/potvrzovane PIANy. To som teraz dodelal a kazdy novy pian uz bude mit taky svoji historii.

[2021-10-01 11:57] jiri-bartos-huld opened #235 "PAS - načtení současné polohy"
PAS - načítání současné polohy  - DN: při použití se u mne nic nestane (ať už při editaci, nebo při zápisu nového nálezu)

[2021-10-01 11:58] jiri-bartos-huld commented on #235
Nacitani soucasne polohy je omezeno pouze pres HTTPS
https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/getCurrentPosition

[2021-10-01 12:14] pesikj opened #236 "Vytvořit nástroj na pravidelné spouštění úloh"
- [ ] Vybrat vhodný nástroj, který bude podporovat pravidelné spouštění úloh. Dostupné nástroje - CRON, celery. Preferovaná možnost je celery.

Po výběru nástroje budou přidány úkoly související s jeho implementací

Tasky, které by měly být implementovány a pravidelně spouštěny:
- [ ] Mazání projektů ve stavu -1

[2021-10-01 12:15] pesikj commented on #236
@motyc Bude potřeba vyřešit výběr nástroje. Poskytneme informace o dostupných alternativách.

[2021-10-01 12:29] jiri-bartos-huld opened #237 "- pokud u DJ kliknu na Upravit PIAN (mělo by jít pro nepotvrzené PIAN), editace v mapě se vůbec nezapne (přitom funkční nástroje k editaci máme, viz předchozí bod); když upravím přesnost a potvrdím, dostanu error 500"
prosim overit:
1./ Puvodni zadani bylo jen zmena presnosti, zadna editace v mape

2./na D08
http://192.168.254.30:8080/arch_z/detail/C-202105933C
se chova korektne

[2021-10-05 12:26] motyc commented on #132
@pesikj doplněna jedna opomenutá chyba (ve formuláři i tabulce chybí pole: Jméno, Příjmení a Telefon)

[2021-10-08 13:09] motyc opened #239 "Testy po buildu selhávají"
https://github.com/ARUP-CAS/aiscr-webamcr/actions/workflows/ci.yml

[2021-10-08 13:19] #179 closed

[2021-10-08 13:31] #102 closed

[2021-10-08 13:35] motyc opened #240 "Testování - zbývající chyby (vytříděno ze zavíraných issue)"
- [x] - přidání ADB vrací error 500 (viz https://github.com/ARUP-CAS/aiscr-webamcr/issues/192#issuecomment-919253246 a další komenty)
- [x] - https://github.com/ARUP-CAS/aiscr-webamcr/issues/132 - ve formuláři i tabulce chybí pole: Jméno, Příjmení a Telefon
- [x] - https://github.com/ARUP-CAS/aiscr-webamcr/issues/102 - U komponenty stále chybí checkbox “Nejistá datace”
- [x] - https://github.com/A

[2021-10-11 12:41] pbartosova commented on #235
Testovat lze pouze jako to dělají vývojáři, lokálně. A nebo zkusit vymyslet něco s Vojtou a Michalem.

[2021-10-11 13:34] pbartosova commented on #63
Hotové, prosím zavřít.

[2021-10-11 13:36] pbartosova commented on #48
Opět prosím řešit jako reklamaci nebo nový požadavek pro Databázi.

[2021-10-11 13:41] pbartosova commented on #119
Tasky jsou splněné. Ano, je nutný restart. Pokud nevyhovuje chování, prosím řešit jako nový požadavek.

[2021-10-11 13:53] pbartosova commented on #240
K bodu:
-- pokud změním první DJ z “Celek akce” na “Sonda”, musí se automaticky upravit i ostatní existující DJ (“Část” -> “Sonda”) a naopak
Proč řešíme změnu DJ, když ve stávající aplikaci toto není možné ani při stisknutí tlačítka "Zahájit Editaci" , které přebije všechnu logiku a vesměs povolí vše.

[2021-10-11 17:31] pbartosova commented on #226
Otestováno.

[2021-10-12 10:06] jnihnat commented on #240
bod 5 opraven v #242 - po merge a nasazeni mozne otestovat

[2021-10-13 08:16] pbartosova commented on #240
Všechny tasky hotové.

[2021-10-13 18:35] pesikj commented on #48
@motyc
ad 2: Co když je na PIAN navázaná ještě další dokumentační jednotka?

[2021-10-13 19:59] motyc commented on #240
Otestováno, jediná drobnost ad 2 - Jméno a příjmení (telefon asi můžeme vynechat) je třeba vypsat i v tabulce, nejen v detailu uživatele.

[2021-10-13 20:09] pesikj commented on #48
@motyc Body 1 a 2 můžete otestovat.

[2021-10-14 10:13] jnihnat commented on #63
VB pridelovani opraveno do #243

[2021-10-14 19:57] #240 closed

[2021-10-14 22:27] #18 closed, assigned to Najiva

[2021-10-17 16:51] motyc opened #244 "Reklamace po předání"
http://192.168.254.30:8080/projekt/create
- [x] 3 - _Pokud se kalendář u plánovaného zahájení nevejde celý na obrazovku, nejde jeho chybějící část zobrazit pouze drobným posunem, ale je nutné rolovat až na úplný konec obrazovky, pak se teprve posune. Kalendář se otočením kolečka myši posune (spolu s formulářem), pokud je na něm kurzor. Problém bude v tom, že se v okně při zmenšení vytváří dvě nezá

[2021-10-17 17:49] pesikj commented on #239
https://stackoverflow.com/questions/69604912/relation-auth-user-does-not-exist-error-when-running-a-github-action

[2021-10-18 19:41] jiri-bartos-huld opened #245 "Problémy při vytváření PIAN"
Při vytváření PIAN se u polygonů nedaří uzavřít geometrii kliknutím na počáteční bod (je třeba kliknout na ikonu pro úpravu geometrie a pak někam volně do prostoru). Stejně tak se nedaří vytvořenou geometrii v mapě smazat (geometrie se vždy znovu objeví). V obou případech zůstávají při práci viset tlačítka jak Dokončit nebo Storno a po kliknutí se nic nestane. Když přidám bod, není už cesty zpět a

[2021-10-19 13:56] #54 closed

[2021-11-03 16:43] motyc commented on #244
Chtěl jsem otestovat opravy, ale zjevně to není nasazené, takže se vyjadřuji jen k dotazům (pardon za dlouhou odezvu, dříve jsem se k tomu prostě nedostal).

ad 4 - kolegyně myslím narážela na to, že u povinných polí vyskakuje chybová hláška někdy jako pop-up, ![image](https://user-images.githubusercontent.com/20186892/140102821-eafd89f7-04fb-4997-9345-a93ebe94a3b6.png)
a někdy jako text pod polem

[2021-11-04 09:11] jnihnat commented on #244
@motyc - to ukladani v 4 som vyresil. To rozdielne zobrazeni error je presne tak ako pisete, jedno je validace uz na stranke vdaka bootstrapu a jednu je za na strane BE a proto se to zobrazuje jinak.

[2021-11-04 11:52] pesikj commented on #183
Záznam ze schůzky:
Pole, která jsou popsaná, by měla být smazána z modelu i databáze.

[2021-11-04 11:58] pesikj commented on #123
Zápis ze schůzky:
V aplikaci funguje ukládání správně, ale je špatný převod ze staré databáze.

[2021-11-15 16:30] motyc commented on #244
Doplněn bod 31

[2021-11-26 13:43] motyc commented on #235
Funguje, zavírám.

[2021-11-26 13:43] #235 closed

[2021-12-19 10:24] motyc opened #247 "Problém s připojením k https://code.jquery.com/"
Aplikace se vůbec nenačte a konzole hlásí chybu `VM241:6772 crbug/1173575, non-JS module files deprecated.`

Podrobný rozbor a řešení zde: https://github.com/ARUP-CAS/aiscr-webamcr/issues/247#issuecomment-1026907053

[2021-12-20 10:44] jnihnat commented on #247
@motyc prosim na ktorom servery se tohle vyskytuje? Skusil som 192.168.254.24 tak aj 192.168.254.30 a na oboch vse funguje spravne. Dekuji.

[2021-12-20 10:52] motyc commented on #247
Zkoušel jsem to doma přes VPN, kde mi to vůbec nefungovalo (včera i před tím během týdne). Nyní v práci mi to také jde. Ještě to tedy prověřím, až budu zpět doma pokusím se zjistit, v čem je problém.

[2021-12-21 08:19] motyc commented on #247
@jnihnat Tak znovu otestováno a je to velice zvláštní - chvilku mi to funguje a pak to zase najednou nejde. Děje se to podobně v různých prohlížečích.

Zde report z Chrome konzole:
![image](https://user-images.githubusercontent.com/20186892/146895004-1a688a4e-cebd-4228-9d6b-d21b437d8506.png)

A zde z Mozilly:
![image](https://user-images.githubusercontent.com/20186892/146895148-bcdd3dc9-3baa-44cf-

[2021-12-21 09:01] jnihnat commented on #247
Z konzole je vidno ze padne request na jquery, co vysvetluje preco nefunguje vicero veci. Z ni vsak uz neni zrejme kvuli cemu to ale padne, ten request se ale dela uz z browseru. Muze byt ze to zablokuje firewall napriklad. Pro lepsi pochopeni by som ale potreboval videt export ze Site (v developer modu) kdyz se to stane. V mozile je to po kliknuti na pravym tlacitkem mysi a Ulozit vsetko ako HAR.

[2021-12-21 09:53] motyc commented on #247
Zde to je, snad jsem to exportoval správně:
[wamcr-test.aiscr.cz_Archive [21-12-21 10-52-27].zip](https://github.com/ARUP-CAS/aiscr-webamcr/files/7751331/wamcr-test.aiscr.cz_Archive.21-12-21.10-52-27.zip)

[2021-12-21 13:26] motyc commented on #247
Ad block používám jen v Chrom, ale tím to být nemůže, protože ho nemám v jiných prohlížečích a navíc jej mám i v práci, kde mi to jde v pořádku. Divné ale je, že to chvilkami funguje (tj, nezablokuje se to vždy).

Cookies jsem zkoušel promazat. Ten response pošlu, až budu zase u dotčeného PC. Zkusím také ještě na chvilku shodit antivir/firewall.

[2021-12-22 11:42] motyc commented on #247
Zkouším otevřít https://code.jquery.com/jquery-3.5.1.min.js a chová se to hrozně zvláštně. V Chrome někdy vše projde ok a zobrazí se:
![image](https://user-images.githubusercontent.com/20186892/147086934-25d46b99-60ef-479d-b48d-c03fba670cfb.png)

Jenže po refreshi nebo při dalším pokusu se vrátí toto:
![image](https://user-images.githubusercontent.com/20186892/147087037-d0355769-39cf-4c64-bb7c-dc4

[2021-12-22 11:48] motyc commented on #247
Našel jsem k tomu následující, ale přiznám se, že už to trošku přesahuje mé pochopení, v čem je problém a zda je to na straně mého počítače/sítě, nebo aplikace jako takové:
https://pretagteam.com/question/crbug1173575-nonjs-module-files-deprecated-in-angular
https://stackoverflow.com/questions/67191286/crbug-1173575-non-js-module-files-deprecated-chromewebdata-index%EA%9E%89530595551
https://suppo

[2021-12-22 14:07] jnihnat commented on #247
ja som podobne hladal riesenia vcera a prave ma to viedlo k problemom s certifikatmi a pod v browseru.
Skusim este nahradit jquery najnovsou verziou, mozno to pomoze, ale nasadenie bude musiet pockat na @pesikj
viete skusit otvorit tuto stranku ci sa vam to bude stavat aj na nej:?
https://code.jquery.com/jquery-3.6.0.js

[2021-12-22 14:09] motyc commented on #247
Dělá to totéž i s novým odkazem (https://code.jquery.com/jquery-3.6.0.js) :(

[2021-12-22 14:35] jnihnat commented on #247
Deje se vam to prosim jen na jednom PC, pripadne len z jedneho pripojenia (doma?)

[2021-12-22 14:51] motyc commented on #247
Momentálně se mi to děje na jednom PC (zkoušeno ještě na dalších dvou na stejné síti a tam to jde dobře). Nehraje ani roli to, zda jsem nebo nejsem připojen na VPN.

Pokud si ale dobře vzpomínám, tak poprvé jsem stejný problém registroval na notebooku na úplně jiné síti...

[2021-12-22 14:55] jnihnat commented on #247
jeste jeden dotaz, deje se to i v privatnim okne?

[2021-12-22 14:56] motyc commented on #247
Ano, žádný rozdíl.

[2021-12-22 15:01] jnihnat commented on #247
mohli by sme si k tomu zajtra zavolat? Uz mi dochadzaju napady a u mna sa mi to nijak nedari nasimulovat.

[2021-12-22 15:10] motyc commented on #247
Určitě mohli (+420775200064). Je mi jasné, že je to trošku nešťastná věc a může to být opravdu nějaká specifická hloupost na mém PC. Když se to nepodaří vyřešit, tak holt budu testovat z práce a počkáme, jestli se to třeba s nějakým updatem Windows nevyřeší. Děkuji moc.

[2021-12-23 09:13] jnihnat commented on #247
Napadlo mi skusit jeste jednu vec, muzete se skusit pripojit cez mobilni hotspot? Ci to nahodou nedela router/internetovy provider?
Pripadne bych si pak skusil zavolat kolen 11:00 ak  Vam to vyhovuje.

[2021-12-23 09:19] motyc commented on #247
To bohužel nemůžu, protože tam se nepřipojím na VPN. Ale routerem by to být nemělo, vzhledem k tomu, že na stejné síti na notebooku to funguje. Jedenáctá je bez problémů.

[2021-12-23 11:27] motyc commented on #247
Mám dojem, že jsem našel celkem přesný popis problému zde: https://issueexplorer.com/issue/jquery/codeorigin.jquery.com/77

Skutečně se nedostanu ani na https://code.jquery.com/ jako takovou.

Když přidám do `c:\Windows\System32\Drivers\etc\hosts` konkrétní mapování `69.16.175.42 code.jquery.com` (což tam navrhují jako dočasné řešení), tak to najednou vše funguje. Kdyby Vás napadlo, co mám udělat

[2021-12-23 13:35] jnihnat commented on #247
Pokial tohle resi problem, tak to potom spise vypada na problem s DNS serverom. Ten pokial nemate nastaveny v pocitaci rucne, tak zavysi od nastavenia poskytovatela internetu. A to je uz potom divne, preco to z PC nefunguje ale z notebooku ano na jednej sieti.
Inak by som sa asi pripojil k tomu premiestnit to js do statickych souboru na server a to vyresi problem.

[2021-12-23 14:04] motyc commented on #247
DNS mám dynamicky přidělované, takže je to opravdu zvláštní, jak říkáte.

Jinak souhlasím, proberte to tedy prosím s kolegou Pešíkem a pokud tam nebude nějaký háček, šel bych touto cestou. Nechávám to tedy otevřené, jen změním název issue.

[2022-01-12 23:01] pesikj commented on #239
@motyc Opraveno

[2022-01-13 08:52] #239 closed

[2022-01-25 13:45] #21 closed

[2022-01-25 18:40] motyc opened #251 "Automatické odhlášení"
- [x] při nečinnosti více než 60 min
- [x] je potřeba upozornit uživatele po odhlášení, že byl odhlášen kvůli nečinnosti
- [x] pokud možno zobrazit counter
- [x] 10 min před uplynutím odhlášení se dotázat, zda prodloužit

[2022-01-25 19:05] motyc opened #252 "Odstávka systému"
Vhodným způsobem vyřešit možnost odstávky systému
- [x] systém neumožní přihlášení a zobrazí adminem nastavené zdůvodnění
- [x] systém nebude přijímat oznámení projektů a bude zobrazovat upozornění se zdůvodněním
- [x] systém musí upozornit přihlášené uživatele na blížící se odstávku a po určité době musí dojít k jejich odhlášení

[2022-01-25 19:27] motyc opened #253 "Odkazy na Digiarchiv a do API"
Každý archivovaný záznam by měl v záhlaví v menu "Další volby" obsahovat:
- [x] proklik do Digitálního archivu na URL https://digiarchiv.aiscr.cz/id/[ident_cely] (např. https://digiarchiv.aiscr.cz/id/M-TX-202100002)
- [x] proklik na jeho detail do OAI API na URL https://api.aiscr.cz/dapro/oai?verb=GetRecord&identifier=https://api.aiscr.cz/id/[ident_cely]&metadataPrefix=oai_amcr; (např. https://api

[2022-01-25 19:30] motyc opened #254 "Při návrhu zrušení projektu přidat možnost výběru z předpřipravených zdůvodnění"
- [x] Varianty textu (řešit pomocí radiobutton):
“Duplicitní oznámení. Projekt již byl evidován pod ID [lze doplnit].”
“Oznamovatel neumožnil provedení záchranného archeologického výzkumu.”
“V oznámení uvedeny chybné údaje. Záchranný výzkum nebylo možné provést.”
“Pravděpodobnost narušení archeologických nálezů záměrem je mimořádně nízká, provedení záchranného archeologického výzkumu není vyžadová

[2022-01-25 19:34] motyc opened #255 "Přidat detekci duplicitních oznámení"
Detekovat oznámení zadaná zcela nebo z velké části duplicitně a odpovídajícím způsobem upozornit uživatele, který oznámení zadal.

[2022-01-25 19:37] motyc opened #256 "Možnost editace neschválených oznámení"
Editace je myšlena pro uživatele, který oznámení zapisuje (nyní zapíše první krok, jde na druhý, vidí chybu, ale už ji nemůže opravit).

[2022-01-25 19:37] motyc commented on #12
Rozděleno na #255 a #256

[2022-01-25 19:37] #12 closed

[2022-01-25 19:41] motyc opened #257 "Možnost odhlášení projektu"
Archeolog z organizace, která přihlásila projekt, musí mít u projektu v P2 možnost požádat o odhlášení projektu:
- Je nutné zadat zdůvodnění.
- Odesílá email E-P-07 (do DB se neukládá)

[2022-01-25 19:48] motyc opened #258 "Kontrola na posun stavu při odeslání aktualizace záznamu"
Je třeba ošetřit situaci, kdy dva uživatelé otevřou totožný záznam (např. pro přihlášení projektu) a následně jej upraví a změnu odešlou. Pokud při tomto dojde k posunu stavu (např. P1->P2), druhý uživatel by již neměl mít možnost změny uložit (měl by dostat chybovou hlášku; lze identifikovat z historie záznamu, potažmo z aktuálního stavu). Toto je třeba vyřešit u všech typů záznamů pro všechny po

[2022-01-25 19:48] motyc opened #259 "Zobrazit, že záznam právě někdo edituje"
Bylo by dobré mít možnost zobrazit, že záznam právě někdo edituje (ideálně vč. jména uživatele). Toto je věc zejména pro archiváře, kdy se stává, že začnou pracovat na stejném záznamu při archivaci. V desktopu je to blokováno funkcí Zahájit/ukončit editaci, nicméně nyní to nijak ošetřeno není. Případné vhodné řešení a jeho náročnost je třeba rozmyslet.

Částečně navazuje na #258

[2022-01-25 21:18] motyc opened #260 "Umožnit nahrání nové verze existujícího souboru"
Umožnit nahrání nové verze existujícího souboru při zachování nazev_puvodni; ostatní se logicky aktualizuje.

Predpoklad je novy sloupec v tabulce soubory s tlacitkem “nahrat novy”, pripadne neco obdobneho.

Implementovat funkcionalitu pro dokumenty (/dokument/detail/), knihovnu 3D (/dokument/detail/model/) a samostatné nálezy (/pas/detail/). Pro projektovou dokumentaci to není třeba.

[2022-01-25 21:20] motyc opened #261 "Persistentní link pro zobrazení záznamu"
Každý záznam musí být přístupný přes persistentní link, složený z URL prefixu (https://amcr.aiscr.cz/id/) a ident_cely záznamu (např. (https://amcr.aiscr.cz/id/C-201703683). Zadání odkazu zobrazí detail záznamu.

[2022-01-25 21:22] motyc opened #262 "Dohodnout URL pro plánovaná view a revidovat stávající"
Dohodnou URL pro plánovaná view a revidovat stávající (zejména problém s arch_z, kde budou různé typy view; evidovat v https://docs.google.com/spreadsheets/d/19lpy9VQ6qfIW5S2c7pi__UtmSsPy7pRbRDeY5b5Bkzc/edit)

[2022-01-25 21:23] motyc opened #263 "Informace o podporovaných formátech souborů"
Při nahrávání souborů ve špatném formátu by měla vyskočit nápověda s podporovanými formáty.

[2022-01-25 21:27] motyc opened #264 "Soubory zobrazovat a nabízet ke stažení s názvem podle “nazev_zkraceny”"
Zobrazovat a nabízet soubor ke stažení s názvem podle “nazev_zkraceny” (tj. bez hashe)

[2022-01-25 21:35] motyc opened #265 "Umožnit zobrazení všech metadat o souboru a jeho historie"
Umožnit zobrazení všech metadat o souboru a historie (asi by stačil tooltip či něco obdobného).

Metadata z tabulky soubor:
- nazev_zkraceny
- nazev_puvodni
- rozsah
- nazev
- mimetype
- size_bytes

Historii standardně vytvářet, tj. zaznamenávat kdo a kdy soubor naposledy změnil. To ale platí i pro první nahrání (podstatný je vztah k uživateli a času).

[2022-01-25 21:37] motyc commented on #265
Přidávám pro úplnost, ale vysvětleno na schůzce.

[2022-01-25 21:42] motyc opened #266 "Přechod z dokumentu zpět na akci"
Při přidávání nového dokumentu k akci dojde k přepnutí na záložku Dokument, ale uživateli nemusí být jasné, jak se vrátit na původní akci. Usnadnit přechod zpět na záznam, v souvislosti se kterým byl dokument vytvořen.

[2022-01-25 21:43] motyc opened #267 "Algoritmus pro dočasný ident_cely Dokumentu a PIAN"
Dočasný ident Dokumentu a PIAN – pokud dojde k přetečení, systém to hlásí jako chybu - mohl by ale jít znovu od 1 a hledat volné místo (stačilo by doplnit cyklus pro přeskakování obsazených pozic, který je v proceduře pro trvalý ID).

[2022-01-25 21:46] motyc opened #268 "Přidání osoby - dořešit chování"
Přidání osoby - dořešit chování

- u akce se vytvoří další záložka a po přidání jména se změní na Homepage;
- u projektu se další záložka nevytvoří a po přidání osoby se systém vrátí na pole se jménem vedoucího

Udelat modal okno (pop up - stejne jako po kliknuti na Licence v pate stranky). User by mnel moznost ulozit/zavrit okno. Po ulozine by bylo mozne danu osobu rovno vyplnit do formulare.

[2022-01-25 21:50] motyc opened #269 "Doplnit formulář pro správu vlastního uživatelského účtu"
Doplnit formulář pro správu vlastního uživatelského účtu, ve kterém bude možno:
- [x] zobrazit: auth_user.first_name, auth_user.last_name, auth_user.email, auth_user.ident_cely, auth_user.date_joined, auth_user.organizace + role a oprávnění + historie)
- [x] upravit: auth_user.password, auth_user.telefon
- [x] spravovat notifikace - viz #720

[2022-01-25 21:51] motyc opened #270 "Automatické přidání uživatele do hesláře osob"
Při první aktivaci nově registrovaného uživatele přidat též osobu do hesláře.

Myšleno je do tabulky `osoba` (původně heslář jmen ve stávající aplikaci). Tam se při registraci jméno přidá, protože je pravděpodobné, že uživatel bude vystupovat např. jako vedoucí výzkumu, nálezce atd., tak aby se poprvé nemusel sám zapisovat.

EDIT: Musíme se ještě nad tímto principem zamyslet. Možná by bylo vhodněj

[2022-01-25 21:54] motyc opened #271 "Odesílání hromadných emailů vybraným uživatelům"
Přidat možnost vybraným uživatelům hromadně odeslat email (vč. přidání přílohy). Lze diskutovat, zda řešit přímo v aplikaci, či jinou cestou. Je však třeba proces usnadnit a emaily v ideálním případě odesílat jednotlivě (nikoli hromadný email všem se skrytými adresáty, který často působí jako spam).

Funkce bude dostupná přes admin panel. Jde o funkci pro admina, když potřebuje informovat více uži

[2022-01-25 21:59] motyc opened #272 "Ukládání uživatelských voleb"
Do session či cookie ukládat některé volby, aby nemusel uživatel totéž volit stále dokola:
- [x] rozložení tabulek (viditelné sloupce) - už částečně hotovo, jen sjednotit řešení se zbytkem
- [x] výběr vrstev v mapě pro jednotlivá view
- [x] zasunutí/vysunutí levého menu (zde pozor, aby to nekolidovalo s responzivitou)
- [x] Volby vkládat do cookie s dlouhou platností nebo do local storage

[2022-01-25 22:03] motyc opened #273 "Doplnit generování potvrzení o oznámení"
- [x] Při při posunu **záchranného** projektu z P0 do P1 AMČR vygeneruje potvrzení o oznámení v PDF (podle šablony; liší se pro C a M) a odešle jej oznamovateli (na zadaný email; text emailu viz E-P-01a/b).
- [x] Potvrzení se při odeslání automaticky ukládá do projektové dokumentace (název: “oznameni_[ident_cely].pdf”).
- [x] Archivář/admin má možnost Generovat nové potvrzení a odeslat jej oznamov

[2022-01-25 22:08] motyc opened #274 "Odstranění oznamovatele při archivaci záchranného projektu"
Při archivaci **záchranného** projektu:
- [ ] Smazat související záznam v tabulce Oznamovatel
- [ ] Smazat projektovou dokumentaci a nahradit ji souborem s výčtem smazaných dokumentů (při případné další archivaci tento soubor zachovat - např. ulozit druhy soubor s casem)

Vzorový soubor (obsah a název zachovat takto; může ale jít o txt v UTF-8): [log_dokumentace.pdf](https://github.com/ARUP-CAS/ai

[2022-01-25 22:10] motyc opened #275 "Doplnit generování expertních listů"
U záchranných projektů:

- [x] Doplnit generování expertních listů - více viz zadání podoby viz: https://docs.google.com/document/d/1TP5kDXfKvr9-_WCQ7E8c7cVqXJSJ_1tq/edit

Vygenerovaný soubor je pouze ke stažení.

[2022-01-25 22:12] motyc opened #276 "Do expertního listu vložit orientační mapku s polohou projektu/zobrazením PIAN."
Navazuje jako samostatný odložený úkol na #275

[2022-01-25 22:14] motyc opened #277 "Specifické chování projektů typu průzkum"
- [ ] Projektu nelze přidávat akce.
- [ ] Projekt lze uzavřít a archivovat bez akcí.
- [ ] Od stavu P3 musí jít připojit dokumenty přímo k projektu (standardně přes část dokumentu; obdoba správy dokumentů u akcí)

[2022-01-25 22:16] motyc opened #278 "Automatická archivace projektu s poslední akcí."
Jakmile je archivována poslední akce projektu, dotázat se uživatele, zda chce archivovat též projekt.

Mělo by jít o alert nebo modal s dotazem a možností projekt rovnou archivovat (ano / ne).

[2022-01-25 22:18] motyc opened #279 "Při změně data ukončení projektu automaticky doplnit termín odevzdání NZ"
Při změně data ukončení projektu automaticky doplnit termín odevzdání NZ (projekt.datum_odevzdani_NZ = projekt_datum_ukonceni + 3 roky).

[2022-01-25 22:20] motyc opened #280 "Při editaci projektů je třeba zohlednit stav projektů pro stanovení povinných a nepovinných polí"
Při editaci projektů je třeba zohlednit stav projektů pro stanovení povinných a nepovinných polí; viz příslušné listy: https://docs.google.com/spreadsheets/d/12vYM2HgqefWvgQe8AQoDTun4nWfkATqgLMKfyVJxCIM/edit

[2022-01-25 22:22] motyc opened #281 "Při vracení stavu projektů je nutné nastavit na null obsah těch polí, která v daném stavu nemají být vyplněna"
Při vracení stavu projektů je nutné nastavit na null obsah těch polí, která v daném stavu nemají být vyplněna:
- [ ] P43 - datum_ukonceni, datum_odevzdani_NZ
- [ ] P43 - datum_ukonceni, datum_odevzdani_NZ
- [ ] P32 - datum_zahajeni
- [ ] P21 - vedouci, uzivatelske_oznaceni
- [ ] P71, P78 - vedouci, organizace, datum_zahajeni, datum_ukonceni, datum_odevzdani_NZ, uzivatelske_oznaceni

[2022-01-25 22:26] motyc opened #282 "Do akce doplnit tabulku Ostatní vedoucí"
Doplnit tabulku Ostatní vedoucí (vedoucí + organizace; řešit jako nálezy u komponent).

V tabulce budou 2 sloupce Vedouci a Organizace a bude je mozne pridavat a odstranovat stejně jako nalezy u komponent.

Poloha tabulky viz https://docs.google.com/spreadsheets/d/1Ms3WEEfARICKbUr25_vGD7ymmwPJEaMw8WbcSB4UdwM/edit#gid=1077257469

Na Detaile jenom zobrazeni, Editace zaznamu jen v edit mode.

[2022-01-25 22:32] motyc opened #283 "Zvýraznit aktivní prvek v menu dokumentačních jednotek"
V tabulce “Dokumentační jednotky” není patrné, kterou dokumentační jednotku či komponentu mám momentálně aktivní k editaci. Aktivní prvek vhodně zvýraznit.

[2022-01-25 22:34] motyc opened #284 "Automatické předvyplnění aktivit podle volby areálu"
Vazba bude definována v heslar_hierarchie

@motyc - dodat vzorová data (v původní DB patrně nejsou)

[2022-01-25 22:36] motyc opened #285 "Nedoplňuje se výchozí specifikace u nálezů"
Definováno vztahem v hesláři (heslar_hierarchie.typ = “výchozí hodnota”).

[2022-01-25 22:38] motyc opened #286 "Doladit chování obrazovky u dokumentačních jednotek"
- [ ] Ve výchozím stavu po příchodu na detail akce odjinud nezobrazovat detail žádné DJ a přejít na obrazovku bez jakéhokoli posunu (stejně tak po editaci detailu akce).
- [ ] Při přidání nového prvku (DJ, ADB, PIAN, komponenta, nálezy) posunout zobrazení k záhlaví seznamu DJ
- [ ] Po uložení editace nějakého prvku přejít zpět na detail tohoto prvku se zobrazením jako při přidání nového prvku (viz

[2022-01-25 22:41] motyc opened #287 "Sloučení tlačítek na obrazovce akce"
Tlačítka “Upravit jednotku” (apod. pro komp., nálezy...) by se neměla opakovat

- [x] sloučit tlačítko pro uložení změn pro komponentu a nálezy, resp. pro DJ, ADB a VB (zkrátka pro děděné formuláře, které se zobrazují společně a souvisí spolu)
- [x] přejmenovat na “Uložit změny” (pokud půjde sloučit)

[2022-01-25 22:45] motyc opened #288 "PAS - úpravy spolupráce"
- [x] Při žádosti o spolupráci a při deaktivaci spolupráce umožnit vepsat doplňující text, který se zobrazí v příslušném emailu a uloží do poznámky v historii.
- [x] Pokud se změní archeologovi oprávnění na badatele, nebo je spolupracující badatel deaktivován, deaktivovat související spolupráce v PAS.

[2022-01-25 22:49] motyc opened #289 "PAS - doplnit náhledy fotografií"
Doplnit náhledy fotografií do `/pas/vyber` (a odvozených obrazovek) ekvivalentně k zobrazení náhledů v modulu Dokumenty (http://192.168.254.30:8080/dokument/vyber).

V detailu nálezu se již náhledy zobrazují.

[2022-01-25 22:52] motyc opened #290 "Umožnit označení výchozí fotografie pro náhled"
Umožnit označení výchozí fotografie pro náhled (doplnění metadat souboru). Nastaveni muze byt jako radiobutton/checkbox sloupec v tabulce fotografii, kde se po kliknuti u jedne fotografie nastavy nahled a u druhy automaticky odebere.

Vyžaduje předchozí implementaci #289

[2022-01-25 22:55] motyc opened #291 "PAS - umožnit vytvoření kopie existujícího záznamu"
Umožnit vytvoření kopie existujícího záznamu - data ze záznamu se propíšou do nového okna  http://192.168.254.30:8080/pas/zapsat, následuje již standardní postup.

Funkci není třeba omezovat podle stavu. Bude součástí menu “Další volby”.

[2022-01-25 23:02] motyc opened #292 "Úprava odstraňování v tabulce nálezů či VB"
Odstraňování v tabulce nálezů či VB řešit podobně jako v jiných tabulkách, tedy samostatnou ikonou, která provede odstranění, nikoli zaškrtávacím políčkem

![image](https://user-images.githubusercontent.com/20186892/151074277-fa6c8030-ceca-4ce1-9e11-dbe77a17cb20.png)

[2022-01-26 10:09] motyc opened #293 "Doplnit nástroj pro vyhledávání polohy podle geonames"
Řešení:
Geonames pro obce a okresy dostupná na všech mapach
- Uživatel musí zadat min 3 znak
- Zobrazi se list box nabidkou max 6ti nazvu
- Uzivatel klikne a je presmerovan na misto na mape =definicno bod bod obce/okresu
- pro okresy se pouzije fixni meritko X, pro obce fixni meritko Y
- pri presmerovani na misto se nezobrazi docasny pin pro def. bod ani se nezvyrazni obvod objektu

### Realizace

[2022-01-26 10:10] motyc opened #294 "Na většině míst doplnit funkci Výchozí stav"
Na většině míst doplnit funkci Výchozí stav, tj. přechod na na výchozí zobrazení mapy při vstupu na danou URL

[2022-01-26 10:12] motyc opened #295 "Mapový podklad - katastrální území z AMČR"
AMČR - Katastrální území - nutno vytvořit interní WMS a tu zobrazovat

[2022-01-26 10:14] motyc opened #296 "Mapový podklad - NPÚ - Památková ochrana"
Doplnit podkladovou vrstvu: https://geoportal.npu.cz/arcgis/services/Experimental/TM_proAMCR/MapServer/WMSServer

Název: "NPÚ - Památková ochrana"

[2022-01-26 10:16] motyc opened #297 "Mapový podklad - OpenStreetMap"
Všude sjednotit na šedou variantu (nyní je pouze v PAS; je lepší než barevná, ale mít obě je zbytečné)

[2022-01-26 10:20] motyc opened #298 "Uživatelský import geometrie PIAN"
- [x] umožnit snadný import jednoho geoprvku - bude řešeno jako volba "Importovat PIAN" v menu u dokumentačních jednotek (pravidla pro oprávnění stejná jako při zápisu nového PIAN)
- [x] importní soubor bude typu CSV se sloupci:
- `label` - uživatelské označení geoprvku
- `epsg` - označení souřadnicového systému, přípustné hodnoty 4326 (5514 doplníme v budoucnu, až bude podporovat i mapa)
- `geome

[2022-01-26 10:24] motyc opened #299 "Upravit datové vrstvy - projekty"
Upravit datové vrstvy pro dílčí užití mapy (**tučně** - defaultně zapnuté)
- [x] 1 - **Lokalizace projektu** (aktivní vrstva)
- [x] 2 - **Projekty - zapsané** (P1; geom z projektu)
- [x] 3 - **Projekty - přihlášené** (P2; geom z projektu)
- [x] 4 - **Projekty - běžící** (P3; geom z projektu)
- [x] 5 - Projekty - realizované (P4-P6; geom z projektu)
- [x] 6 - Projekty - zrušené (P7-P8; geom z proje

[2022-01-26 10:33] motyc opened #300 "Upravit datové vrstvy - akce/lokality"
Upravit datové vrstvy pro mapy u akcí a lokalit (**tučně** - defaultně zapnuté; čísla uvádí pořadí vrstev)
- Vrstvy 1 a 2 nikdy nemají heatmapu ani clustering, protože neobsahují vyšší počty záznamů.
- Při souběžném zapnutí vrstev 3 a 4 tvořit heatmapu jako sloučenou verzi, která se bude vytvářet z obou vrstev.
- V případě heatmapy NENÍ třeba zohledňovat přístupnost a vlastnictví u žádné z vrstev,

[2022-01-26 10:36] motyc opened #301 "Upravit datové vrstvy - Knihovna 3D"
Upravit datové vrstvy pro dílčí užití mapy (**tučně** - defaultně zapnuté)
- [x] AMČR Zájmové body - přejmenovat -> **Lokalizace modelu** (aktivní vrstva)
- [x] Knihovna 3D (vše z řady 3D; geom z extra_data)

Reseni:
- Nazev vrstvy "AMČR Zájmové body" bude prejmenovan na "Lokalizace modelu"
- Rozliseni na 2 vrstvy: aktivni prvek(prave editovany) a ostatni

Zasazene stranky:
- amcr/dokument/create/

[2022-01-26 10:45] motyc opened #302 "Symbologie linií a polygonů + principy clusteringu/heatmapy"
Symbologie PIAN u linií a polygonů
- [x] žlutá - vybraný prvek
- [x] zelená - ostatní prvky téhož záznamu
- [x] červená - editovaný prvek
- [x] modrá - jiné datové vrstvy
- [x] definiční body ploch a linií odlišit symbolem (#303)
- [x]  def. bod může mít jen žlutou/zelenou/modrou barvu protože nelze přímo editovat

Celková logika zobrazení
- [x] <500 - maximální počet výsledku, při kterých jsou vi

[2022-01-26 10:47] motyc opened #303 "Nastavení symbologie bodů"
Toto issue částečně navazuje na https://github.com/ARUP-CAS/aiscr-digiarchiv-2/issues/117, kde jsme ještě ladili implementaci a bylo by vhodné, aby v některých základních konturách bylo chování shodné. Na základě toho bych navrhoval následující:

- [x] Projekty:  pin s ikonou `<span class="material-icons">dynamic_feed</span>` (https://materialui.co/icon/dynamic-feed)
- [x] PIAN - bod: ![image](htt

[2022-01-26 15:15] motyc opened #304 "Upravit zobrazení souřadnic"
Upravit zobrazení souřadnic (vpravo dole)
- [x] - zobrazit decimální stupně s přesností na sedm řádů
- [x] - optimalizovat umístění (posunout více ke spodnímu okraji)

[2022-01-26 15:19] motyc opened #305 "Revidovat transformační klíč S-JTSK -> WGS-84"
Revidovat transformační klíč S-JTSK -> WGS-84 (momentálně velice nepřesný)

Navazuje na #49 a https://gitlab.com/ais-amcr/webamcr/-/issues/128

Návrh řešení Huld:
1. Tam kde na vstupu jsou presne S-JTSK souradnice, navrhujeme vyuzit presnejsiho transformacniho klice CUZK, kdy po mat. transformaci je jeste provedena dotransformace na predpocitany grid v ramci CR, ktery by mel vypocet zlepsit.

Nevy

[2022-01-26 15:29] motyc commented on #49
Dále řešeno v rámci #305

[2022-01-26 15:29] #49 closed

[2022-01-26 16:18] motyc opened #306 "Při ukládání dat pro PIAN a pro samostatné nálezy uložit obě varianty souřadnic"
Při ukládání dat pro PIAN a pro samostatné nálezy uložit obě varianty souřadnic (WGS-84 a S-JTSK) do DB a označit nativní systém pro daný prvek, tj. ten užitý pro zadání souřadnic před transformací.

Uvod:
1. Velka cast PIAN vznika nezavislym DB importem, dale oznacovano jako impPIAN
2. impPIAN muze obsahovat jak body v JTSK
3. impPIAN podporuje pouze PIAN typu bod
4. je pozadovana poznost rucni e

[2022-01-26 16:23] motyc opened #307 "Nastavit maximální přesnost souřadnic"
Nastavit maximální přesnost pomocí přípustných řádů v daném souřadném systému, a to max na úrovni cm - zbytek lze ořezávat (zbytečně skladujeme falešně "přesná" data):
- WGS-84 - 7 řádů
- S-JTSK - 2 řády

Reseni:
- Bude omezeno jiz pri posilani dat z FE
- Do budoucna pravdepodobne omezi AMCR: nebude mozne presne urcit body na linii: Nebude mozne do DB ulozit presny prusecik dvou linii, atd.

[2022-01-26 16:25] motyc opened #308 "Při ukládání dat do DB kontrolovat validitu geometrií"
Zadani:
Při ukládání dat do DB kontrolovat validitu geometrií
- self-intersection pro linii a polygon
- příliš krátké segmenty
- polygon s méně než třemi vertexy
- zakazat: Null geometry
- multipart feature (nikdy MP ze vstupu)

Navrhovane reseni:
- implementace pgsql pro ulozeni/update geometrie jednu proceduru pro vsechny tabulky (funkci volat vzdy před ulozenim do DB). Toto reseni je do budoucn

[2022-01-26 16:33] motyc opened #309 "Omezit editaci lokalizací měřítkem"
Omezit editaci PIAN, lokalizace projektu a lokalizace sam. nálezu minimálním měřítkem 1:2000 a uživateli dát najevo, že musí pro zadávání zoomovat.

Navrh reseni:
1. Umoznit zadavani PIAM,SamNalezu,Projektu az od meritka 1:2.000 do ted doby provadet Zoom
2. Pro editaci zamknout meritko na 1:2.000 a podrobnejsi, pri zoom-outu zobrazit varovnou hlasku v message-boxu: “Oddaleni je z duvodu dodrzeni p

[2022-01-26 16:36] motyc opened #310 "Symbol pro měření vzdálenosti změnit na pravítko"
Pro lepší srozumitelnost symbol pro měření vzdálenosti změnit na pravítko se stupnicí místo současné šipky

[2022-01-26 16:40] motyc opened #311 "Sjednotit formát výpisu souřadnic"
Sjednotit formát výpisu souřadnic - někde desetinná tečka, jinde čárka (čárka je v češtině správně)

Navrhovane Reseni:
1. Cisla reprezentujici souradnice sjtsk budou ve formatu desetine carky
2. Cisla reprezentujici souradnice wgs84 budou prevedena do formatu s des. carkou
3. Zobrazeni aktualni souradnic WGS84 na mape: Nahled je v systemu DEC (des. carka), a editace je v systemu DEC (des. carka)

[2022-01-26 16:44] motyc opened #312 "Centrování mapy po opuštění fullscreen režimu"
Ujasnit, kam se má mapa centrovat po opuštění fullscreen režimu (nyní může vést ke zmatečným situacím při zadávání dat). Ideální by bylo zobrazit stejný výřez, jen upravit měřítko.

[2022-01-26 16:49] motyc opened #313 "Akce - PIAN - přejít na polohu projektu"
- [ ] Přejít na polohu projektu (promyslet zda neprilepit k jinemu issue)

[2022-01-26 16:50] motyc opened #314 "Akce/lokality - PIAN - editovat souřadnice"
PIAN - umožnit ručně editovat hodnoty souřadnic bodu či lomového bodu (WGS-84 i S-JTSK).

Pokud k editaci dojde, použitý souřadný systém zaznamenat jako primární do `pian.geom_system`.

[2022-01-26 16:56] motyc opened #315 "Katastry akce/lokality automaticky odvozovat ze zadaných PIAN"
Katastry akce/lokality automaticky odvozovat ze zadaných PIAN:
- Hlavní katastr se dovozuje z první DJ
-- bod - poloha
-- linie - střed (na linii)
-- polygon - centroid (uvnitř)
- Vše ostatní (průnik) do dalších katastrů

Detailni zadani:

1. stranka: http://lamcr/projekt/zapsat
pole hlavni katastr odvodit z geometrie zadaneho bodu
dalsi katastry se zadavaji pouze rucne

2. strana: http://lamcr/pa

[2022-01-26 16:59] motyc opened #316 "Upozornění pro uživatele při překryvu prvků"
Někam k mapě jasně napsat pro uživatele, že musí kliknout pravým tlačítkem, aby mohl posouvat pořadí prvků při překryvu.

Reseni:
1. Pri vyberu PIAN kliknutim levym tlacitkem bude vzdy zobrazen po dobu 3 skeund vpravo dole messagebox
s textem: "Pro vyber jineho prvku kliknete pravym tlacitkem"
2. MessageBox se bude zobrazovat jen v pripade, ze bude mozne vybrat jiny prvek. Tj v pripade, ze uzivate

[2022-01-26 17:00] motyc opened #317 "Úprava pole PIAN ve formuláři DJ"
Pole “Pian” ve formuláři je matoucí
- [x] - Připojený ve výchozím režimu pouze vypsat (tj. převést pole na neaktivní).
- [x] - Do nabídky možností doplnit “Připojit PIAN podle ID”, která umožní změnu PIAN výběrem ze seznamu

[2022-01-27 16:22] motyc opened #318 "Modul Samostatné akce"
Jedná se o ekvivalent projektových akcí (http://192.168.254.30:8080/arch-z/akce/detail/ a související view) s následujícími rozdíly:
- [x] - Samostatná akce existuje bez vazby na projekt (rozlišit lze podle “N” v poli “typ”)
- [x] - Má samostatnou položku “Samostatné akce” na úvodní obrazovce (zelená - #247e4b) a související menu, s volbami:
- Zapsat akci (otevře obdobu http://192.168.254.30:8080/

[2022-01-27 16:49] motyc opened #319 "Modul Lokality"
Jedná se o ekvivalent samostatných akcí (#318), od kterých se odlišuje následujícím:
- [x] Související URL budou mít schéma http://192.168.254.30:8080/arch-z/lokalita/* (dále jako u akce)
- [x] Formuláře mají odlišný obsah (https://docs.google.com/spreadsheets/d/1jwzkkpbFgAiywPsET54y5Spwrr6gv8-FLiOUJoQcQL0/edit)
- [x] Položka “Lokality” na úvodní stránce je fialová (#951e7a), položky v menu jsou:

[2022-01-27 16:54] #64 closed

[2022-01-27 16:56] motyc opened #320 "Modul Dokumenty - dokončení"
Přidávání dokumentů je již částečně implementováno jako součást workflow projektových akcí. Jedná se o základ, resp. specifické užití, které je třeba dále rozvinout a doplnit o celkovou správu dokumentů.

Celkové řešení formulářů viz: https://docs.google.com/spreadsheets/d/1LzGctLXR5-9MJl1rG75l6rKrJ7BvzXDGdSQ_uloyuSg/edit#gid=931266329

Co je třeba dodělat:
- [x] Samostatnou položku “Dokumenty” na

[2022-01-27 16:57] motyc commented on #320
Vzorové řešení pro autory podle Academi.edu:
![image](https://user-images.githubusercontent.com/20186892/151406417-a0105f76-fed3-4fd0-904d-21c76a51cc2f.png)

[2022-01-27 16:59] motyc opened #321 "Modul Lety"
Spravovat lety
- [ ] Klasické view pro výběr (tabulka + filtrace)
- [ ] Detail letu obsahuje
- formulář s údaji
- možnost editovat údaje
- smazat existující let (pokud nemá vazby)
- možnost zapsat nový let
- zobrazení historie (stavový řádek + tabulku)
- [ ] Tabulku s přehledem připojených dokumentů s možností
- připojit dokument k letu
- odpojit dokument od letu

Musíme ještě domyslet, odkud a ja

[2022-01-27 17:04] motyc opened #322 "Ladění formulářů - revize povinných polí"
Všude nutno prověřit povinná/nepovinná pole.

[2022-01-27 17:05] motyc opened #323 "Ladění formulářů - autocomplete"
Dořešit autocomplete - musí být na podstatných místech pro textová pole aktivní (hlavně na http://192.168.254.30:8080/oznameni/).

[2022-01-27 17:06] motyc opened #324 "Ladění formulářů - barevné zvýraznění povinných polí"
Uvážit barevné zvýraznění povinných polí (hvězdička je nevýrazná).

[2022-01-27 17:09] motyc opened #325 "Filtrace podle historie záznamu"
Výběry záznamu projekt, akce, lokalita, dokument, bibliografie musí obsahovat multiselect sledování změn daného záznamu dle typu změny (nedotaženo - chybná logika fungování).

Jde o tuto část fitračního formuláře (obdobná by měla být u všech podobných tabulek pro výběr; https://wamcr-test.aiscr.cz/projekt/list):
![image](https://user-images.githubusercontent.com/20186892/151408303-f43f6eb8-dbd1-47

[2022-01-27 17:11] motyc opened #326 "Filtrace - rozbalování částí"
Doplnit možnost rozbalování částí ve formulářích filtrace (aby nebyl rovnou tak zbytečně komplexní a velký).

Již pěkně funguje pro historii u Knihovny 3D - takto doplnit všude (co nadpis části, to možnost rozbalení).

[2022-01-27 17:20] motyc opened #327 "Řazení v polích s hesláři"
Řazení musí být vždy podle pole "poradi". Pokud toto pole v hesláři není vyplněno (či neexistuje), pak podle zobrazovaných hesel podle abecedy v češtině se speciálními znaky na začátku seznamu

[2022-01-27 17:21] motyc opened #328 "Filtrace - asynchronní hesláře"
Provedena revize. Zde je potřeba doplnit asynchronní seznamy:

- [x] `/adb/zapsat/<str:dj_ident_cely>` + `/dj/detail/<str:ident_cely>`
-- Autor popisu
-- Autor revize
- [x] `/arch-z/akce/zapsat/<str:projekt_ident_cely>` + `/arch-z/akce/edit/<str:ident_cely>`
-- Hlavní vedoucí
-- Vedoucí
- [x] `/dj/zapsat/<str:arch_z_ident_cely>` + `/dj/detail/<str:ident_cely>` - PIAN
- [x] `/pas/vyber` (multivýběr

[2022-01-27 17:23] motyc opened #329 "Vícestupňové hesláře - revize"
Není implementováno správné chování vícestupňových heslářů (oddělovače v seznamech - funguje dobře např. pro typ akce, ale na mnoha jiných místech nikoli)

[2022-01-27 17:24] motyc commented on #329
[heslare_urovne_kontrola_220126_.xlsx](https://github.com/ARUP-CAS/aiscr-webamcr/files/7952574/heslare_urovne_kontrola_220126_.xlsx)

[2022-01-27 17:29] motyc opened #330 "Umožnit dočasné odkrytí zadaného hesla"
Umožnit dočasné odkrytí zadaného hesla (registrační formulář a vstupní obrazovka).

[2022-01-27 17:32] motyc opened #331 "Projekt - formulář pro zápis/editaci - drobné ladění"
- [x] Při vyhledávání v katastrech podle “kořene” začne při zadávání textového řetězce nabízet katastry podle abecedy, bez ohledu na to, kde se ve slově řetězec vyskytuje. Uživatele by mohlo mást, že katastr, který hledají, je třeba až na pátém místě v nabídce a před ním jsou katastry začínající na jiná písmena. Lze to technicky řadit nejprve podle zadaného řetězce podle abecedy a až poté bez ohle

[2022-01-27 17:35] motyc opened #332 "Filtrace projektů - nejednotný formát heslářů"
Formát rozbalovacích seznamů je nejednotný (minimálně tři 4 typy - Typ, Stav, Územní přísl., Zjištění).

Všude používat jako základní variantu drop down s vyhledáváním (pokud není funkcionalita nějak specifická).

![image](https://user-images.githubusercontent.com/20186892/153274544-c4f3dbcf-eed3-4c30-be62-3955b4dcbff0.png)

![image](https://user-images.githubusercontent.com/20186892/153274598-23a

[2022-01-27 17:37] motyc opened #333 "Filtrace projektů - doplnit filtraci podle ADB"
Viz https://docs.google.com/spreadsheets/d/12vYM2HgqefWvgQe8AQoDTun4nWfkATqgLMKfyVJxCIM/edit#gid=722556094

[2022-01-27 17:42] motyc opened #334 "Lépe zvýraznit pole s chybami"
Pokud nevyplním povinné pole, po kliknutí na “Vytvoř akci” se pole zvýrazní. Přidat i hlášku připomínající, které pole je třeba doplnit

Hlášky o chybách jsou navíc nejednotné - dobře viditelné na formuláři https://wamcr-test.aiscr.cz/projekt/create (chování pole Telefon je při chybě jiné, než u ostatních polí - výpis chyby pod polem vs. výpis chyby v tooltipu).

[2022-01-27 17:44] motyc opened #335 "Formulář zápisu/editace akce - opravit grafiku neaktivních polí"
Opravit grafiku neaktivních polí (katastry zašednout).

[2022-01-27 17:47] motyc opened #336 "Projekt - edit - grafika pole Organizace"
V Mozille se při zahájení editace rozhodí umístění pole Organizace (vyskočí výše než sousední pole)
![image](https://user-images.githubusercontent.com/20186892/151414927-475033ea-6ed8-4e13-96bf-1dd46a9187de.png)

[2022-01-27 22:17] motyc opened #337 "Formuláře - doplnění tooltipů"
Měly by být dostupné jako zástupné klíče pro všechna pole. Jejich naplnění proběhne v souvislosti s obecným laděním a doplněním textů. Pro testovací účely lze používat Lorem ipsum.

Správné řešení tooltipů (graficky) obsahuje např. stránka https://wamcr-test.aiscr.cz/oznameni)

[2022-01-27 22:29] motyc opened #338 "Rozložení formulářů - akce"
https://docs.google.com/spreadsheets/d/1Ms3WEEfARICKbUr25_vGD7ymmwPJEaMw8WbcSB4UdwM/edit#gid=1159589666

[2022-01-27 22:31] motyc opened #339 "Rozložení formulářů - dokumenty"
https://docs.google.com/spreadsheets/d/1LzGctLXR5-9MJl1rG75l6rKrJ7BvzXDGdSQ_uloyuSg/edit#gid=931266329

[2022-01-27 22:32] motyc opened #340 "Rozložení formulářů - Knihovna 3D"
https://docs.google.com/spreadsheets/d/1WVSCrVVFGZduhZ9tbDCeea9c7wyvgCYMWORe8k1AzYg/edit#gid=1525832777

[2022-01-27 22:32] motyc opened #341 "Rozložení formulářů - Projekty"
Zejména je třeba při editaci projektů zohlednit stav projektů pro stanovení povinných a nepovinných polí; viz příslušné listy:
https://docs.google.com/spreadsheets/d/12vYM2HgqefWvgQe8AQoDTun4nWfkATqgLMKfyVJxCIM/edit#gid=1808817771

[2022-01-27 22:34] motyc opened #342 "Rozložení formulářů - PAS"
https://docs.google.com/spreadsheets/d/1EaMlKchCjaVRDwGLYDytvEHgSEPfCqFmkxOAw9PaEQ8/edit

[2022-01-27 22:39] motyc opened #343 "Modul Externí zdroje"
**Přidání funkcionality sestává ze dvou částí:**
- Doplnění správy externích zdrojů (v AMČR původně nazýváno “Bibliografie”)
- Doplnění externích odkazů do view archeologických záznamů (akcí a lokalit)
- Zadání formulářů viz: https://docs.google.com/spreadsheets/d/130YHMD3QNuwzZYZJACbiqp0icYQsrCIQWOL89eKn2rk/edit

### Správa externích zdrojů
- [x] Související URL budou mít schéma http://192.168.25

[2022-01-27 22:42] motyc opened #344 "Responsivní chování a optimalizace pro prohlížeče"
- [ ] Zajistit základní responsivní chování všech obrazovek (správné překrývání prvků, vhodné zalamování, řazení pod sebe, chování modal oken apod.) při šířce >= 360 px. Pod tuto šířku se šířka fixuje a zapne se rolování do stran pro celou stránku.
- [ ] Nutno odladit pro Chrome, Mozilla Firefox, MS Edge and Safari.
- [ ] Zvlášť odladit modul PAS tak, aby zápis a editace nálezů bylo možné pohodlně

[2022-01-27 22:44] motyc opened #345 "Ve formulářích se často zobrazují dvě vertikální rolovátka"
Ve formulářích se často zobrazují dvě vertikální rolovátka a chování je pak zvláštní (např. detail akce). Pracovat vždy pouze s jedním (kromě výběrových tabulek s výsledky).

[2022-01-27 22:46] motyc opened #346 "Chování menu u horní lišty"
Volby v horní liště - pokud rozkliknu Další volby, zůstane menu na obrazovce i po opuštění tlačítka a rolování níže (odpojí se od tlačítka a posouvá se spolu se zobrazením).

Nejde o chyby - budeme dále sledovat a o ideálním řešení rozhodneme v budoucnu.

[2022-01-27 22:47] motyc opened #347 "Záhlaví formulářů udělat též v barvě patřičné workflow"
Záhlaví formulářů udělat též v barvě patřičné workflow. Hodně splývají s pozadím a když člověk odroluje hlavní záhlaví, tak barvu už nikde nevidí.

[2022-01-27 22:49] motyc opened #348 "Úprava marginů a řádkování"
- Stále je to vše graficky hodně roztahané, se spoustou zbytečných mezer atd.; pokusit se o zmenšení polí, marginů atd. tak, aby se toho na obrazovku vešlo co nejvíce.
- Formuláře, tabulky (a celkové rozložení) - zmenšit výšku řádků (line-height: 1.5 -> 1)

[2022-01-27 22:50] motyc opened #349 "Ikony pro funkce Odpojit a Smazat by měly být různé"
Ikony pro funkce Odpojit a Smazat by měly být různé (viz tabulky připojených záznamů).

[2022-01-27 22:52] motyc opened #350 "Responsivní chování tabulek"
- [ ] Na mobilu tabulkové zobrazení nebude moc fungovat - řešit jako v původním AMČR-PAS?
- [ ] Každý sloupec má mít stanovenou vhodnou minimální šířku a maximální šířku (viz **zadání tabulek**). Reálná šířka při načtení tabulky má být dána skutečným prostorem na obrazovce a jedině v případě nedostatku prostoru i při minimálním nastavení se zobrazí rolovátko/mobilní zobrazení již od začátku.
- [ ]

[2022-01-27 22:55] motyc opened #351 "Tabulky - ladění funkcí"
- [x] Podporovat řazení podle více sloupců (částečně snad připraveno: https://github.com/ARUP-CAS/aiscr-webamcr/issues/54#issuecomment-851450138).
- [x] Musí být možné přejít na konkrétní list tabulky.
- [x] Musí být možné zvolit počet záznamů na listu (výchozí hodnota 100).
- #499 - vyčleněno zvlášť
- [x] Popisky sloupců centrovat vertikálně na střed buňky.
- [x] Názvy sloupců uvádět jako singulá

[2022-01-27 22:58] motyc opened #352 "Sjednocení null hodnot v tabulkách"
Jak v zobrazené, tak ve stažené tabulce (CSV, JSON, XLSX) jsou v některých sloupcích jako null hodnoty použity em pomlčky a v některých spojovníky (- vs —), to stěžuje následné parsování atd. Pro null hodnoty nechat políčko zcela prázdné.

[2022-01-27 23:01] motyc opened #353 "Tabulky historie převést na standardní formát"
Použít stejné základní chování jako na https://wamcr-test.aiscr.cz/projekt/list

[2022-01-27 23:05] motyc opened #354 "Vyřešit vhodným způsobem překlady"
Každý textový řetězec v aplikaci by měl mít svůj unikátní klíč, na základě kterého půjde editovat jeho znění v CS a EN. Je třeba najít nejvhodnější cestu, jak dosáhnout udržitelného řešení.

[2022-01-27 23:07] motyc opened #355 "Potvrzení ukládání, vytváření a změny stavů v pop-upu"
Stávající nadbytečné stavové a potvrzovací obrazovky nahradit modal okny.

[2022-01-27 23:08] motyc opened #356 "Proklik do historie umožnit i přes stavovou lištu"

[2022-01-27 23:09] motyc opened #357 "Oznámení pro uživatele jsou nekonzistentní"
Oznámení pro uživatele jsou nekonzistentní co do způsobu řešení - http://192.168.254.30:8080/pas/odeslat/ to má jinak než zbytek (možná vlastně lépe). Sjednotit.

[2022-01-27 23:11] motyc opened #358 "Sjednocení formátu datumů"
Zkontrolovat, že jsou všude jednotně datumy podle (formuláře DD.MM.YYYY; tabulky YYYY-MM-DD)

[2022-01-27 23:15] motyc opened #359 "Položka Domů v levém menu"
- [x] Bylo by dobré zbavit se nutnosti mít položku “Domů” v každém submenu. Dali bychom přednost řešení, kdy:
-- se karty a submenu objeví po kliknutí na název menu (např. Projekty)
-- šipka bude fungovat samostatně pro zabalení nabídky, nebo tam v podstatě vůbec nemusí být (menu se zabalí samo při přechodu do jiné části aplikace)

[2022-01-27 23:16] motyc opened #360 "Ladění formuláře oznámení"
- [x] Loga - doplnit prokliky na stránky ústavů.
- [x] Emailové adresy - přidat odkazy jako ‘mailto’ (v informacích po rozbalení).

[2022-01-27 23:19] motyc opened #361 "Zvážit jiné umístění tlačítka Vybrat ve filtraci"
Zvážit jiné umístění tlačítka Vybrat projekty (ve filtraci)

Částečně souvisí s #326 (řešit až bude hotovo)

[2022-01-31 11:35] motyc opened #362 "Automatické přejmenování souborů"
Doplnit automatické přejmenování souborů při nahrání
- [x] Dokumenty
- podle ident_cely nadřazeného dokumentu bez pomlček
- první soubor bez suffixu, každý další se suffixem A-Z (Z je maximum, CH nepoužívat)
- příklad: 1. soubor: `[hash]_CTX202112345.pdf`; 2. soubor: `[hash]_CTX202112345A.pdf`
- [x] Samostatné nálezy
- podle ident_cely nadřazeného nálezu bez pomlček
- první soubor bez suffixu, kaž

[2022-01-31 11:47] motyc opened #363 "U souborů se nedoplňuje počet stran"
- [x] PDF, TIFF - skutečný počet stran
- [x] TXT, CSV, JPEG, PNG - vždy 1

Jiné formáty nepodporujeme (viz #320).

[2022-01-31 11:48] motyc commented on #19
![image](https://user-images.githubusercontent.com/20186892/151788715-52b4d9df-14e4-4b17-9596-16a896664aa3.png)

[2022-01-31 11:55] motyc opened #364 "Doplnění historie souborů"
Zaznamenat je třeba pouze nahrání daného souboru (mohou se měnit jeho verze, viz #260):
- historie.datum_zmeny - datum a čas
- historie.typ_zmeny - teoreticky může být prázdné, ale nevím, jak se kódy v daném poli používají; zde je jediná možnost, tj. nahrání dané verze souboru
- historie.uzivatel - uživatel, který soubor nahrál
- historie.poznamka - název souboru při nahrání
- historie.vazba - vaz

[2022-01-31 11:57] motyc opened #365 "Nasazení repozitáře Fedora"
Místo stávajícího ukládání souborů implementovat repozitář Fedora 6.3 (https://wiki.lyrasis.org/display/FEDORA6x).

### Definice metadat
- https://github.com/ARUP-CAS/aiscr-webamcr/tree/dev/webclient/xml_generator/definitions - obsahuje XSD + příklad metadata.xml pro všechny entity

**Popis XSD**
- vždy slouží pro nastavení generování XML dokumentu _metadata.xml_
- slouží k validaci výstupu do Fed

[2022-01-31 12:02] motyc opened #366 "Nastavení sekvenčních tabulek"
Sekvenční tabulky – budeme se muset dohodnout, do jaké míry budou připraveny předem (do jakého roku; v případě dokumentů musí obsahovat všechny řady…).

[2022-01-31 12:03] motyc opened #367 "Migrace uživatelů"
Dořešit migraci a fungování (nyní něco nativně Django + migrovaná do jiné struktury, která se však nepoužívá). Vše je nově v nativní tabulce “auth_user” a souvisejících. Zejména prověřit migraci oprávnění.

[2022-01-31 12:04] motyc opened #368 "Sam_nalez.evidencni_cislo někdy obsahuje -1"
Sam_nalez.evidencni_cislo někdy obsahuje -1 (problém je ve stávající databázi, nikoli v nové).

[2022-01-31 12:10] motyc opened #369 "Odstranění dokumentů ZA/ZL"
Vůbec nemigrovat dokumenty z řad ZA a ZL. Je třeba promyslet jejich odstranění a případné nahrazení informací přímo v DB.

[2022-01-31 12:20] motyc opened #370 "Odstranit PIAN bez vazeb"
Vyzálohovat a odstranit PIAN bez vazeb

[2022-01-31 12:24] motyc opened #371 "Revidovat a opravit geometrie PIAN"
Navazuje na https://github.com/ARUP-CAS/aiscr-amcr/issues/108

Parametry v souladu s #308

Nutné definovat vhodný postup.

[2022-01-31 12:26] motyc opened #372 "Aktualizovat katastry podle RÚIAN"
Nutno diskutovat a zvolit vhodný postup.

[2022-01-31 12:29] motyc opened #373 "Pro výškové body chybí migrace geometrie"
Pro výškové body chybí migrace geometrie.

Pole `vyskovy_bod.northing` a `vyskovy_bod.easting` měla být zrušena a migrována do pole `vyskovy_bod.geom`. Nyní v migrovaných datech původní hodnoty úplně chybí a u nových VB se vyplňuje obojí, ale ve špatném souřadnicovém systému (u výškových bodů pracujeme nativně se souřadným systémem S-JTSK). Vzhledem k tomu, že při vytváření VB dochází k odvození v

[2022-01-31 12:30] motyc opened #374 "Heslo v typ DJ “Nelokalizovaná akce” změnit na “Katastrální území”"
Heslo v typ DJ “Nelokalizovaná akce” převést na “Katastrální území”

[2022-01-31 12:31] motyc opened #375 "Vyřešit rozpory mezi katastrem akce/lokality a polohou PIAN"

[2022-01-31 12:33] motyc opened #376 "Oprava ident_cely výškového bodu při migraci"
U starých dat je ID ADB šestimístné (ADB-PRAH43-000012), ale odpovídající ID výškového bodu má ID ADB čtyřmístné (ADB-PRAH43-0012-V0001) -> doplnit převod.

[2022-01-31 12:38] motyc opened #377 "Upravit existující souřadnice na odpovídající počet řádů"
- [x] Upravit existující souřadnice na odpovídající počet řádů (viz #307)
- [x] Aplikovat kontrolu geometrií (zda nedošlo nově k chybám; viz #308 a #371)

[2022-01-31 12:40] motyc opened #378 "Ruční kontroly a opravy při migraci (ARÚ)"
- [ ] Zkontrolovat tabulku pian_sekvence, jestli obsahuje všechny ZM50.
- [ ] Vyřešit převod plánovaného zahájení na datum - je nutné ručně převést na nejlépe odpovídající interval.
- [ ] Ostatní vedoucí migrovat spolu s organizacemi a správně propojit - asi nutno zpětně vytáhnout z ADČ.
- [ ] Budeme nějak zpětně vytěžovat dokumenty ZA\ZL? Nebo si jen zaarchivujeme změny (suffix > 1)?
- [ ] Revido

[2022-01-31 13:35] motyc opened #379 "Uživatelská oprávnění - obecná příprava"
Původně řešeno v rámci #76

- [ ] Implementace metody over_opravneni_k_zaznamu - na základě modelu (třídy) záznamu bude umět ověřit, zda má uživatel oprávnění k záznamu.
- [ ] Implementace obecné funkce, které na základě adresy a skupiny uživatele vyhledá příslušné oprávnění.
- [ ] Pro pohledy typu list je vhodné přidat oprávnění jako součást filtru, aby nedocházelo ke zbytečnému načítání záznamů.

[2022-01-31 13:37] motyc opened #380 "Uživatelská oprávnění - projekty"
- [ ] Omezení pro práci s projektovou dokumentací:
- C - v P1 upload a download
- C - v P1 vlastní soubory
- C (projekty mé organizace) - P2-6 download; P2-P4 upload
- D, E - bez omezení
- [ ] Pokud organizace uživatele není OAO, nesmí jít projekt přihlásit.
- [ ] Zobrazení oznamovatele:
- P1 - C
- P2-P5 - C (projekty mé organizace), jinak jen D
- P7-P8 - D
- [ ] Musí být v souladu s https://drive

[2022-01-31 13:44] motyc opened #381 "Vstup do administrace"
Přidal volbu is_superadmin do admin. rozhraní.

[2022-01-31 13:49] motyc opened #382 "Administrace - sjednocení jazyka"
- [ ] Zvláštní je automatické přidávání množného čísla k názvům tabulek (ideálně vypnout).
- [ ] Celé pojetí je navíc dvojjazyčné (střídání CS a EN) - administraci řešit v CS.

[2022-01-31 13:52] motyc opened #383 "Správa novinek a textů na úvodní obrazovce"
Zahrnout správu novinek a textů na úvodní obrazovce do administrace - nelze řešit přes #354?

(navazuje na #119)

"Novinkami" je myšlen statický text, který bude načítaný přes Django translations.

[2022-01-31 13:53] motyc commented on #119
Nadále řešeno v #383

[2022-01-31 13:53] #119 closed

[2022-01-31 13:56] motyc opened #384 "Správa uživatelů"
- [x] Uživatele může editovat pouze administrátor (tj. uživatel s přístupem do administrace) s patřičným oprávněním k administraci uživatelů (viz další bod).
- [x] Doplnit správu oprávnění k určitým úkonům:
- správa uživatelů (souvisí s předchozím bodem)
- správa heslářů (zohlednit v #385)
- správa 3D (pouze příprava, dopad bude řešen později)
- správa skupin
- správa překladů

Úkoly související s

[2022-01-31 14:01] motyc opened #385 "Správa heslářů"
- [x] Může editovat pouze administrátor s patřičným oprávněním (k administraci heslářů; viz #384).
- [x] Obsahuje obdobné funkcionality jako administrace uživatelů (přehledové tabulky, vyhledávání, filtrace, hromadné operace atd.)
- [ ] Při přidání záznamu se automaticky generuje validní ident_cely pro daný typ záznamu (HES-123456), obdobně jako pro uživatele (viz #384).
- [x] Použitá hesla, osoby

[2022-01-31 14:04] motyc opened #386 "Úprava tabulky heslar_datace"
- [ ] mazat pole region
- [ ] přidat pole poznamka (text)

[2022-01-31 14:09] motyc opened #387 "Správa automatických úloh"
### Automatické úlohy

- [x] doplnit transakce
- [x] Před nasazením je třeba promyslet situace kdy úloha ovlivní velké množství záznamů, což může vést k problémům s ukládáním změn do Fedory.

(nastavit v Celery, vč. srozumitelného popisu)
- [x] Rok po zrušení projektu nahradit související údaje v tabulce oznamovatel řetězcem “RRRR-MM-DD: údaj odstraněn”, kromě pole projekt.oznamovatel + odstranit

[2022-01-31 14:18] motyc opened #388 "Monitoring běhu systému"
Cílem je minimalizovat riziko, že některá ze základních komponent systému neběží a nikdo na to nepřijde, dokud se nesnaží danou součást využít.

- [x] Funkčnost API (https://api.aiscr.cz/oai?verb=ListRecords&metadataPrefix=oai_amcr)
- [x] Funkčnost AMČR (https://amcr.aiscr.cz/)
- [x] Funkčnost Digiarchivu (https://digiarchiv.aiscr.cz/)

Nutno dále blíže specifikovat, jak přesně by mělo fungovat. A

[2022-01-31 14:22] motyc opened #389 "Emailové notifikace"
- [x] Označené druhy emailů nezasílat deaktivovaným uživatelům (viz Zasílat neaktivním účtům: ano / ne / N/A)
- [x] Uživatel by si měl mít možnost zvolit, které emaily a upozornění chce dostávat (pokud není zmíněno, emaily chodí vždy). Dostupné volby:
- AMČR: archivace záznamů (E-A-xx)
- AMČR-PAS: nové nálezy k potvrzení (E-N-01)
- AMČR-PAS: archivace záznamů (E-N-02)
- AMČR-PAS: nová žádost o spo

[2022-01-31 15:04] motyc opened #390 "Textové výpisy záznamů"
- [x] Budou řešeny jako HTML stránka, kam se vybraná data exportují podle nastavené šablony. Ta bude podobná výpisům v Digitálním archivu (https://digiarchiv.aiscr.cz/). Přesný popis viz: https://docs.google.com/document/d/18FUxoosNnVadxoiYcSYMzOAX2HVWyZ97AOEn905GxCc/edit
- [x] Důležité je přehledné formátování (jasná hierarchie, oddělení jednotlivých záznamů atd.) a snadný tisk na A4.

Výpis bude

[2022-01-31 15:15] motyc opened #391 "Prostředí pro hromadný import záznamů"
- [x] Prostředí je dostupné v administraci a pouze s rolí superadmina.
- [x] Import podmínit odstávkou systému, kvůli kolizi s činností uživatelů a celkovými nároky na zatížení systému.
- [x] Aktualizace dat ve Fedoře probíhá logováním dotčených ident_cely, jejich deduplikací a následným voláním aktualizace metadat až na závěr celého procesu. Nesmí docházet k tomu, že budou kontejnery aktualizován

[2022-01-31 15:26] motyc opened #392 "Správa lokalizací"
Cílem je vytvořit prostředí pro správce obsahu AMČR, kde na jednom místě uvidí prostorová data všech typů (tj. datové vrstvy reprezentující jednotlivé typy záznamů), bude je moci procházet, editovat a přecházet na detaily připojených záznamů.

- [ ] Jedná se o samostatnou položku v levém menu (dostupná pro archiváře a adminy)
- [ ] Obrazovka se skládá z mapy a výpisu záznamů
- [ ] Umožňuje zobrazi

[2022-01-31 15:30] motyc opened #393 "Mapový výběr"
Pro běžné uživatele doplnit mapový výběr/filtr ve výběru u dílčích workflow (projekty, samostatné akce, samostatné nálezy, lokality, knihovna 3D)

- [ ] Možnost zobrazení mapy (tlačítko vedle tlačítka “Filtr”), pomocí které půjde zobrazit filtrovat záznamy v tabulce s výsledky
- Mapa bude mít
- [ ] základní funkce
- [ ] nástroj pro prostorový výběr
- [ ] datovou vrstvu odpovídající dané workflow

[2022-01-31 15:33] motyc opened #394 "Verzování/auditní stopa"
Aplikace/DB by vhodným způsobem měla zachovávat auditní stopu o změnách záznamů. Je třeba prodiskutovat a navrhnout ideální/schůdné řešení.

Patrně by šlo využít již nasazeného https://django-simple-history.readthedocs.io/en/latest/

[2022-01-31 20:23] motyc commented on #339
Musí být řešeno jako součást #320

[2022-01-31 20:23] #339 closed

[2022-02-01 11:44] motyc commented on #247
Dodávám další informace:
- když si na daném počítači nastavím na pevno hosts file (doplněno: `69.16.175.42	code.jquery.com` a `69.16.175.42	releases.jquery.com`) funguje to pouze při připojení na přímo přes ip serveru
- když se připojuji přes https://wamcr-test.aiscr.cz/, nedaří se mi připojit

Stále platí, že na jiném počítači v téže síti to jede. Zároveň ale platí, že na daném počítači to nejde

[2022-02-01 12:15] MichalKminek commented on #247
Zaznam hosts nastavujes na Win nebo Linuxu? Rozliseni muzes vyzkouset prikazem ping. Mas nastevnou proxy? Mozna bude lepsi po telefonu, kdy by se ti to hodilo?

[2022-02-01 12:19] motyc commented on #247
@MichalKminek Je to na Win 10. Mám teď schůzku, ale po ní zavolám...

[2022-02-02 08:28] pesikj commented on #364
@motyc Jak má být historie přístupná? V administrátorském rozhraní, jako je to u uživatele, nebo jinak?

[2022-02-02 11:34] motyc commented on #364
@pesikj Vzhledem k jednoduchosti záznamů by to možná šlo řešit zobrazením v rámci #265, nicméně variantou je i zobrazení jako samostatné tabulky stejně, jako je to např. u projektů (viz např. https://wamcr-test.aiscr.cz/historie/projekt/C-200810941). Tabulka je všude totožná, tak by to v podstatě mělo být jen o využití téhož s jiným parametrem... (upozorňuji též na související issue #353). Proklik

[2022-02-02 12:03] motyc commented on #301
@jiri-bartos-huld Odhad po vysvětlení potvrzuji, jen prosím při implementaci zohlednit i budoucí potřeby implementace issue #299 a #300 (a případných dalších obdobných), aby se náklady na řešení nepropisovaly opakovaně.

[2022-02-02 12:08] motyc commented on #303
@jiri-bartos-huld Vzhledem k pravděpodobnosti, že to může jít snadněji případně prosím o efektivní využití ušetřeného času, zejména pro řešení #302, resp. pro odhadování obou úprav přímé souvislosti, ať se náklady neduplikují.

[2022-02-08 16:59] motyc commented on #329
@svejci Odpovídám na dílčí dotazy:
- _Jak budeme přistupovat k polím kde je na výběr jen ano/ne?_ Pokud to není přímo checkbox (což ve filtraci asi být nemůže), tak bych to dělal jako standardní heslář, ať to zbytečně nekomplikujeme více variantami.
- _Budeme mít do budoucna heslář pro licence u dokumentů?_ Osobně to zatím nepovažuji za možné, pouze by se měla vyplňovat defaultní hodnota.
- _Pokud

[2022-02-08 19:57] pesikj commented on #353
Odkaz https://wamcr-test.aiscr.cz/projekt/list mi nefunguje ani přes VPN, je server aktivní?

[2022-02-08 20:26] pesikj commented on #334
Já vidím u telefonu stejnou chybu jako třeba u Adresy oznamovatele.

![image](https://user-images.githubusercontent.com/15179154/153069721-e708344f-bfa2-48b3-a0e7-dfab8f2f2f98.png)

![image](https://user-images.githubusercontent.com/15179154/153069762-7157f80e-ee28-4e06-b914-567d14dba740.png)

[2022-02-08 22:14] motyc commented on #244
@pesikj V nasazené verzi otestovány položky označené jako vyřešené a odstraněny z prvního příspěvku.

[2022-02-09 13:27] motyc commented on #333
@pesikj u Typu akce má jít o vícestupňový heslář (chybí tam nadřazená hesla, která dělí seznam na dílčí skupiny, jako např. u hesláře období). Nicméně - toto není něco, čeho by se týkalo toto issue - podobné případy/chyby ještě na naší straně dohledáváme v rámci issue #329 (které budeme řešit, až revizi doděláme). V tomto issue jde pouze o přidání jediného pole, a to pro hledání podle ID ADB (v ta

[2022-02-09 13:29] motyc commented on #334
@pesikj Zkuste tam vyplnit chybnou hodnotu a pak odeslat. U emailu opět bude tooltip, u telefonu bude červený popisek pod polem.

[2022-02-09 18:30] pesikj commented on #333
My máme u issue tento popis:

* Formát rozbalovacích seznamů je nejednotný (minimálně tři 4 typy - Typ, Stav, Územní přísl., Zjištění).
* Doplnit filtraci podle ADB (viz  https://docs.google.com/spreadsheets/d/12vYM2HgqefWvgQe8AQoDTun4nWfkATqgLMKfyVJxCIM/edit#gid=722556094).

Je ten popis tedy k jinému issue?

Odhad je založený na tom, že ne na každý typ filtru je možné použít každý widget a custo

[2022-02-09 19:29] motyc commented on #333
Prosím, řiďte se tím, co je tady, nikoli tím, co máte původně v Jira. Právě proto, že tyto dvě věci spolu nesouvisí, jsme to i po dohodě na schůzce rozdělili na dvě issue, toto a #332 (tam jsem nyní doplnil i screenshoty těch rozdílných řešení, což považuji za chybu, nikoli za věc pro vývoj - pokud by někde byla odlišnost důvodná funkcionalitou, tak to prosí tam rozeberte, proč to tak má být).

#3

[2022-02-10 08:47] MichalKminek commented on #365
Mozna je to duplicitni issue s https://github.com/ARUP-CAS/IT/issues/19,

**Uložení dat:**
*existuje samostatný share - Repozitar*
*zálohování v rámci celé samby - přírůstková každou půlnoc*

Nebo je to jiný repozitar?

[2022-02-10 09:02] motyc commented on #365
@MichalKminek Tady jde o fungování úložiště pro webAMČR. Teď zde neočekávám nyní žádnou aktivitu, jde mi o to, abychom se někdy v nadcházejících týdnech potkali, popsali si, jak to má fungovat a dohodli se na pár detailech.

[2022-02-10 10:35] svejci commented on #322
Davide (@motyc ),
prošel jsem opět formuláře z pohledu povinných a nepoviných polí. Udělal jsem k tomu opět tabulku s přehledem stavu v návrhu formuláře a v aktuální nasazené verzi. Protože v původních návrzích formulářů jsem některé listy nedělal, tak mám opět nějaké dotazy, protože už nevím, jestli jsi daný list vytvořil jen jako kopii už existujícího s tím, že je celý třeba přepracovat, nebo už

[2022-02-10 16:50] motyc commented on #308
@jiri-bartos-huld

1. Spíše bych dal konstantu (např. <10 cm). Jde o to abychom se vyhnuli dvojklikům, které jsou pod rozlišovacími možnostmi systému. Přesné číslo asi budeme muset otestovat.
2. Revize zanesena a se vším souhlas.
3. Záleží na pracnosti. Pokud není problém být přesný, bude to užitečné, ale pokud je to velká komplikace, klidně stačí obecná hláška.

[2022-02-14 18:05] motyc commented on #133
@pesikj Možná by pomohlo řešení, že bychom si pro tyto tabulky věci, které nebudou součástí finálního řešení, vytvořili v administraci nějakou samostatnou záložku/kategorii? Tím by se věc vyjasnila a na konci vývoje by se to prostě jen dalo pryč.

[2022-02-15 09:16] motyc opened #395 "Optimalizace exportu tabulek"
Při pokusu o export celé tabulky projektů je aplikace zjevně zahlcena dotazy a celá (pro všechny uživatele) zpomalí. Dotaz dokonce ani nedoběhne a skončí chybou 504 (poté se vše pro všechny uživatele opět rozjede). Tímto způsobem tak lze efektivně narušit chod systému a to poměrně nevinnou činností dostupnou komukoli.

Je třeba najít cestu k optimalizaci funkce tak, aby k systém nezamrzal (oddělen

[2022-02-15 09:27] motyc opened #396 "Úprava názvů exportovaných tabulek"
Pojmenovat jako export_ + název modulu_ + timestamp ve formátu RRRR_MM_DD_HH_MM_SS + přípona.

Např. "export_projekty_2022-02-15-10-15-48.csv"

[2022-02-15 09:33] petrpajdla commented on #396
Ten timestamp by byl lepší s pomlčkami RRRR-MM-DD-HH-MM-SS aby se to kdyžtak dalo hezky rozsekat regexem ten celý název a timestamp zůstal vcelku, co myslíš?
Takže export_projekty_2022-02-15-10-32-00.csv.

[2022-02-15 09:35] motyc commented on #396
@petrpajdla Ok, souhlas, upravuji.

[2022-02-15 11:01] pesikj commented on #133
@motyc I agree with the proposal.

[2022-02-17 14:35] motyc commented on #381
Nyní po přidělení "is_staff" jde vstoupit do administrace, ale nejde v rámci ní nic zobrazit ani upravovat.

[2022-02-17 14:45] pesikj commented on #381
Přidal volbu is_superadmin do admin. rozhraní.

[2022-02-17 15:35] motyc opened #397 "Akce - chyba migrace dalších katastrů"
Nedošlo k převodu Akce - Další katastry do nové verze (např. C-200912861); prověřit též pro projekty a lokality

Problém je někde v migraci, kdy např. u akce C-200912861A nebyly správně převedeny další katastry, které v původní databázi jsou, ale v nové nikoli. Je třeba se podívat, jak chyba vznikla a zkontrolovat, že k převodu dochází správně všude, kde se s dalšími katastry pracuje, tj. u projek

[2022-02-17 16:31] motyc opened #398 "Prázdná textová pole v DB (null vs. prázdný řetězec)"
Django do prázdných textových polí nedává null ale ‘’ (viz třeba ADB-PRAH72-006774); dosud v databázi užíváno většinou null - mělo bychom to dělat jednotně a případně ošetřit v migraci.

Nejdříve prosíme @pesikj o popis stávajícího stavu, pak o návrh řešení.

Vzniklo rozdělením #123

[2022-02-17 16:32] motyc commented on #123
Rozděleno na #397 a #398.

[2022-02-21 08:33] svejci commented on #358
Provedena revize zobrazovaní datumů v aktuální nasazené verzi. Odchylky od jednotné formy (formuláře DD.MM.YYYY; tabulky YYYY-MM-DD) jsou shrnuty v přiložené tabulce. U chybných verzí připojena i URL, na které lze dané pole najít (umístění pole je popsáno i ve sloupcích Formulář, část, pole). V některých případech je pole viditelné na více stránkách a zadané URL je jen příkladem. V případě potřeby

[2022-02-22 10:37] pesikj commented on #382
![screencapture-localhost-8000-admin-uzivatel-user-add-2022-02-22-11_36_44](https://user-images.githubusercontent.com/15179154/155115256-6ac255af-689c-4edf-9fda-3df345c332a0.png)

[2022-02-22 10:46] pesikj commented on #382
@motyc Může to být takto? Jiné modely než uživatele jsem neřešil, protože ty budou z admin. rozhraní odebrány.

[2022-02-22 11:08] motyc commented on #327
@svejci Ondro, prosím ještě prověř toto, zda je to v pořádku...